---
{{- if and .Values.global.externalSecrets.deploy (not .Values.global.externalSecrets.dbCreate) }}
{{- if not .Values.externalSecrets.createCedarClientSecret }}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: cedar-g3auto
spec:
  refreshInterval: 5m
  secretStoreRef:
    name: {{include "common.SecretStore" .}}
    kind: SecretStore
  target:
    name: cedar-g3auto
    creationPolicy: Owner
  data:
  - secretKey: cedar_api_key.txt
    remoteRef:
      #name of secret in secrets manager
      key: {{include "cedar-api-key" .}}
  - secretKey: cedar_client_credentials.json
    remoteRef:
      #name of secret in secrets manager
      key: {{include "cedar-g3auto" .}}
  - secretKey: directory_id.txt
    remoteRef:
      #name of secret in secrets manager
      key: {{include "cedar-directory-id" .}}
{{- end }}
{{- end }}
