---
apiVersion: v1
kind: Service
metadata:
  name: cedar-wrapper-service
  labels:
    {{- include "cedar.labels" . | nindent 4 }}
spec:
  selector:
    {{- include "cedar.selectorLabels" . | nindent 6 }}
  type: {{ .Values.service.type }}
  ports:
    - protocol: TCP
      port: {{ .Values.service.httpPort }}
      targetPort: {{ .Values.service.targetPort }}
      name: http
      nodePort: null
    - protocol: TCP
      port: {{ .Values.service.httpsPort }}
      targetPort: {{ .Values.service.targetPort }}
      name: https
      nodePort: null