apiVersion: v1
kind: Service
metadata:
  name: manifestservice-service
  labels:
    {{- include "manifestservice.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: manifestservice
