apiVersion: v1
kind: Secret
metadata:
  name: gearbox-middleware-g3auto
type: Opaque
stringData:
  gearbox-middleware.env: | 
    DEBUG=True
    FORCE_ISSUER=True
    USER_API="http://fence-service/"
    ALLOWED_ISSUERS="http://fence-service/,https://localhost/user"