apiVersion: v1
kind: Service
metadata:
  name: ambassador-admin
  labels:
    service: ambassador-admin
spec:
  type: ClusterIP
  ports:
    - name: ambassador-admin
      port: 8877
      targetPort: 8877
  selector:
    {{- include "ambassador.selectorLabels" . | nindent 4 }}
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: ambassador
  name: ambassador-service
spec:
  ports:
  - port: 80
    targetPort: 8080
    name: proxy
  selector:
    {{- include "ambassador.selectorLabels" . | nindent 4 }}