# Default values for manifestservice.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

selectorLabels:
  app: manifestservice
  release: production

revisionHistoryLimit: 2

service:
  type: ClusterIP
  port: 80

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  annotations: {}
  name: ""

ingress:
  enabled: false
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local


autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80





strategy:
  type: RollingUpdate
  rollingUpdate:
    maxSurge: 1
    maxUnavailable: 0

labels:
  s3: "yes"
  public: "yes"
  userhelper: "yes"
  #GEN3_DATE_LABEL

affinity:
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
    - weight: 100
      podAffinityTerm:
        labelSelector:
          matchExpressions:
          - key: app
            operator: In
            values:
            - manifestservice
        topologyKey: "kubernetes.io/hostname"

automountServiceAccountToken: false


volumes:
  - name: config-volume
    secret:
      secretName: "manifestservice-g3auto"
  - name: cert-volume
    secret:
      secretName: "cert-manifestservice-service"
  - name: ca-volume
    secret:
      secretName: "service-ca"

terminationGracePeriodSeconds: 50


env:
  - name: REQUESTS_CA_BUNDLE
    value: /etc/ssl/certs/ca-certificates.crt
  - name: MANIFEST_SERVICE_CONFIG_PATH
    value: /var/gen3/config/config.json
  - name: GEN3_DEBUG
    value: "False"

volumeMounts:
  - name: "cert-volume"
    readOnly: true
    mountPath: "/mnt/ssl/service.crt"
    subPath: "service.crt"
  - name: "cert-volume"
    readOnly: true
    mountPath: "/mnt/ssl/service.key"
    subPath: "service.key"
  - name: "ca-volume"
    readOnly: true
    mountPath: "/usr/local/share/ca-certificates/cdis/cdis-ca.crt"
    subPath: "ca.pem"
  - name: "config-volume"
    readOnly: true
    mountPath: "/var/gen3/config/"


resources:
  requests:
    cpu: 0.5
    memory: 512Mi
  limits:
    cpu: 1.0
    memory: 1024Mi

