# Default values for arborist.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

livenessProbe:
  path: "/health"
readinessProbe:
  path: "/health"
command: ["sh"]
args:
  - "-c"
  - |
    set -e
    # set env vars
    export PGSSLMODE="disable"

    # bring the database schema up to the latest version
    /go/src/github.com/uc-cdis/arborist/migrations/latest

    # run arborist
    /go/src/github.com/uc-cdis/arborist/bin/arborist

dbService: true

# -- (bool) Whether the arborist rm exipred access cronjob is enabled.
cronjob:
  enabled: true
cronjobs:
  - name: arborist-rm-expired-access
    schedule: "*/5 * * * *"
    envFromApp: true
    dbSecretName: arborist-dbcreds
    affinityOverride: {}     # if empty, use default nodeAffinity
    automountServiceAccountToken: false
    command: ["sh"]
    args:
      - "-c"
      - |
        # run job to remove expired access from the database
        /go/src/github.com/uc-cdis/arborist/jobs/delete_expired_access
    dnsConfig:
      options:
        - name: use-vc
        - name: single-request-reopen


#  -- (map) This section is for setting up autoscaling more information can be found here: https://kubernetes.io/docs/concepts/workloads/autoscaling/
autoscaling: {}

# -- (bool) Whether Metrics are enabled.
metricsEnabled:

# -- (map) External Secrets settings.
externalSecrets:
  # -- (bool) Whether to create the database and Secrets Manager secrets via PushSecret.
  pushSecret: false
  # -- (string) Will override the name of the aws secrets manager secret. Default is "Values.global.environment-.Chart.Name-creds"
  dbcreds:
# -- (map) Secret information for External Secrets.
secrets:
  # -- (str) AWS access key ID. Overrides global key.
  awsAccessKeyId:
  # -- (str) AWS secret access key ID. Overrides global key.
  awsSecretAccessKey:

# -- (map) Postgres database configuration. If db does not exist in postgres cluster and dbCreate is set ot true then these databases will be created for you
postgres:
  # -- (bool) Whether the database should be created. Default to global.postgres.dbCreate
  dbCreate:
  # -- (string) Hostname for postgres server. This is a service override, defaults to global.postgres.host
  host:
  # -- (string) Database name for postgres. This is a service override, defaults to <serviceName>-<releaseName>
  database:
  # -- (string) Username for postgres. This is a service override, defaults to <serviceName>-<releaseName>
  username:
  # -- (string) Port for Postgres.
  port: "5432"
  # -- (string) Password for Postgres. Will be autogenerated if left empty.
  password:

# -- (int) Number of replicas for the deployment.
replicaCount: 1

# -- (map) Docker image information.
image:
  # -- (string) Docker repository.
  repository: quay.io/cdis/arborist
  # -- (string) Docker pull policy.
  pullPolicy: IfNotPresent
  # -- (string) Overrides the image tag whose default is the chart appVersion.
  tag: ""

# -- (list) Docker image pull secrets.
imagePullSecrets: []

# -- (string) Override the name of the chart.
nameOverride: ""

# -- (string) Override the full name of the deployment.
fullnameOverride: ""

# -- (map) Service account to use or create.
serviceAccount:
  # -- (bool) Specifies whether a service account should be created.
  create: true
  # -- (map) Annotations to add to the service account.
  annotations: {}
  # -- (string) The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""
# Declare variables to be passed into your templates.

# -- (map) Annotations to add to the pod
podAnnotations: {}

# -- (map) Security context to apply to the pod
podSecurityContext:
  # fsGroup: 2000

# -- (map) Security context to apply to the container
securityContext:
  {}

  # -- (map) Linux capabilities to drop
  # capabilities:
  #   drop:
  #   - ALL

  # -- (bool) Whether to use a read-only root filesystem
  # readOnlyRootFilesystem: true

  # -- (bool) Whether to run the container as a non-root user
  # runAsNonRoot: true

  # -- (int) The user ID to run the container as
  # runAsUser: 1000

# -- (map) Kubernetes service information.
service:
  # -- (string) Type of service. Valid values are "ClusterIP", "NodePort", "LoadBalancer", "ExternalName".
  type: ClusterIP
  # -- (int) The port number that the service exposes.
  port: 80

# -- (map) Resource requests and limits for the containers in the pod
resources:
  # -- (map) The amount of resources that the container requests
  requests:
    # -- (string) The amount of memory requested
    memory: 12Mi
  # -- (map) The maximum amount of resources that the container is allowed to use
  limits:
    # -- (string) The maximum amount of memory the container can use
    memory: 512Mi

# -- (map) Node selector to apply to the pod
nodeSelector: {}

# -- (list) Tolerations to apply to the pod
tolerations: []

# -- (map) Affinity rules to apply to the pod
affinity: {}

# -- (list) Volumes to attach to the pod
volumes: []

# -- (list) Volume mounts to attach to the container
volumeMounts: []

# -- (list) Environment variables to pass to the container
env:
# -- (string) The URL of the JSON Web Key Set (JWKS) endpoint for authentication
- name: JWKS_ENDPOINT
  value: "http://fence-service/.well-known/jwks"
- name: PGSSLMODE
  value: disable

# Values to determine the labels that are used for the deployment, pod, etc.
# -- (string) Valid options are "production" or "dev". If invalid option is set- the value will default to "dev".
release: "production"
# -- (string) Valid options are "true" or "false". If invalid option is set- the value will default to "false".
criticalService: "true"
# -- (string) Label to help organize pods and their use. Any value is valid, but use "_" or "-" to divide words.
partOf: "Authentication"
# -- (map) Will completely override the selectorLabels defined in the common chart's _label_setup.tpl
selectorLabels:
# -- (map) Will completely override the commonLabels defined in the common chart's _label_setup.tpl
commonLabels:
# -- (map) Will completely override the extraLabels defined in the common chart's _label_setup.tpl
extraLabels:
  authprovider: "yes"
  dbarborist: "yes"
  public: "yes"