apiVersion: v1
kind: ConfigMap
metadata:
  name: manifest-global
data:
  "environment": {{ .Values.global.environment | quote }}
  "hostname": {{ .Values.global.hostname | quote }}
  "revproxy_arn": {{ .Values.global.revproxyArn | quote }}
  "dictionary_url": {{ .Values.global.dictionaryUrl | quote }}
  "portal_app": {{ .Values.global.portalApp | quote }}
  "public_datasets": {{ .Values.global.publicDataSets | quote }}
  "tier_access_level": {{ .Values.global.tierAccessLevel | quote }}
  "tier_access_limit": {{ .Values.global.tierAccessLimit | quote }}
  "netpolicy": {{ .Values.global.netPolicy | quote }}
  "dispatcher_job_num": {{ .Values.global.dispatcherJobNum | quote }}
  "frontend_root": {{ .Values.global.frontendRoot | quote }}
  {{- with .Values.global.origins_allow_credentials }}
  "origins_allow_credentials": {{ . | toJson | quote }}
  {{- end -}}
  {{- with .Values.global.manifestGlobalExtraValues }}
  {{- range $key, $value := . }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
  {{- end }}