apiVersion: v1
kind: ConfigMap
metadata:
  name: openshift-fence-override-files
data:
  dockerrun.bash: |-
    #!/bin/bash
    #
    # Kubernetes may mount jwt-keys as a tar ball
    #
    if [ -f /fence/jwt-keys.tar ]; then
      (
        cd /fence
        tar xvf jwt-keys.tar
        if [ -d jwt-keys ]; then
          mkdir -p keys
          mv jwt-keys/* keys/
        fi
      )
    fi

    /usr/bin/nginx

    poetry run gunicorn -c "/fence/deployment/wsgi/gunicorn.conf.py"

  gunicorn.conf.py: |-
    from os import getuid, getgid
    wsgi_app = "deployment.wsgi.wsgi:application"
    bind = "0.0.0.0:8000"
    workers = 1
    preload_app = True
    user = getuid()
    group = getgid()
    timeout = 300
    keepalive = 2
    keepalive_timeout = 5
