apiVersion: apps/v1
kind: Deployment
metadata:
  name: pidgin-deployment
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "pidgin.selectorLabels" . | nindent 6 }}
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  {{- with .Values.strategy }}
  strategy:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  template:
    metadata:
      labels:
        # gen3 networkpolicy labels
        netnolimit: 'yes'
        public: 'yes'
      {{- if eq (include "pidgin.ddEnabled" . ) "true" }}
        tags.datadoghq.com/service: "pidgin"
        # TODO: move this to helpers so we can have this populated from a configmap
        tags.datadoghq.com/env: {{ .Values.dataDog.env }}
        tags.datadoghq.com/version: {{ .Values.image.tag | default .Chart.AppVersion }}
      {{- end }}
        {{- include "pidgin.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      automountServiceAccountToken: {{ .Values.automountServiceAccountToken }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          env: 
            - name: GEN3_DEBUG
              value: "False"
            {{- with .Values.ddTraceEnabled }}
            - name: DD_TRACE_ENABLED
              value: {{ . }}
            {{- end }}
            {{- with .Values.ddEnv }}
            - name: DD_ENV
              value: {{ . }}
            {{- end }}
            {{- with .Values.ddService }}
            - name: DD_SERVICE
              value: {{ . }}
            {{- end }}
            {{- with .Values.ddVersion }}
            - name: DD_VERSION
              value: {{ . }}
            {{- end }}
            {{- with .Values.ddLogsInjection }}
            - name: DD_LOGS_INJECTION
              value: {{ . }}
            {{- end }}
            {{- with .Values.ddProfilingEnabled }}
            - name: DD_PROFILING_ENABLED
              value: {{ . }}
            {{- end }}
            {{- with .Values.ddTraceSampleRate }}
            - name: DD_TRACE_SAMPLE_RATE
              value: {{ . }}
            {{- end }}
            {{- with .Values.ddTraceAgentHostname }}
            - name: DD_TRACE_AGENT_HOSTNAME
              value: {{ . }}
            {{- end }}
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12}}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12}}
          {{- end }}
          {{- with .Values.containerPort}}
          ports:
            {{- toYaml . | nindent 10}}
          {{- end }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}