# Default values for datareplicate.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

suspendCronjob: true

# Global configuration
global:
  # -- (map) External Secrets settings.
  externalSecrets:
    # -- (bool) Will use ExternalSecret resources to pull secrets from Secrets Manager instead of creating them locally. Be cautious as this will override secrets you have deployed.
    deploy: true

# -- (map) external secrets for datareplicate jobs
externalSecrets:
  deploy: true
  googleCredsSecret:
  awsCredsSecret:
  dcfDataserviceSettingsSecret:

# -- (map) Resource requests and limits for the containers in the pod
resources:
  # -- (map) The amount of resources that the container requests
  requests:
    # -- (string) The amount of CPU requested
    cpu: "2"
    # -- (string) The amount of memory requested
    memory: 512Mi
  # -- (map) The maximum amount of resources that the container is allowed to use
  limits:
    # -- (string) The maximum amount of memory the container can use
    memory: 2Gi

image:
# -- (string) Docker repository.
  repository: quay.io/cdis/dcf-dataservice
  # -- (string) Overrides the image tag whose default is the chart appVersion.
  tag: "master"

awsBatchReplicateJob:
  enabled: true
  schedule: "*/30 * * * *"
  REGION:
  THREAD_COUNT:
  MAX_RETRIES:
  # SOURCE_BUCKET:
  # DESTINATION_BUCKET:
  MANIFEST_PATH:
  JOB_QUEUE:
  JOB_DEFINITION:
  OUTPUT_MANIFEST_BUCKET:

awsBucketReplicateJob:
  enabled: true
  schedule: "*/30 * * * *"
  THREAD_NUM:
  CHUNK_SIZE:
  GDC_BUCKET_NAME:
  LOG_BUCKET:
  RELEASE:
  QUICK_TEST:
  MANIFEST_FILE:

googleBucketReplicateJob:
  enabled: true
  # -- (bool) Whether to enable the Google bucket replicate job
  schedule: "*/30 * * * *"
  PROJECT:
  MAX_WORKERS:
  RELEASE:
  MANIFEST_FILE:
  IGNORED_FILE:
  LOG_BUCKET:

removeObjectsFromCloudsJob:
  enabled: true
  suspendCronjob: true
  schedule: "*/30 * * * *"
  # Value Must be capitalized string value i.e. True, False
  DRY_RUN:
  RELEASE:
  MANIFEST_FILE:
  IGNORED_FILE:
  LOG_BUCKET:
  ONLY_REDACT:

replicateValidationJob:
  enabled: true
  suspendCronjob: true
  schedule: "*/30 * * * *"
  RELEASE:
  MANIFEST_FILE:
  IGNORED_FILE:
  LOG_BUCKET:
  OUT_FILES:
  MAP_FILE:
  SAVE_COPIED_OBJECTS:
  FORCE_CREATE_MANIFEST:

batchServiceAccount:
  annotations: {}
replicateServiceAccount:
  annotations: {}
