# Default values for datareplicate.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Global configuration
global:
  # -- (map) AWS configuration


# -- (map) Docker image information.



# -- (map) Resource requests and limits for the containers in the pod
resources:
  # -- (map) The amount of resources that the container requests
  requests:
    # -- (string) The amount of memory requested
    memory: 512Mi
  # -- (map) The maximum amount of resources that the container is allowed to use
  limits:
    # -- (string) The maximum amount of memory the container can use
    memory: 2Gi

image:
# -- (string) Docker repository.
  repository: quay.io/cdis/datareplicate
  # -- (string) Overrides the image tag whose default is the chart appVersion.
  tag: "master"
googleBucketReplicateJob:
  # -- (bool) Whether to enable the Google bucket replicate job
  PROJECT: dcf-prod-buckets
  MAX_WORKERS: 80
  RELEASE: DR43
  MANIFEST_FILE: gs://replication-input/GDC_full_sync_active_manifest_20190326_post_DR43.0.tsv
  IGNORED_FILE: gs://replication-input/ignored_files_manifest.csv
  LOG_BUCKET: datarefresh-log
removeObjectsFromClouds:
  DRY_RUN: true
replicateValidationJobs:
  OUT_FILES: replication_validation_output_manifest.tsv
  FORCE_CREATE_MANIFEST: true