# --- Folders ---
**/charts/
notes/
CA/
gen3_scripts/
gen3_etl/
_sample-*/

# --- Files ---
Chart.lock
# macOS system file (usually ignored)
.DS_Store  
# Helm secrets/values file                                 
secret-values.yaml                          
# Environment variables
.env                                        
# Instance generated service account or credentials
credentials.json                            
temp.yaml
# Main Helm values file
/values.yaml                               
postgres.txt
# External reference data file for PCDC
pcdc_data/external/external_reference.json  
# Script that creates external secrets IAM user
external_secrets.bash                    