# Global configuration
global:
  dev: false
  portal_app: gitops
  authz_entity_name: "subject"
  hostname: "gearbox-ped-gearbox-p1.apps.bsd-openshift-prod.bsd.uchicago.edu"
  # -- (bool) If the service will be deployed with a Pod Disruption Budget. Note- you need to have more than 2 replicas for the pdb to be deployed.
  pdb: true
  # -- (int) The minimum amount of pods that are available at all times if the PDB is deployed.
  minAvialable: 2
  #  -- (map) This section is for setting up autoscaling more information can be found here: https://kubernetes.io/docs/concepts/workloads/autoscaling/
  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    targetMemoryUtilizationPercentage: 80

arborist:
  enabled: false
  # -- (map) Resource requests and limits for the containers in the pod
  resources:
    # -- (map) The amount of resources that the container requests
    requests:
      # -- (string) The amount of memory requested
      memory: 12Mi
      # -- (string) The amount of CPU requested (e.g., 100m = 0.1 CPU)
      cpu: 100m
    # -- (map) The maximum amount of resources that the container is allowed to use
    limits:
      # -- (string) The maximum amount of memory the container can use
      memory: 512Mi
      # -- (string) The maximum amount of CPU the container can use
      cpu: 500m
  #local Dev Only
  # postgres:
  #   password: "arborist_thisisaweakpassword"
  image:
    # repository: quay.io/pcdc/arborist
    # tag: 2025.09
    repository: "973342646972.dkr.ecr.us-east-1.amazonaws.com/openshift-pcdc/arborist"
    tag: "latest"
    pullPolicy: Always
  service:
    # -- (string) Type of service. Valid values are "ClusterIP", "NodePort", "LoadBalancer", "ExternalName".
    type: ClusterIP
    # -- (int) The port number that the service exposes.
    port: 80
    targetPort: 8080
  podSecurityContext:
    runAsNonRoot: true
    runAsUser: 1000970000
    runAsGroup: 1000970000
    fsGroup: 1000970000

fence:
  enabled: true
  volumes:
    - name: old-config-volume
      secret:
        secretName: "fence-secret"
    - name: json-secret-volume
      secret:
        secretName: "fence-json-secret"
        optional: true
    - name: creds-volume
      secret:
        secretName: "fence-creds"
    - name: config-helper
      configMap:
        name: config-helper
        optional: true
    - name: logo-volume
      configMap:
        name: "logo-config"
    - name: config-volume
      secret:
        secretName: "fence-config"
    - name: fence-google-app-creds-secret-volume
      secret:
        secretName: "fence-google-app-creds-secret"
    - name: fence-google-storage-creds-secret-volume
      secret:
        secretName: "fence-google-storage-creds-secret"
    - name: fence-jwt-keys
      secret:
        secretName: "fence-jwt-keys"
    - name: privacy-policy
      configMap:
        name: "privacy-policy"
    - name: yaml-merge
      configMap:
        name: "fence-yaml-merge"
        optional: true
    - name: config-volume-public
      configMap:
        name: "manifest-fence"
        optional: true
    - name: nginx-config
      configMap:
        name: nginx-config
        items:
          - key: nginx.conf
            path: nginx.conf
    - name: openshift-fence-override-files
      configMap:
        name: openshift-fence-override-files
        defaultMode: 0755

  volumeMounts:
    - name: "old-config-volume"
      readOnly: true
      mountPath: "/var/www/fence/local_settings.py"
      subPath: local_settings.py
    - name: "json-secret-volume"
      readOnly: true
      mountPath: "/var/www/fence/fence_credentials.json"
      subPath: fence_credentials.json
    - name: "creds-volume"
      readOnly: true
      mountPath: "/var/www/fence/creds.json"
      subPath: creds.json
    - name: "config-helper"
      readOnly: true
      mountPath: "/var/www/fence/config_helper.py"
      subPath: config_helper.py
    - name: "logo-volume"
      readOnly: true
      mountPath: "/fence/fence/static/img/logo.svg"
      subPath: "logo.svg"
    - name: "privacy-policy"
      readOnly: true
      mountPath: "/fence/fence/static/privacy_policy.md"
      subPath: "privacy_policy.md"
    - name: "config-volume"
      readOnly: true
      mountPath: "/var/www/fence/fence-config.yaml"
      subPath: fence-config.yaml
    - name: "yaml-merge"
      readOnly: true
      mountPath: "/var/www/fence/yaml_merge.py"
      subPath: yaml_merge.py
    - name: "fence-google-app-creds-secret-volume"
      readOnly: true
      mountPath: "/var/www/fence/fence_google_app_creds_secret.json"
      subPath: fence_google_app_creds_secret.json
    - name: "fence-google-storage-creds-secret-volume"
      readOnly: true
      mountPath: "/var/www/fence/fence_google_storage_creds_secret.json"
      subPath: fence_google_storage_creds_secret.json
    - name: "fence-jwt-keys"
      readOnly: true
      mountPath: "/fence/keys/key/jwt_private_key.pem"
      subPath: "jwt_private_key.pem"
    - name: "config-volume-public"
      readOnly: true
      mountPath: "/var/www/fence/fence-config-public.yaml"
      subPath: fence-config-public.yaml
    - name: nginx-config
      mountPath: /etc/nginx/nginx.conf
      subPath: nginx.conf
      readOnly: true
    - name: openshift-fence-override-files
      mountPath: /fence/dockerrun.bash
      subPath: dockerrun.bash
      readOnly: true
    - name: openshift-fence-override-files
      mountPath: /fence/deployment/wsgi/gunicorn.conf.py
      subPath: gunicorn.conf.py
      readOnly: true

    # -- (list) Volumes to mount to the init container.

  initVolumeMounts:
    - name: "config-volume"
      readOnly: true
      mountPath: "/var/www/fence/fence-config.yaml"
      subPath: fence-config.yaml
    - name: "config-volume-public"
      readOnly: true
      mountPath: "/var/www/fence/fence-config-public.yaml"
      subPath: fence-config-public.yaml
    - name: "yaml-merge"
      readOnly: true
      mountPath: "/var/www/fence/yaml_merge.py"
      subPath: yaml_merge.py
    - name: "fence-google-app-creds-secret-volume"
      readOnly: true
      mountPath: "/var/www/fence/fence_google_app_creds_secret.json"
      subPath: fence_google_app_creds_secret.json
    - name: "fence-google-storage-creds-secret-volume"
      readOnly: true
      mountPath: "/var/www/fence/fence_google_storage_creds_secret.json"
      subPath: fence_google_storage_creds_secret.json

  service:
    # -- (string) Type of service. Valid values are "ClusterIP", "NodePort", "LoadBalancer", "ExternalName".
    type: ClusterIP
    # -- (int) The port number that the service exposes.
    port: 80
    targetPort: 8080

  podSecurityContext:
    supplementalGroups:
      - 1000
  # -- (map) Resource requests and limits for the containers in the pod
  resources:
    # -- (map) The amount of resources that the container requests
    requests:
      # -- (string) The amount of memory requested
      memory: 12Mi
      # -- (string) The amount of CPU requested (e.g., 100m = 0.1 CPU)
      cpu: 100m
    # -- (map) The maximum amount of resources that the container is allowed to use
    limits:
      # -- (string) The maximum amount of memory the container can use
      memory: 512Mi
      # -- (string) The maximum amount of CPU the container can use
      cpu: 500m
  image:
    # repository: quay.io/pcdc/fence
    # tag: "3.6.0"
    # pullPolicy: IfNotPresent
    repository: "973342646972.dkr.ecr.us-east-1.amazonaws.com/openshift-pcdc/fence"
    tag: "latest"
    pullPolicy: Always
  USER_YAML: |
    authz:

      resources:
        - name: portal
          description: data portal service
        - name: 'services'
          subresources:
          - name: 'gearbox'
            subresources:
            - name: 'data-admin'
            - name: 'data-manager'
          - name: 'fence'
            subresources:
              - name: 'admin'

      policies:
        - id: base_access
          resource_paths: ['/portal']
          role_ids: ['base_access']
        - id: 'services.gearbox-data-manager'
          description: 'admin access to most gearbox data endpoints'
          resource_paths: 
          - /services/gearbox/data-manager
          role_ids: 
          - 'data_manager'
        - id: 'services.gearbox-data-admin'
          description: 'admin access to gearbox data'
          role_ids:
            - 'data_admin'
          resource_paths:
            - '/services/gearbox/data-admin'
        - id: 'services.fence-admin'
          description: 'admin access to fence'
          role_ids:
            - 'fence_admin'
          resource_paths:
            - '/services/fence/admin'   

      roles:
        - id: fence_admin
          permissions:
            - id: fence_admin_permission
              action:
                service: 'fence'
                method: '*'
        - id: base_access
          permissions:
            - id: gearbox_access
              action:
                service: '*'
                method: 'read'
        - id: data_manager
          permissions:
            - id: gearbox_data_manager
              action:
                service: 'gearbox'
                method: '*'
        - id: data_admin
          permissions:
            - id: gearbox_data_admin
              action:
                service: '*'
                method: '*'
    users:
      ### BEGIN INTERNS SECTION ###
      ### END INTERNS SECTION ###
      pmurdoch@uchicago.edu:
        admin: true
        policies:
          - base_access
          - services.gearbox-data-manager
          - services.fence-admin
          - services.gearbox-data-admin

portal:
  enabled: false
  image:
    repository: "973342646972.dkr.ecr.us-east-1.amazonaws.com/openshift-pcdc/gearbox-fe"
    tag: "latest"
    pullPolicy: Always
  # -- (map) Resource requests and limits for the containers in the pod
  resources:
    # -- (map) The amount of resources that the container requests
    requests:
      cpu: 1.0
      memory: 1024Mi
    limits:
      cpu: 2.0
      memory: 4096Mi
    # -- (map) The maximum amount of resources that the container is allowed to use
  service:
    # -- (string) Type of service. Valid values are "ClusterIP", "NodePort", "LoadBalancer", "ExternalName".
    type: ClusterIP
    # -- (int) The port number that the service exposes.
    port: 80
    targetPort: 8080
  gitops:
    json: |
      {
        "s3_bucket": "https://test-compose-gearbox-data-bucket-with-versioning.s3.amazonaws.com"
      }
  podSecurityContext:
    runAsNonRoot: true
    runAsUser: 1000970000
    runAsGroup: 1000970000
    fsGroup: 1000970000
  gearboxS3Bucket: "https://test-compose-gearbox-data-bucket-with-versioning.s3.amazonaws.com"

revproxy:
  enabled: true
  # -- (int) Number of replicas for the deployment.
  replicaCount: 2
  nginx:
    user: "nginx"
    resolver: "dns-default.openshift-dns.svc.cluster.local"
    pidFile: "/tmp/nginx.pid"
  service:
    # -- (string) Type of service. Valid values are "ClusterIP", "NodePort", "LoadBalancer", "ExternalName".
    type: ClusterIP
    targetPort: 8080
  image:
    repository: quay.io/cdis/nginx
    tag: 2025.09
  # -- (map) Resource requests and limits for the containers in the pod
  resources:
    # -- (map) The amount of resources that the container requests
    requests:
      # -- (string) The amount of CPU requested (e.g., 100m = 0.1 CPU)
      cpu: 100m
      # -- (string) The amount of memory requested
      memory: 12Mi
    # -- (map) The maximum amount of resources that the container is allowed to use
    limits:
      # -- (string) The maximum amount of memory the container can use
      memory: 512Mi
      # -- (string) The maximum amount of CPU the container can use
      cpu: 500m

gearbox:
  enabled: false
  image:
    # repository: quay.io/pcdc/gearbox_be
    # tag: "pcdc_dev_2025-08-26T14_03_39-05_00"
    # pullPolicy: Always
    repository: "973342646972.dkr.ecr.us-east-1.amazonaws.com/openshift-pcdc/gearbox-matching"
    tag: "latest"
    pullPolicy: Always
  service:
    # -- (string) Type of service. Valid values are "ClusterIP", "NodePort", "LoadBalancer", "ExternalName".
    type: ClusterIP
    # -- (int) The port number that the service exposes.
    port: 80
    targetPort: 8080
  podSecurityContext:
    runAsNonRoot: true
    runAsUser: 1000970000
    runAsGroup: 1000970000
    fsGroup: 1000970000
  volumes:
    - name: config-volume
      secret:
        secretName: "gearbox-g3auto"
    - name: gearbox-middleware-jwt-keys
      secret:
        secretName: "gearbox-middleware-jwt-keys"
        items:
          - key: jwt_public_key.pem
            path: jwt_public_key.pem
        optional: false
    - name: nginx-config
      configMap:
        name: nginx-config
        items:
          - key: nginx.conf
            path: nginx.conf
  volumeMounts:
    - name: "gearbox-middleware-jwt-keys"
      readOnly: true
      mountPath: "/gearbox/src/gearbox/keys/jwt_public_key.pem"
      subPath: jwt_public_key.pem
    - name: config-volume
      readOnly: true
      mountPath: /gearbox/.env
      subPath: gearbox.env
    - name: nginx-config
      mountPath: /etc/nginx/nginx.conf
      subPath: nginx.conf
      readOnly: true
  resources:
    # -- (map) The amount of resources that the container requests
    requests:
      # -- (string) The amount of memory requested
      memory: 12Mi
      # -- (string) The amount of CPU requested (e.g., 100m = 0.1 CPU)
      cpu: 100m
    # -- (map) The maximum amount of resources that the container is allowed to use
    limits:
      # -- (string) The maximum amount of memory the container can use
      memory: 512Mi
      # -- (string) The maximum amount of CPU the container can use
      cpu: 500m
gearbox-middleware:
  enabled: false
  gearboxMiddlewareG3auto:
    testing: False
  service:
    # -- (string) Type of service. Valid values are "ClusterIP", "NodePort", "LoadBalancer", "ExternalName".
    type: ClusterIP
    # -- (int) The port number that the service exposes.
    port: 80
    targetPort: 8080
  image:
    # repository: quay.io/pcdc/gearbox-middleware
    # tag: "pcdc_dev_Fri__15_Aug_2025_17_57_50_GMT"
    # pullPolicy: Always
    repository: "973342646972.dkr.ecr.us-east-1.amazonaws.com/openshift-pcdc/gearbox-middleware"
    tag: "latest"
    pullPolicy: Always
  # -- (list) Volumes to attach to the container.
  volumes:
    - name: config-volume
      secret:
        secretName: "gearbox-middleware-g3auto"
    - name: gearbox-middleware-jwt-keys
      secret:
        secretName: "gearbox-middleware-jwt-keys"
        items:
          - key: jwt_private_key.pem
            path: jwt_private_key.pem
        optional: false
    - name: nginx-config
      configMap:
        name: nginx-config
        items:
          - key: nginx.conf
            path: nginx.conf
  volumeMounts:
    - name: "gearbox-middleware-jwt-keys"
      readOnly: true
      mountPath: "/gearbox-middleware/gearbox_middleware/keys/jwt_private_key.pem"
      subPath: jwt_private_key.pem
    - name: config-volume
      readOnly: true
      mountPath: /gearbox-middleware/.env
      subPath: gearbox-middleware.env
    - name: nginx-config
      mountPath: /etc/nginx/nginx.conf
      subPath: nginx.conf
      readOnly: true
  resources:
    # -- (map) The amount of resources that the container requests
    requests:
      # -- (string) The amount of memory requested
      memory: 12Mi
      # -- (string) The amount of CPU requested (e.g., 100m = 0.1 CPU)
      cpu: 100m
    # -- (map) The maximum amount of resources that the container is allowed to use
    limits:
      # -- (string) The maximum amount of memory the container can use
      memory: 512Mi
      # -- (string) The maximum amount of CPU the container can use
      cpu: 500m
  podSecurityContext:
    runAsNonRoot: true
    runAsUser: 1000970000
    runAsGroup: 1000970000
    fsGroup: 1000970000

postgresql:
  enabled: false
  image:
    repository: bitnamilegacy/postgresql
  primary:
    networkPolicy:
      enabled: false
  readReplicas:
    networkPolicy:
      enabled: false
  #local Dev Only
  # auth:
  #   postgresPassword: "thisisaterriblepassword"
  # primary:
  #   persistence:
  #     enabled: true
  #     size: 1Gi
########################################################################################
#                               DISABLED SERVICES                                      #
########################################################################################
elasticsearch:
  enabled: false

amanuensis:
  enabled: false

guppy:
  enabled: false

manifestservice:
  enabled: false

pcdcanalysistools:
  enabled: false

peregrine:
  enabled: false

sheepdog:
  enabled: false

sower:
  enabled: false

wts:
  enabled: false

ambassador:
  # -- (bool) Whether to deploy the ambassador subchart.
  enabled: false

argo-wrapper:
  # -- (bool) Whether to deploy the argo-wrapper subchart.
  enabled: false

audit:
  # -- (bool) Whether to deploy the audit subchart.
  enabled: false

aws-es-proxy:
  enabled: false

metadata:
  # -- (bool) Whether to deploy the metadata subchart.
  enabled: false

pidgin:
  # -- (bool) Whether to deploy the pidgin subchart.
  enabled: false

indexd:
  enabled: false

hatchery:
  enabled: false

cohort-middleware:
  enabled: false

etl:
  enabled: false

gen3-network-policies:
  enabled: false
