global:
  dev: true
  hostname: localhost
  portalApp: pcdc
  dictionaryUrl: https://pcdc-staging-dictionaries.s3.amazonaws.com/pcdc-schema-staging-20250114.json
  authz_entity_name: "subject"
  tierAccessLevel: "granular"
  tierAccessLimit: "5"
  tls:
    cert: |
      -----BEGIN CERTIFICATE-----
      MIIDDTCCAfWgAwIBAgIQcMmHCSPIuchREDNi1OpQ5DANBgkqhkiG9w0BAQsFADAP
      MQ0wCwYDVQQDEwRnZW4zMB4XDTI0MDMyNTIyMDgwNFoXDTI1MDMyNTIyMDgwNFow
      FDESMBAGA1UEAxMJbG9jYWxob3N0MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIB
      CgKCAQEAoTT4Y1GJ5aTwA8emKdCiPL9RCOIALYygX9lmpQ6loSE5rS4u6bgbztSg
      9EV5mvV+oNA1g473rgwyjNlJEIQJvEO323okDjXI47j09N5a9aGhRc0bhfGlwmt/
      gE6NZUuI/u9wjIh8nLysh4rOYrN2+Us9WRfBL8wjmRZWNFRygrEMB9lHzPefEQoU
      p4BcOh4oLbu8//x3Of5fwDMitL5gQtSmZFnLMbK0HD7CJWNz9DQA1n9e8rRg5KWA
      N7Tu6MIaY/H/DVCL3LfswIBSF6eQ73umGHf1zhS7PLSHPxYxkEeg35KKriN+7492
      38Ra3bi0CzTey0It+EK+zjtt1fd7XQIDAQABo2AwXjAOBgNVHQ8BAf8EBAMCBaAw
      HQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAwGA1UdEwEB/wQCMAAwHwYD
      VR0jBBgwFoAUIK7MtOCIs/DygzZ1/vR3ieAwplAwDQYJKoZIhvcNAQELBQADggEB
      AIWgFxpLfZ9LUc90qdiC2yHaLKyTN/LMdkUjw82ULVLYJ0ot0JJaJvO4iDFe/Ra9
      t13LUhcE+W4ChentUHvwYKO5zghf4UtiryM8/wqmcZ03xyswdVaKuk5Ov39/9sTJ
      6rfzMpf3mJZDO6JYC475TCQQ3hKAUUzOiFg41CMeqAy9vn0zgBk58IzZmruvdn43
      YH6N/ooqVTj3CnkmVkWoB4zBjDzX9DuxpYvqI3seD7qLtXK2cm2X+Pqv90UoPsB/
      XegALjODFpTbN5Scvbpb3npXEKbvR7X9+xy7BbVYD2K0FQ9+S1UTU8Rz7Dh9SDHM
      Ixy5W9o6gVFhB5mxceOxKNc=
      -----END CERTIFICATE-----
    key: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEogIBAAKCAQEAoTT4Y1GJ5aTwA8emKdCiPL9RCOIALYygX9lmpQ6loSE5rS4u
      6bgbztSg9EV5mvV+oNA1g473rgwyjNlJEIQJvEO323okDjXI47j09N5a9aGhRc0b
      hfGlwmt/gE6NZUuI/u9wjIh8nLysh4rOYrN2+Us9WRfBL8wjmRZWNFRygrEMB9lH
      zPefEQoUp4BcOh4oLbu8//x3Of5fwDMitL5gQtSmZFnLMbK0HD7CJWNz9DQA1n9e
      8rRg5KWAN7Tu6MIaY/H/DVCL3LfswIBSF6eQ73umGHf1zhS7PLSHPxYxkEeg35KK
      riN+749238Ra3bi0CzTey0It+EK+zjtt1fd7XQIDAQABAoIBAG+AhfWcZncSuHjE
      1SfDCRRfeBtexqS6ygrCAn9UPDfRFWW1tfkuwP00kQekLlKCT03H9dvDPYmDIkvN
      1v23dkxjwn3qY5n4lbT9L2FXky6m1zfCgLEKzY5GcHA85QwVTPKYhw6NMTPwRJ2T
      4uDeJQKVih9fkN4Qoua2TnXvmyzNU49ffgFMJ0Ec7vNmS7MCUtlGec1Y0xKgTflt
      yqhChpG2MBxdX8tLNgSC+lgRBZSzRaP/0oGZuV3FQ7W4fuXLNN8CdhSzHbVlbK+D
      CO1f6nqZ8PZKJ/7SGwB2Q05EqscNAF3tl1dsGpnLqOLpnqJ2+f/H4W6/uB2tAILd
      ySaC53kCgYEAwOHrNulo7HLgSXEs4/Ta9nLPoZxpDxkNKCRENDJCsoakQ2O33aL4
      mrHdSmxGqecpoCvkifx/ZCN073ZykVIoSY70+N7f79EytGjkAzDxEAnYMKSU7SSJ
      TGA+c8Juqh6uvbMuJy/ZiQE6DZsweqhxopov7xSd89RIvNaBZdXq3QcCgYEA1fWJ
      VHCEeQGl6eMtSWOfiADUnmOG70xlvmpzlD18pTTCIF7V1rFaAXjJl0ldI3mASJy/
      usiHZq54bUWcvof8DjI7YJ0OS8e7pmUZK9+O9fGTLIf8TIz6qq0PfERk+SyWGdAo
      Z8HQMJBKWX809KPkJ9isd62wfREHVazfljxdL3sCgYBwxKTsWdKKSy9uQMjqDcHm
      zIEwD24s8YyLp4hoq+nqzmVDMQ3SevG2H78tP9ighRIFHyRiuEkSlthLGIkrBUmg
      mAAJcOSkJT7r01dbtkV6BwdqiQ65Bt9u0+Yvb8GbnIy1RAj7yDH6s8jpI45YaBrn
      4hWcRgWDBN3x6ceFbmf+CQKBgA5vwNJnvSiFCfLcF0Qqaqs8kxwUzxf6aasNd7r6
      4xwqkSap/3e7A72xrrh8hMJOAm/j07QAr9In14xX9BmPB1zV2tfMARjv4yN5Ete4
      /+ZsZGfOzSFFKey2PKM/4ihF7+LR/sfxdeCw+7NKOAKBxHVD029H0u69ZWdMgNGc
      RRVdAoGAFH7huA61ylOGh/W6IMU0wvJqg9SeT53JoZTr++0MS+0sdYoRGrq4RzSZ
      bXKuvqZaSrXMRB9JZ72FfpjwZhDPZtNOXJV00K4yjZIui6h+TPsDk4lnxVSPYMpP
      My/zrtJTCPM+Gqa6mhYTz4fyITv7igxqyECakrCa/Ct0SVDZbSI=
      -----END RSA PRIVATE KEY-----

arborist:
  image:
    repository: quay.io/pcdc/arborist
    tag: "2025.01"

amanuensis:
  enabled: true
  image:
    repository: "quay.io/pcdc/amanuensis"
    tag: "2.26.2"
    pullPolicy: IfNotPresent

fence:
  FENCE_CONFIG:
    DEBUG: true
    MOCK_STORAGE: true
    #fill in
    #AMANUENSIS_PUBLIC_KEY_PATH: '/fence/keys/key/jwt_public_key.pem'
    MOCK_GOOGLE_AUTH: true
    mock_default_user: "test@example.com"
    #LOGIN_REDIRECT_WHITELIST: ["https://localhost:9443/", "http://localhost:9443/"]

  image:
    repository: "quay.io/pcdc/fence"
    tag: "helm-test"
    pullPolicy: Always
  USER_YAML: |
    authz:

      resources:
        - name: 'data_file'
          description: 'data files, stored in S3'
        - name: 'sower'
          description: 'sower resource'
        - name: workspace
          description: jupyter notebooks
        - name: analysis
          description: analysis tool service
        - name: portal
          description: data portal service
        - name: privacy
          description: User privacy policy
        - name: 'services'
          subresources:
          - name: 'sheepdog'
            subresources:
            - name: 'submission'
              subresources:
              - name: 'program'
              - name: 'project'
          - name: 'amanuensis'
          - name: 'fence'
            subresources:
              - name: 'admin'
        - name: programs
          subresources:
          - name: pcdc

      policies:
        - id: 'data_upload'
          description: 'upload raw data files to S3'
          resource_paths: 
          - /data_file
          role_ids: 
          - file_uploader
        - id: 'services.amanuensis-admin'
          description: 'admin access to amanuensis'
          role_ids:
            - 'amanuensis_admin'
          resource_paths:
            - '/services/amanuensis'
        - id: 'services.fence-admin'
          description: 'admin access to fence'
          role_ids:
            - 'fence_admin'
          resource_paths:
            - '/services/fence/admin'   
        - id: workspace
          description: be able to use workspace
          resource_paths: 
          - /workspace
          role_ids: 
          - workspace_user
        - id: analysis
          description: be able to use analysis tool service
          resource_paths: 
          - /analysis
          role_ids: 
          - analysis_user
        - id: privacy_policy
          description:  User agreed on the privacy policy
          resource_paths:
            - /privacy
          role_ids:
            - reader
        - id: indexd_admin
          description: full access to indexd API
          role_ids:
            - indexd_admin
          resource_paths:
            - /programs
        - description: be able to use sower job
          id: sower
          resource_paths: [/sower]
          role_ids: [sower_user]
        - id: 'services.sheepdog-admin'
          description: 'CRUD access to programs and projects'
          role_ids:
            - 'sheepdog_admin'
          resource_paths:
            - '/services/sheepdog/submission/program'
            - '/services/sheepdog/submission/project'
        - id: all_programs_reader
          role_ids:
          - reader
          - storage_reader
          resource_paths:
          - /programs
        - id: login_no_access
          role_ids:
          - reader
          resource_paths:
          - /portal
        - id: 'data_admin'
          description: 'policy test, should write a policy per resource and assign to user in order to avoid duplicating policies'
          role_ids:
            - admin
          resource_paths:
            - /programs
            - /programs/pcdc
          

      roles:
        - id: 'file_uploader'
          description: 'can upload data files'
          permissions:
            - id: 'file_upload'
              action:
                  service: 'fence'
                  method: 'file_upload'
        - id: 'amanuensis_admin'
          description: 'can do admin work on project/data request'
          permissions:
            - id: 'amanuensis_admin_action'
              action: 
                  service: 'amanuensis'
                  method: '*'
        - id: 'fence_admin'
          description: 'can use the admin endpoint in Fence'
          permissions:
            - id: 'fence_admin_permission'
              action: 
                  service: 'fence'
                  method: '*'
        - id: workspace_user
          permissions:
          - action: {method: access, service: jupyterhub}
            id: workspace_access
        - id: sower_user
          permissions:
          - action: {method: access, service: job}
            id: sower_access
        - id: analysis_user
          permissions:
          - action: {method: access, service: analysis}
            id: analysis_access
        # Sheepdog admin role
        - id: 'sheepdog_admin'
          description: 'sheepdog admin role for program project crud'
          permissions:
            - id: 'sheepdog_admin_action'
              action:
                service: 'sheepdog'
                method: '*'
        - id: indexd_admin
          description: full access to indexd API
          permissions:
          - id: indexd_admin
            action:
              service: indexd
              method: '*'
        - id: admin
          permissions:
            - id: admin
              action:
                service: '*'
                method: '*'
        - id: creator
          permissions:
            - id: creator
              action:
                service: '*'
                method: create
        - id: reader
          permissions:
            - id: reader
              action:
                service: '*'
                method: read
        - id: updater
          permissions:
            - id: updater
              action:
                service: '*'
                method: update
        - id: deleter
          permissions:
            - id: deleter
              action:
                service: '*'
                method: delete
        - id: storage_writer
          permissions:
            - id: storage_creator
              action:
                service: '*'
                method: write-storage
        - id: storage_reader
          permissions:
            - id: storage_reader
              action:
                service: '*'
                method: read-storage
      
    users:
      ### BEGIN INTERNS SECTION ###
      ### END INTERNS SECTION ###
      pmurdoch@uchicago.edu:
        admin: true
        policies:
          - data_upload
          - workspace
          - services.sheepdog-admin
          - services.amanuensis-admin
          - data_admin
          - analysis
          - privacy_policy
          - login_no_access
          - sower

guppy:
  enabled: true
  image:
    repository: "quay.io/pcdc/guppy"
    tag: "1.10.3"
    pullPolicy: "IfNotPresent"
  authFilterField: "auth_resource_path"

manifestservice:
  enabled: false
  image:
    repository: quay.io/cdis/manifestservice
    tag: "2025.01"

pcdcanalysistools:
  enabled: true
  image:
    repository: quay.io/pcdc/pcdcanalysistools
    tag: "1.10.0"

peregrine:
  image:
    repository: quay.io/pcdc/peregrine
    tag: "1.3.10"

portal:
  #enabled: false
  image:
    repository: "quay.io/pcdc/windmill"
    tag: "1.41.0"
    pullPolicy: IfNotPresent
  resources:
    requests:
      cpu: 1.0
  gitops:
    json: ""

revproxy:
  image:
    repository: quay.io/cdis/nginx
    tag: "2025.07"

sheepdog:
  dictionaryUrl: https://pcdc-staging-dictionaries.s3.amazonaws.com/pcdc-schema-staging-20250114.json
  image:
    repository: quay.io/pcdc/sheepdog
    tag: "1.7.2"

sower:
  enabled: false
  image:
    repository: quay.io/cdis/sower
    tag: "2025.01"
  pelican:
    bucket: "gen3-helm-pelican-export"
  # -- (map) Secret information for Usersync and External Secrets.

  sowerConfig:
    - name: pelican-export
      action: export
      container:
        name: job-task
        image: quay.io/pcdc/pelican:1.3.3_export
        pull_policy: Always
        env:
          - name: DICTIONARY_URL
            valueFrom:
              configMapKeyRef:
                name: manifest-global
                key: dictionary_url
          - name: GEN3_HOSTNAME
            valueFrom:
              configMapKeyRef:
                name: manifest-global
                key: hostname
          - name: ROOT_NODE
            value: subject
          - name: OUTPUT_FILE_FORMAT
            value: ZIP
        volumeMounts:
          - name: pelican-creds-volume
            readOnly: true
            mountPath: "/pelican-creds.json"
            subPath: config.json
          - name: peregrine-creds-volume
            readOnly: true
            mountPath: "/peregrine-creds.json"
            subPath: creds.json
        cpu-limit: "1"
        memory-limit: 2Gi
      volumes:
        - name: pelican-creds-volume
          secret:
            secretName: pelicanservice-g3auto
        - name: peregrine-creds-volume
          secret:
            secretName: peregrine-creds
      restart_policy: Never

wts:
  enabled: false
  image:
    repository: quay.io/cdis/workspace-token-service
    tag: 2025.01

postgresql:
  primary:
    persistence:
      # -- (bool) Option to persist the dbs data.
      enabled: false

elasticsearch:
  clusterName: gen3-elasticsearch
  maxUnavailable: 0
  singleNode: true
  replicas: 1
  clusterHealthCheckParams: "wait_for_status=yellow&timeout=1s"
  esConfig:
    elasticsearch.yml: |
      # Here we can add elasticsearch config

  resources:
    requests:
      cpu: 0.5
      memory: 500Mi
    limits:
      cpu: 1
      memory: 2Gi
########################################################################################
#                               DISABLED SERVICES                                      #
########################################################################################

ambassador:
  # -- (bool) Whether to deploy the ambassador subchart.
  enabled: false

argo-wrapper:
  # -- (bool) Whether to deploy the argo-wrapper subchart.
  enabled: false

audit:
  # -- (bool) Whether to deploy the audit subchart.
  enabled: false

aws-es-proxy:
  enabled: false

metadata:
  # -- (bool) Whether to deploy the metadata subchart.
  enabled: false

pidgin:
  # -- (bool) Whether to deploy the pidgin subchart.
  enabled: false

indexd:
  enabled: false

hatchery:
  enabled: false

gearbox:
  enabled: false

gearbox-middleware:
  enabled: false

cohort-middleware:
  enabled: false
