apiVersion: apps/v1
kind: Deployment
metadata:
  name: guppy-deployment
  labels:
    {{- include "guppy.labels" . | nindent 4 }}
    {{- if .Values.global.ddEnabled }}
    {{- include "common.datadogLabels" . | nindent 4 }}
    {{- end }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "guppy.selectorLabels" . | nindent 6 }}
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  {{- with .Values.strategy }}
  strategy:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  template:
    metadata:
      labels:
      {{- include "guppy.selectorLabels" . | nindent 8 }}
        # gen3 networkpolicy labels
        netnolimit: 'yes'
        public: 'yes'
        {{- if .Values.global.ddEnabled }}
        {{- include "common.datadogLabels" . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      automountServiceAccountToken: {{ .Values.automountServiceAccountToken }}
      {{- with .Values.volumes}}
      volumes: 
        {{- toYaml . | nindent 8}}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          livenessProbe:
            httpGet:
              path: /_status
              port: 8000
            initialDelaySeconds: 30
            periodSeconds: 60
            timeoutSeconds: 30
          readinessProbe:
          readinessProbe:
            httpGet:
              path: /_status
              port: 8000
          ports:
            - containerPort: 8000
          env: 
            {{- if .Values.global.ddEnabled }}
            {{- include "common.datadogEnvVar" . | nindent 12 }}
            {{- end }}
            - name: GUPPY_PORT
              value: "8000"
            - name: GUPPY_CONFIG_FILEPATH
              value: /guppy/guppy_config.json
            - name: GEN3_ES_ENDPOINT
              value: {{ default "gen3-elasticsearch-master:9200"  .Values.esEndpoint }}
            {{- with .Values.arboristUrl }}
            - name: GEN3_ARBORIST_ENDPOINT
              value: {{ . }}
            {{- end }}
            - name: TIER_ACCESS_LEVEL
              value: {{ .Values.global.tierAccessLevel | quote }}
            - name: TIER_ACCESS_LIMIT
              value: {{ .Values.global.tierAccessLimit | quote }}
            - name: PUBLIC_KEY_PATH
              value: /guppy/jwt_public_key.pem
          {{- with .Values.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 10 }}
          {{- end }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}