apiVersion: apps/v1
kind: Deployment
metadata:
  name: guppy-deployment
  labels:
    {{- include "guppy.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "guppy.selectorLabels" . | nindent 6 }}
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  {{- with .Values.strategy }}
  strategy:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  template:
    metadata:
      labels:
      {{- include "guppy.selectorLabels" . | nindent 8 }}
        {{- include "common.extraLabels" . | nindent 8 }}
        # gen3 networkpolicy labels
        netnolimit: 'yes'
        public: 'yes'
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/guppy_config.yaml") . | sha256sum }}
        {{- $metricsEnabled := .Values.metricsEnabled }}
      {{- if eq $metricsEnabled nil }}
        {{- $metricsEnabled = .Values.global.metricsEnabled }}
      {{- end }}
      {{- if eq $metricsEnabled nil }}
        {{- $metricsEnabled = true }}
      {{- end }}

      {{- if $metricsEnabled }}
        {{- include "common.grafanaAnnotations" . | nindent 8 }}
      {{- end }}
    spec:
      {{- if .Values.global.topologySpread.enabled }}
      {{- include "common.TopologySpread" . | nindent 6 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      automountServiceAccountToken: {{ .Values.automountServiceAccountToken }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- with .Values.volumes}}
      volumes: 
        {{- toYaml . | nindent 8}}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          livenessProbe:
            httpGet:
              path: /_status
              port: http
            initialDelaySeconds: 30
            periodSeconds: 60
            timeoutSeconds: 30
          readinessProbe:
          readinessProbe:
            httpGet:
              path: /_status
              port: http
          ports:
            - containerPort: {{ .Values.service.targetPort }}
              name: http
          env: 
            - name: GUPPY_PORT
              value: "8000"
            - name: GUPPY_CONFIG_FILEPATH
              value: /guppy/guppy_config.json
            - name: GEN3_ES_ENDPOINT
              value: {{ default "gen3-elasticsearch-master:9200"  .Values.esEndpoint }}
            {{- with .Values.arboristUrl }}
            - name: GEN3_ARBORIST_ENDPOINT
              value: {{ . }}
            {{- end }}
            - name: TIER_ACCESS_LEVEL
              value: {{ .Values.global.tierAccessLevel | quote }}
            - name: TIER_ACCESS_LIMIT
              value: {{ .Values.global.tierAccessLimit | quote }}
            - name: NODE_ENV
              value: production
            - name: PUBLIC_KEY_PATH
              value: /guppy/jwt_public_key.pem
          {{- with .Values.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 10 }}
          {{- end }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
