{{- if (not .Values.global.externalSecrets.deploy) }}
{{- if or (not .Values.webapiConfig.dbUser) (not .Values.webapiConfig.dbPass) (not .Values.webapiConfig.dbHost) (not .Values.webapiConfig.dbName) }}
{{- fail "You must set webapiConfig.dbUser, dbPass, dbHost, and dbName in your values.yaml!" }}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: ohdsi-webapi-config
type: Opaque
stringData:
  datasource_driverClassName: org.postgresql.Driver
  datasource_url: jdbc:postgresql://{{ .Values.webapiConfig.dbHost }}:{{ .Values.webapiConfig.dbPort }}/{{ .Values.webapiConfig.dbName }}
  datasource_ohdsi_schema: ohdsi
  datasource_username: {{ .Values.webapiConfig.dbUser }}
  datasource_password: {{ .Values.webapiConfig.dbPass }}
  spring_jpa_properties_hibernate_default_schema: ohdsi
  spring_jpa_properties_hibernate_dialect: org.hibernate.dialect.PostgreSQLDialect
  spring_batch_repository_tableprefix: ohdsi.BATCH_
  flyway_datasource_driverClassName: org.postgresql.Driver
  flyway_datasource_url: jdbc:postgresql://{{ .Values.webapiConfig.dbHost }}:{{ .Values.webapiConfig.dbPort }}/{{ .Values.webapiConfig.dbName }}
  flyway_schemas: ohdsi
  flyway_placeholders_ohdsiSchema: ohdsi
  flyway_datasource_username: {{ .Values.webapiConfig.dbUser }}
  flyway_datasource_password: {{ .Values.webapiConfig.dbPass }}
  flyway_locations: classpath:db/migration/postgresql

  security_cors_enabled: "true"
  security_origin: {{ .Values.global.atlasUrl }}
  security_token_expiration: "960"
  security_ssl_enabled: "false"

  security_provider: AtlasRegularSecurity

  security_auth_windows_enabled: "false"
  security_auth_kerberos_enabled: "false"
  security_auth_openid_enabled: "true"
  security_auth_facebook_enabled: "false"
  security_auth_github_enabled: "false"
  security_auth_google_enabled: "false"
  security_auth_jdbc_enabled: "false"
  security_auth_ldap_enabled: "false"
  security_auth_ad_enabled: "false"
  security_auth_cas_enabled: "false"

  security_db_datasource_schema: security
  security_db_datasource_url: jdbc:postgresql://{{ .Values.webapiConfig.dbHost }}:{{ .Values.webapiConfig.dbPort }}/{{ .Values.webapiConfig.dbName }}
  security_db_datasource_driverClassName: org.postgresql.Driver
  security_db_datasource_username: {{ .Values.webapiConfig.dbUser }}
  security_db_datasource_password: {{ .Values.webapiConfig.dbPass }}

  security_oid_clientId: $FENCE_CLIENT_ID
  security_oid_apiSecret: $FENCE_CLIENT_SECRET
  security_oid_url: "{{ .Values.fenceUrl }}/.well-known/openid-configuration"
  security_oid_redirectUrl: https://atlas.{{ .Values.global.hostname }}/atlas/#/welcome
  security_oid_logoutUrl: https://atlas.{{ .Values.global.hostname }}/atlas/#/home
  security_oid_extraScopes: user

  security_oauth_callback_ui: https://atlas.{{ .Values.global.hostname }}/atlas/#/welcome
  security_oauth_callback_api: https://atlas.{{ .Values.global.hostname }}/WebAPI/user/oauth/callback
  security_oauth_callback_urlResolver: query

  security_ohdsi_custom_authorization_mode: teamproject
  security_ohdsi_custom_authorization_url: "{{ .Values.arboristUrl }}/auth/request"

  logging_level_root: info
  logging_level_org_ohdsi: info
  logging_level_org_apache_shiro: info
{{- end }}