apiVersion: apps/v1
kind: Deployment
metadata:
  name: gen3-workflow-deployment
  labels:
    {{- include "gen3workflow.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "gen3workflow.selectorLabels" . | nindent 6 }}
  {{- with .Values.strategy }}
  strategy:
    {{- toYaml . | nindent 4  }}
  {{- end }}
  template:
    metadata:
      annotations:
        # This is used to trigger a rolling update when the secrets.yaml changes. 
        # Only useful if we are keeping secrets.yaml in the chart.
        checksum/config: {{ include (print $.Template.BasePath "/secrets.yaml") . | sha256sum }}
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
        {{- if .Values.metricsEnabled }}
        {{- include "common.grafanaAnnotations" . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "gen3workflow.selectorLabels" . | nindent 8 }}
        {{- include "common.extraLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "gen3workflow.serviceAccountName" . }}
      volumes:
        {{- with .Values.volumes }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
          - containerPort: 8000
            name: http
            protocol: TCP
          livenessProbe:
            httpGet:
              path: /_status
              port: 8000
            initialDelaySeconds: 30
            periodSeconds: 60
            timeoutSeconds: 30
          readinessProbe:
            httpGet:
              path: /_status
              port: 8000
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
            - name: WORKER_PODS_NAMESPACE
              value: {{ .Values.funnel.Kubernetes.JobsNamespace | default .Release.Namespace }}
            - name: EKS_CLUSTER_NAME
              value: {{ .Values.global.clusterName }}
            - name: EKS_CLUSTER_REGION
              value: {{ .Values.global.aws.region }}
            {{- toYaml .Values.env | nindent 12 }}
          volumeMounts:
            {{- with .Values.volumeMounts }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      automountServiceAccountToken: {{ .Values.automountServiceAccountToken}}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
