{{- if and (.Values.global.externalSecrets.deploy) (.Values.externalSecrets.pushFunnelOidcClientToExternalSecrets) }}
apiVersion: external-secrets.io/v1alpha1
kind: PushSecret
metadata:
  name: push-funnel-oidc-client
spec:
  refreshInterval: 5m
  updatePolicy: IfNotExists
  secretStoreRefs:
    {{- if ne .Values.global.externalSecrets.clusterSecretStoreRef "" }}
    - name: {{ .Values.global.externalSecrets.clusterSecretStoreRef }}
      kind: ClusterSecretStore
    {{- else }}
    - name: {{include "common.SecretStore" .}}
      kind: SecretStore
    {{- end }}
  selector:
    secret:
      name:  funnel-oidc-client
  data:
    - match:
        remoteRef:
          remoteKey: {{ include "funnel-oidc-client" . }}
{{- end }}