# This is temporarily here until external-secrets and PushSecrets support is added for gen3-workflow
{{- if or (not .Values.global.externalSecrets.deploy) (and .Values.global.externalSecrets.deploy .Values.externalSecrets.createK8sGen3WorkflowSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: gen3workflow-g3auto
  labels:
    {{- include "gen3workflow.labels" . | nindent 4 }}
stringData: 
  gen3-workflow-config.yaml: |-
      ##########
      # SERVER #
      ##########
      HOSTNAME: {{ .Values.workflowConfig.hostname }}
      APP_DEBUG: {{ .Values.workflowConfig.debug }}
      HTTPX_DEBUG: {{ .Values.workflowConfig.httpxDebug }}
      DOCS_URL_PREFIX: {{ .Values.workflowConfig.docsUrlPrefix }}
      ARBORIST_URL: {{ .Values.workflowConfig.arboristUrl }}
      MOCK_AUTH: {{ .Values.workflowConfig.mockAuth }}

      ##########
      # AWS S3 #
      ##########
      USER_BUCKETS_REGION: {{ .Values.workflowConfig.userBucketsRegion }}
      S3_OBJECTS_EXPIRATION_DAYS: {{ .Values.workflowConfig.s3ObjectsExpirationDays }}
      S3_ENDPOINTS_AWS_ACCESS_KEY_ID: {{ .Values.workflowConfig.s3AccessKeyId }} #NOTE: This is not used when using IRSA
      S3_ENDPOINTS_AWS_SECRET_ACCESS_KEY: {{ .Values.workflowConfig.s3SecretAccessKey }} #NOTE: This is not used when using IRSA
      KMS_ENCRYPTION_ENABLED: {{ .Values.workflowConfig.kmsEncryptionEnabled }}

      #############
      # GA4GH TES #
      #############

      TES_SERVER_URL: {{ .Values.workflowConfig.tesServerUrl }}
      TASK_IMAGE_WHITELIST: {{ .Values.workflowConfig.taskImageWhitelist | toJson }}

      #############
      #  METRICS  #
      #############

      ENABLE_PROMETHEUS_METRICS: {{ .Values.workflowConfig.enablePrometheusMetrics }}
      PROMETHEUS_MULTIPROC_DIR: {{ .Values.workflowConfig.prometheusMultiprocDir }}
{{- end }}
