# This is temporarily here until external-secrets and PushSecrets support is added for gen3-workflow
{{- if or (not .Values.global.externalSecrets.deploy) (and .Values.global.externalSecrets.deploy .Values.externalSecrets.createK8sGen3WorkflowSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: gen3workflow-g3auto
  labels:
    {{- include "gen3workflow.labels" . | nindent 4 }}
stringData: 
  gen3-workflow-config.yaml: |-
      ##########
      # SERVER #
      ##########
      HOSTNAME: {{ default .Values.global.hostname .Values.gen3WorkflowConfig.hostname }}
      APP_DEBUG: {{ .Values.gen3WorkflowConfig.debug }}
      HTTPX_DEBUG: {{ .Values.gen3WorkflowConfig.httpxDebug }}
      DOCS_URL_PREFIX: {{ .Values.gen3WorkflowConfig.docsUrlPrefix }}
      ARBORIST_URL: {{ .Values.gen3WorkflowConfig.arboristUrl }}
      MOCK_AUTH: {{ .Values.gen3WorkflowConfig.mockAuth }}

      ##########
      # AWS S3 #
      ##########
      USER_BUCKETS_REGION: {{ .Values.gen3WorkflowConfig.userBucketsRegion }}
      S3_OBJECTS_EXPIRATION_DAYS: {{ .Values.gen3WorkflowConfig.s3ObjectsExpirationDays }}
      S3_ENDPOINTS_AWS_ACCESS_KEY_ID: {{ .Values.gen3WorkflowConfig.s3AccessKeyId }} #NOTE: This is not used when using IRSA
      S3_ENDPOINTS_AWS_SECRET_ACCESS_KEY: {{ .Values.gen3WorkflowConfig.s3SecretAccessKey }} #NOTE: This is not used when using IRSA
      KMS_ENCRYPTION_ENABLED: {{ .Values.gen3WorkflowConfig.kmsEncryptionEnabled }}

      #############
      # GA4GH TES #
      #############

      TES_SERVER_URL: {{ .Values.gen3WorkflowConfig.tesServerUrl }}
      TASK_IMAGE_WHITELIST: {{ .Values.gen3WorkflowConfig.taskImageWhitelist | toJson }}

      #############
      #  METRICS  #
      #############

      ENABLE_PROMETHEUS_METRICS: {{ .Values.gen3WorkflowConfig.enablePrometheusMetrics }}
      PROMETHEUS_MULTIPROC_DIR: {{ .Values.gen3WorkflowConfig.prometheusMultiprocDir }}
      
      #################
      #  EKS CLUSTER  #
      #################

      WORKER_PODS_NAMESPACE: {{ printf "workflow-pods-%s" .Release.Namespace }}
      EKS_CLUSTER_NAME: {{ .Values.global.clusterName }}
      EKS_CLUSTER_REGION: {{ .Values.global.aws.region }}
{{- end }}
