apiVersion: v1
kind: Secret
metadata:
  name: gearbox-g3auto
type: Opaque
stringData:
  {{- $existingSecret := lookup "v1" "Secret" .Release.Namespace "gearbox-g3auto" }}
  {{- $randomPass := printf "%s%s" "gateway:" (randAlphaNum 32) }}
  base64Authz.txt: {{ if and $existingSecret (index $existingSecret.data "base64Authz.txt") }}{{ index $existingSecret.data "base64Authz.txt" | b64dec | quote }}{{ else }}{{ $randomPass | quote | b64enc }}{{ end }}
  gearbox.env: | 
    DEBUG=0
    FORCE_ISSUER=True
    USER_API="http://fence-service/"
    ALLOWED_ISSUERS="http://fence-service/,https://localhost/user"
    DUMMY_S3=True
    DB_DATABASE={{ if and $existingSecret (index $existingSecret.data "gearbox.env") }}{{ index $existingSecret.data "gearbox.env" | b64dec | regexFind "DB_DATABASE=(.*)" | quote }}{{ else }}{{ ( $.Values.postgres.database | default (printf "%s_%s" $.Chart.Name $.Release.Name) ) }}{{ end }}
    DB_HOST={{ if and $existingSecret (index $existingSecret.data "gearbox.env") }}{{ index $existingSecret.data "gearbox.env" | b64dec | regexFind "DB_HOST=(.*)" | quote }}{{ else }}{{ (printf "%s-%s" $.Release.Name "postgresql" ) }}{{ end }}
    DB_USER={{ if and $existingSecret (index $existingSecret.data "gearbox.env") }}{{ index $existingSecret.data "gearbox.env" | b64dec | regexFind "DB_USER=(.*)" | quote }}{{ else }}{{ ( $.Values.postgres.username | default (printf "%s_%s" $.Chart.Name $.Release.Name) ) }}{{ end }}
    ADMIN_LOGINS={{ if and $existingSecret (index $existingSecret.data "gearbox.env") }}{{ index $existingSecret.data "gearbox.env" | b64dec | regexFind "ADMIN_LOGINS=(.*)" | quote }}{{ else }}{{ $randomPass }}{{ end }}
    ENABLE_PHI=True
    {{- if and $existingSecret (index $existingSecret.data "gearbox.env") (index $existingSecret.data "gearbox.env" | b64dec | regexFind "DB_PASSWORD=(.*)") }}
    DB_PASSWORD={{ index $existingSecret.data "gearbox.env" | b64dec | regexFind "DB_PASSWORD=(.*)" | quote }}
    {{- end }}
  {{- if and $existingSecret (index $existingSecret.data "secretReady") }}
  secretReady: {{ index $existingSecret.data "secretReady" | b64dec | quote }}
  {{- end }}