{{- if .Values.global.crossplane.enabled }}
apiVersion: iam.aws.crossplane.io/v1beta1
kind: Role
metadata:
  name: hatchery-sa-role
spec:
  providerConfigRef:
    name: provider-aws
  forProvider:
    name: "{{ .Values.global.environment }}-{{ .Release.Namespace }}-hatchery-sa"
    description: "Role for ES proxy service account for {{ Values.global.environment }}"
    path: "/gen3-service/"
    assumeRolePolicyDocument: |
      {
        "Version":"2012-10-17",
        "Statement":[
          { "Effect":"Allow","Principal":{"Service":"ec2.amazonaws.com"},"Action":"sts:AssumeRole" },
          {
            "Sid":"",
            "Effect":"Allow",
            "Principal":{"Federated":"arn:aws:iam::{{ .Values.global.crossplane.accountId }}:oidc-provider/{{ .Values.global.crossplane.oidcProviderUrl }}"},
            "Action":"sts:AssumeRoleWithWebIdentity",
            "Condition":{
              "StringEquals":{
                "{{ .Values.global.crossplane.oidcProviderUrl }}:sub":"system:serviceaccount:{{ .Release.Namespace }}:hatchery-sa",
                "{{ .Values.global.crossplane.oidcProviderUrl }}:aud":"sts.amazonaws.com"
              }
            }
          }
        ]
      }
---
# 8️⃣ Hatchery Role Inline Policy
apiVersion: iam.aws.crossplane.io/v1beta1
kind: RolePolicy
metadata:
  name: hatchery-sa-inline-policy
spec:
  providerConfigRef:
    name: provider-aws
  forProvider:
    roleName: "{{ .Values.global.environment }}-{{ .Release.Namespace }}-hatchery-sa"
    policyName: "hatchery-role-policy"
    policyDocument: |
      {
        "Version":"2012-10-17",
        "Statement":[
          {
            "Effect":"Allow",
            "Action":["sts:AssumeRole"],
            "Resource":["arn:aws:iam::*:role/csoc_adminvm*"]
          },
          {
            "Effect":"Allow",
            "Action":["ec2:*"],
            "Resource":"*"
          }
        ]
      }
---
# 9️⃣ Hatchery Managed Policy Attachment
apiVersion: iam.aws.crossplane.io/v1beta1
kind: RolePolicyAttachment
metadata:
  name: hatchery-ram-full-access
spec:
  providerConfigRef:
    name: provider-aws
  forProvider:
    roleName: "{{ .Values.global.environment }}-{{ .Release.Namespace }}-hatchery-sa"
    policyArn: "arn:aws:iam::aws:policy/AWSResourceAccessManagerFullAccess"
{{- end }}