apiVersion: v1
kind: ConfigMap
metadata:
  name: manifest-hatchery
data: 
  json: |
    {
      "user-namespace": "jupyter-pods",
      "sub-dir": "/lw-workspace",
      "user-volume-size": "10Gi",
      "sidecar": {
          "cpu-limit": "1.0",
          "memory-limit": "256Mi",
          "image": "quay.io/cdis/ecs-ws-sidecar:2022.05",
          "env": {
          "NAMESPACE": "default",
          "GEN3_ENDPOINT": "healdata.org",
          "HOSTNAME": "healdata.org"
          },
          "args": [],
          "command": [
          "/bin/bash",
          "./sidecar.sh"
          ],
          "lifecycle-pre-stop": [
          "su",
          "-c",
          "echo test",
          "-s",
          "/bin/sh",
          "root"
          ]
      },
      "containers": [
          {
          "target-port": 8888,
          "cpu-limit": "1.0",
          "memory-limit": "2Gi",
          "name": "(Generic) Jupyter Lab Notebook with R Kernel",
          "image": "quay.io/cdis/jupyter-superslim-r:1.0.1",
          "env": {
              "FRAME_ANCESTORS": "https://healdata.org"
          },
          "args": [
              "--NotebookApp.base_url=/lw-workspace/proxy/",
              "--NotebookApp.default_url=/lab",
              "--NotebookApp.password=''",
              "--NotebookApp.token=''",
              "--NotebookApp.ip='*'",
              "--NotebookApp.notebook_dir='/home/jovyan'",
              "--NotebookApp.shutdown_no_activity_timeout=5400",
              "--NotebookApp.quit_button=False"
          ],
          "command": [
              "start-notebook.sh"
          ],
          "path-rewrite": "/lw-workspace/proxy/",
          "use-tls": "false",
          "ready-probe": "/lw-workspace/proxy/",
          "lifecycle-post-start": [
              "/bin/sh",
              "-c",
              "export IAM=`whoami`; rm -rf /home/$IAM/pd/dockerHome; rm -rf /home/$IAM/pd/lost+found; ln -s /data /home/$IAM/pd/; true"
          ],
          "user-uid": 1000,
          "fs-gid": 100,
          "user-volume-location": "/home/jovyan/pd",
          "gen3-volume-location": "/home/jovyan/.gen3"
          },
          {
          "target-port": 8888,
          "cpu-limit": "1.0",
          "memory-limit": "2Gi",
          "name": "(Generic, User-licensed) Stata Notebook ",
          "image": "quay.io/cdis/stata-heal:master",
          "env": {
              "FRAME_ANCESTORS": "https://healdata.org"
          },
          "args": [
              "--NotebookApp.base_url=/lw-workspace/proxy/",
              "--NotebookApp.password=''",
              "--NotebookApp.token=''",
              "--NotebookApp.shutdown_no_activity_timeout=5400",
              "--NotebookApp.quit_button=False"
          ],
          "command": [
              "start-notebook.sh"
          ],
          "path-rewrite": "/lw-workspace/proxy/",
          "use-tls": "false",
          "ready-probe": "/lw-workspace/proxy/",
          "lifecycle-post-start": [
              "/bin/sh",
              "-c",
              "(while true; do [ -d ~/pd ] && [ -f ~/pd/stata.lic ] && cp ~/pd/stata.lic /usr/local/stata17/; sleep 1; done) & export IAM=`whoami`; rm -rf /home/$IAM/pd/dockerHome; rm -rf /home/$IAM/pd/lost+found; ln -s /data /home/$IAM/pd/; true"
          ],
          "user-uid": 1000,
          "fs-gid": 100,
          "user-volume-location": "/home/jovyan/pd",
          "gen3-volume-location": "/home/jovyan/.gen3"
          },
          {
          "target-port": 8888,
          "cpu-limit": "1.0",
          "memory-limit": "2Gi",
          "name": "(Generic, Limited Gen3-licensed) Stata Notebook",
          "image": "quay.io/cdis/stata-heal:gen3-licensed",
          "env": {
              "FRAME_ANCESTORS": "https://healdata.org"
          },
          "args": [
              "--NotebookApp.base_url=/lw-workspace/proxy/",
              "--NotebookApp.password=''",
              "--NotebookApp.token=''",
              "--NotebookApp.shutdown_no_activity_timeout=5400",
              "--NotebookApp.quit_button=False"
          ],
          "command": [
              "/bin/bash",
              "/tmp/wait_for_license.sh"
          ],
          "path-rewrite": "/lw-workspace/proxy/",
          "use-tls": "false",
          "ready-probe": "/lw-workspace/proxy/",
          "lifecycle-post-start": [
              "/bin/sh",
              "-c",
              "export IAM=`whoami`; rm -rf /home/$IAM/pd/dockerHome; rm -rf /home/$IAM/pd/lost+found; ln -s /data /home/$IAM/pd/; true"
          ],
          "user-uid": 1000,
          "fs-gid": 100,
          "user-volume-location": "/home/jovyan/pd",
          "gen3-volume-location": "/home/jovyan/.gen3"
          },
          {
          "target-port": 8888,
          "cpu-limit": "1.0",
          "memory-limit": "2Gi",
          "name": "(Tutorials) Example Analysis Jupyter Lab Notebooks",
          "image": "quay.io/cdis/heal-notebooks:combined_tutorials__fbd5ce467b9c2a8e4d59c2d7ec49ad6c5c80312a",
          "env": {
              "FRAME_ANCESTORS": "https://healdata.org"
          },
          "args": [
              "--NotebookApp.base_url=/lw-workspace/proxy/",
              "--NotebookApp.default_url=/lab",
              "--NotebookApp.password=''",
              "--NotebookApp.token=''",
              "--NotebookApp.shutdown_no_activity_timeout=5400",
              "--NotebookApp.quit_button=False"
          ],
          "command": [
              "start-notebook.sh"
          ],
          "path-rewrite": "/lw-workspace/proxy/",
          "use-tls": "false",
          "ready-probe": "/lw-workspace/proxy/",
          "lifecycle-post-start": [
              "/bin/sh",
              "-c",
              "export IAM=`whoami`; rm -rf /home/$IAM/pd/dockerHome; rm -rf /home/$IAM/pd/lost+found; ln -s /data /home/$IAM/pd/; true"
          ],
          "user-uid": 1000,
          "fs-gid": 100,
          "user-volume-location": "/home/jovyan/pd",
          "gen3-volume-location": "/home/jovyan/.gen3"
          }
      ]
      }