apiVersion: v1
kind: ServiceAccount
metadata:
  name: hatchery-service-account
  {{- if .Values.global.aws.enabled }}
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::{{ .Values.global.aws.account }}:role/{{ .Values.global.aws.hatchery_role }}
  {{- end }}

---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: hatchery-binding
subjects:
- kind: ServiceAccount
  name: hatchery-service-account
  apiGroup: ""
  namespace: {{ .Release.Namespace }}
roleRef:
  kind: ClusterRole
  name: admin
  apiGroup: rbac.authorization.k8s.io
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: hatchery-clusterrolebinding-{{ .Release.Namespace }}
  namespace: jupyter-pods-{{ .Release.Namespace }}
subjects:
- kind: ServiceAccount
  name: hatchery-service-account
  apiGroup: ""
  namespace: {{ .Release.Namespace }}
roleRef:
  kind: ClusterRole
  name: admin
  apiGroup: rbac.authorization.k8s.io