{{- if or .Values.global.externalSecrets.deploy (and .Values.global.externalSecrets.dbCreate .Values.postgres.bootstrap) }}

{{ include "common.externalSecret.db" . }}
{{- end  }}
---
{{- if and (.Values.global.externalSecrets.deploy) (not .Values.externalSecrets.createK8sServiceCredsSecret) }}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: indexd-service-creds
spec:
  refreshInterval: 5m
  secretStoreRef:
  {{- if ne .Values.global.externalSecrets.clusterSecretStoreRef  "" }}
    name: {{ .Values.global.externalSecrets.clusterSecretStoreRef }}
    kind: ClusterSecretStore
  {{- else }}
    name: {{include "common.SecretStore" .}}
    kind: SecretStore
  {{- end  }}
  target:
    name: indexd-service-creds
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: {{ .Values.externalSecrets.serviceCreds }}
      conversionStrategy: Default
      decodingStrategy: None
{{- end }}