apiVersion: batch/v1
kind: Job
metadata:
  # 
  # A little helper jobs for creating new indexd
  # users with basic-auth access to indexd update
  # endpoints.
  # Loads the list of users from env var.
  name: indexd-userdb
spec:
  backoffLimit: 0
  template:
    metadata:
      labels:
        app: gen3job
    spec:
      automountServiceAccountToken: false
      {{- with .Values.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      initContainers:
        - name: wait-for-indexd
          image: curlimages/curl:latest
          command: ["/bin/sh","-c"]
          args: ["while [ $(curl -sw '%{http_code}' http://indexd-service/index -o /dev/null) -ne 200 ]; do sleep 5; echo 'Waiting for indexd...'; done"]
      containers:
        - name: indexd
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          volumeMounts:
            - name: "config-volume"
              readOnly: true
              mountPath: "/var/www/indexd/local_settings.py"
              subPath: "local_settings.py"
          env:
          - name: PGHOST
            valueFrom:
              secretKeyRef:
                name: indexd-dbcreds
                key: host
                optional: false  
          - name: PGUSER
            valueFrom:
              secretKeyRef:
                name: indexd-dbcreds
                key: username
                optional: false 
          - name: PGPASSWORD
            valueFrom:
              secretKeyRef:
                name: indexd-dbcreds
                key: password
                optional: false
          - name: PGDB
            valueFrom:
              secretKeyRef:
                name: indexd-dbcreds
                key: database
                optional: false
          - name: DBREADY
            valueFrom:
              secretKeyRef:
                name: indexd-dbcreds
                key: dbcreated
                optional: false
          - name: FENCE_PASS
            valueFrom:
              secretKeyRef:
                name: indexd-service-creds
                key: fence
                optional: false
          - name: SHEEPDOG_PASS
            valueFrom:
              secretKeyRef:
                name: indexd-service-creds
                key: sheepdog
                optional: false
          imagePullPolicy: Always
          command: ["/bin/bash" ]
          args: 
            - "-c"
            # Script always succeeds if it runs (echo exits with 0)
            # indexd image does not include jq, so use python 
            - |
              if command -v python &> /dev/null; then
                echo 'python /indexd/bin/index_admin.py create --username "fence" --password "${FENCE_PASS}'
                python /indexd/bin/index_admin.py create --username "fence" --password "${FENCE_PASS}"
                echo 'python /indexd/bin/index_admin.py create --username "sheepdog" --password "${SHEEPDOG_PASS}'
                python /indexd/bin/index_admin.py create --username "sheepdog" --password "${SHEEPDOG_PASS}"
              else
                echo 'poetry run python /indexd/bin/index_admin.py create --username "fence" --password "${FENCE_PASS}'
                poetry run python /indexd/bin/index_admin.py create --username "fence" --password "${FENCE_PASS}"
                echo 'poetry run python /indexd/bin/index_admin.py create --username "sheepdog" --password "${SHEEPDOG_PASS}'
                poetry run python /indexd/bin/index_admin.py create --username "sheepdog" --password "${SHEEPDOG_PASS}"
              fi
      restartPolicy: Never