apiVersion: v1
kind: ServiceAccount
metadata:
  name: amanuensis-jobs
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-2"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: amanuensis-jobs-role
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-2"
rules:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get", "list", "watch", "create", "update", "delete", "patch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: amanuensis-jobs-role-binding
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-2"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: amanuensis-jobs-role
subjects:
  - kind: ServiceAccount
    name: amanuensis-jobs
    namespace: default
---
apiVersion: v1
kind: Secret
metadata:
  name: amanuensis-config
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-1"
    "helm.sh/hook-delete-policy": before-hook-creation
data:
  amanuensis-config.yaml: ""
---
apiVersion: v1
kind: Secret
metadata:
  name: amanuensis-creds
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-1"
data:
  creds.json: ""
---
apiVersion: batch/v1
kind: Job
metadata:
  name: amanuensis-secrets-{{ .Release.Revision }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "0"
    "helm.sh/hook-delete-policy": before-hook-creation
  labels:
    redeploy-hash: "{{ .Release.Revision }}"
spec:
  backoffLimit: 0
  template:
    metadata:
      labels:
        app: gen3job
    spec:
      serviceAccountName: "amanuensis-jobs"
      volumes:
        - name: shared-data
          emptyDir: {}
        - name: config-helper
          secret:
            secretName: "amanuensis-secret"
      initContainers:
      - name: amanuensis-creds
        image: "quay.io/cdis/awshelper:master"
        imagePullPolicy: Always
        env:
          - name: PGPASSWORD
            valueFrom:
              secretKeyRef:
                name: amanuensis-dbcreds
                key: password
                optional: false
          - name: PGUSER
            valueFrom:
              secretKeyRef:
                name: amanuensis-dbcreds
                key: username
                optional: false
          - name: PGDB
            valueFrom:
              secretKeyRef:
                name: amanuensis-dbcreds
                key: database
                optional: false
          - name: PGHOST
            valueFrom:
              secretKeyRef:
                name: amanuensis-dbcreds
                key: host
                optional: false
          - name: PGPORT
            valueFrom:
              secretKeyRef:
                name: amanuensis-dbcreds
                key: port
                optional: false
          - name: HOSTNAME
            value: "{{ .Values.global.hostname }}"
          - name: DATA_DOWNLOAD_BUCKET
            value: "{{ .Values.AWS_CREDENTIALS.DATA_DELIVERY_S3_BUCKET.bucket_name }}"
          - name: AWS_ACCESS_KEY_ID
            value: "{{ .Values.AWS_CREDENTIALS.DATA_DELIVERY_S3_BUCKET.aws_access_key_id }}"
          - name: AWS_SECRET_ACCESS_KEY
            value: "{{ .Values.AWS_CREDENTIALS.DATA_DELIVERY_S3_BUCKET.aws_secret_access_key }}"
          - name: CSL_KEY
            value: "{{ .Values.CSL_KEY }}"
        volumeMounts:
          - name: shared-data
            mountPath: /mnt/shared
        command: ["/bin/bash"]
        args:
          - "-c"
          - |
            cat <<EOF > /mnt/shared/creds.json
            {
              "db_host": "${PGHOST}",
              "db_username": "${PGUSER}",
              "db_password": "${PGPASSWORD}",
              "db_database": "${PGDB}",
              "hostname": "${HOSTNAME}",
              "indexd_password": "",
              "data_delivery_bucket": "${DATA_DOWNLOAD_BUCKET}",
              "data_delivery_bucket_aws_key_id": "${AWS_ACCESS_KEY_ID}",
              "data_delivery_bucket_aws_access_key": "${AWS_SECRET_ACCESS_KEY}",
              "csl_key": "${CSL_KEY}"
            }
            EOF

            kubectl patch secret amanuensis-creds --type='json' -p='[{"op": "replace", "path": "/data/creds.json", "value": "'$(cat /mnt/shared/creds.json | base64 -w 0)'"}]'

      - name: create-amanuensis-config
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: "{{ .Values.image.pullPolicy }}"
        volumeMounts:
          - name: "config-helper"
            readOnly: true
            mountPath: "/var/www/amanuensis/config_helper.py"
            subPath: config_helper.py
          - name: shared-data
            mountPath: /mnt/shared
        command: ["/bin/bash"]
        args:
          - "-c"
          # Script always succeeds if it runs (echo exits with 0)
          - |
            echo "generating default amanuensis configuration..."
            python /amanuensis/cfg_help.py create --config_path new-amanuensis-config.yaml

            if [[ -f /mnt/shared/creds.json ]]; then
              echo ""
              echo "injecting creds.json into amanuensis configuration..."
              if ! python /var/www/amanuensis/config_helper.py -i /mnt/shared/creds.json -c new-amanuensis-config.yaml; then
                echo "ERROR: Failed to inject creds.json into amanuensis configuration!"
                exit 1
              fi  else
              echo "ERROR: /mnt/shared/creds.json not found!"
              echo "       Only generating default config..."
            fi

            cp new-amanuensis-config.yaml /mnt/shared/new-amanuensis-config.yaml

      containers:
      - name: create-amanuensis-config-secret
        image: "quay.io/cdis/awshelper:master"
        imagePullPolicy: Always
        volumeMounts:
          - name: shared-data
            mountPath: /mnt/shared
        command: ["/bin/bash"]
        args:
          - "-c"
          - |
            if [[ -f /mnt/shared/new-amanuensis-config.yaml ]]; then
              # load yaml file into secrets
              echo "saving amanuensis configuration into amanuensis-config secret..."
              kubectl patch secret amanuensis-config --type='json' -p='[{"op": "replace", "path": "/data/amanuensis-config.yaml", "value": "'$(cat /mnt/shared/new-amanuensis-config.yaml | base64 -w 0)'"}]'
            fi

      restartPolicy: Never
