apiVersion: batch/v1
kind: CronJob
metadata:
  name: amanuensis-validate-filter-sets
  labels:
    redeploy-hash: "{{ .Release.Revision }}"
spec:
  schedule: "* * * * *"
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 3 
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app: gen3job
        spec:
          automountServiceAccountToken: false
          volumes:
            - name: config-volume
              secret:
                secretName: "amanuensis-config"
            - name: es-dd-config-volume
              emptyDir: {}
            - name: portal-config
              secret:
                secretName: "portal-config"
          initContainers:
            - name: amanuensis-db-filter-set-filler
              image: "quay.io/pcdc/amanuensis-db-filter-set-filler:main"
              imagePullPolicy: IfNotPresent
              volumeMounts:
                - name: "config-volume"
                  readOnly: true
                  mountPath: "/var/www/amanuensis/amanuensis-config.yaml"
                  subPath: amanuensis-config.yaml
            - name: create-es-dd-config
              image: "quay.io/cdis/awshelper:stable"
              imagePullPolicy: IfNotPresent
              env:
                - name: BASE_URL
                  value: "https://portal.pedscommons.org/"
                - name: OUTPUT_FILE
                  value: "/tmp/es-dd-config/es_to_dd_map.json"
                - name: DICTIONARY_URL
                  value: "https://portal.pedscommons.org/api/v0/submission/_dictionary/_all"
              volumeMounts:
                - name: "es-dd-config-volume"
                  mountPath: "/tmp/es-dd-config"
              args:
                - /bin/bash
                - -c
                - |

                  cd /tmp

                  export PATH="/home/ubuntu/.local/bin:$PATH"

                  git clone https://github.com/chicagopcdc/gen3_etl.git
                  echo "Repository cloned successfully."

                  cd gen3_etl/elasticsearch 

                  pip install --user -r requirements-ES-DD.txt

                  cd etl

                  python create_es_dd_mapping.py add-manual-fields

                  echo "ES-DD config created successfully."
          containers:
            - name: validate-filter-sets
              image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
              imagePullPolicy: "{{ .Values.image.pullPolicy }}"
              volumeMounts:
                - name: "es-dd-config-volume"
                  mountPath: "/var/www/amanuensis/es_to_dd_map.json"
                  subPath: es_to_dd_map.json
                - name: "config-volume"
                  readOnly: true
                  mountPath: "/var/www/amanuensis/amanuensis-config.yaml"
                  subPath: amanuensis-config.yaml
                - name: "portal-config"
                  readOnly: true
                  mountPath: "/var/www/amanuensis/gitops.json"
                  subPath: gitops.json
              args:
                - /bin/bash
                - -c
                - |
                  validate-filter-sets            
          restartPolicy: Never