apiVersion: batch/v1
kind: CronJob
metadata:
  name: amanuensis-db-filter-set-filler
  labels:
    redeploy-hash: "{{ .Release.Revision }}"
spec:
  schedule: "0 0 1 * *"
  concurrencyPolicy: Forbid
  # This is defualt but do we want to keep long term record of deleted filter sets
  # the original filter-sets will not be deleted unless manually done by the user
  successfulJobsHistoryLimit: 3 
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app: gen3job
        spec:
          automountServiceAccountToken: false
          volumes:
            - name: config-volume
              secret:
                secretName: "amanuensis-config"
          containers:
          - name: amanuensis-db-filter-set-filler
            image: "amanuensis-db-filter-set-filler:test"
            imagePullPolicy: Never
            volumeMounts:
              - name: "config-volume"
                readOnly: true
                mountPath: "/var/www/amanuensis/amanuensis-config.yaml"
                subPath: amanuensis-config.yaml
          restartPolicy: Never