apiVersion: v1
kind: ServiceAccount
metadata:
  name: amanuensis-jobs
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: amanuensis-jobs-role
rules:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get", "list", "watch", "create", "update", "delete"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: amanuensis-jobs-role-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: amanuensis-jobs-role
subjects:
  - kind: ServiceAccount
    name: amanuensis-jobs
    namespace: default