# run with 
# gen3 job run jobs/remove-objects-from-clouds-job.yaml RELEASE DR17 MANIFEST_S3 s3://giang816test/GDC_sample_redact_manifest.tsv LOG_BUCKET log_bucket IGNORED_FILE_S3 s3://giang816test/ignored_files_manifest.csv
apiVersion: batch/v1
kind: Job
metadata:
  name: remove-objects-from-clouds
spec:
  # not yet supported - backOffLimit: 3
  template:
    metadata:
      labels:
        app: gen3job
    spec:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            preference:
              matchExpressions:
              - key: karpenter.sh/capacity-type
                operator: In
                values:
                - on-demand
          - weight: 99
            preference:
              matchExpressions:
              - key: eks.amazonaws.com/capacityType
                operator: In
                values:
                - ONDEMAND
      volumes:
        - name: google-cred-volume
          secret:
            secretName: "google-creds-secret"
        - name: aws-cred-volume
          secret:
            secretName: "dcf-aws-fence-creds-secret"
        - name: creds-json-volume
          secret:
            secretName: "dcf-dataservice-json-secret"
        - name: project-map-volume
          configMap:
            name: project-map-manifest
      containers:
      - name: datareplicate
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: Always
        env:
          - name: RELEASE
            value: {{ .Values.googleBucketReplicateJob.RELEASE }}
          - name: LOG_BUCKET
            value: {{ .Values.googleBucketReplicateJob.LOG_BUCKET }}
          - name: MANIFEST_S3
            value: {{ .Values.googleBucketReplicateJob.MANIFEST_FILE }}
          - name: IGNORED_FILE_S3
            value: {{ .Values.googleBucketReplicateJob.IGNORED_FILE }}
          - name: DRY_RUN
            value: {{ .Values.removeObjectsFromClouds.DRY_RUN }} 
        volumeMounts:
          - name: aws-cred-volume
            mountPath: "/root/.aws/credentials"
            subPath: credentials
          - name: google-cred-volume
            mountPath: "/secrets/google_service_account_creds"
            subPath: google_service_account_creds
          - name: "project-map-volume"
            mountPath: "/dcf_dataservice/GDC_project_map.json"
            subPath: "GDC_project_map.json"
          - name: "creds-json-volume"
            mountPath: "/secrets/dcf_dataservice_credentials.json"
            subPath: "dcf_dataservice_credentials.json"
        command: ["/bin/bash" ]
        args: 
          - "-c"
          - |
            echo """
            [default]
            region: us-east-1
            """ > ~/.aws/config
            gcloud auth activate-service-account --key-file=/secrets/google_service_account_creds
            export GOOGLE_APPLICATION_CREDENTIALS=/secrets/google_service_account_creds
            aws s3 cp $IGNORED_FILE_S3 /dcf-dataservice/ignored_files_manifest.csv
            python replicate.py redact --dry_run $DRY_RUN --release $RELEASE --redact_file $MANIFEST_S3 --log_bucket $LOG_BUCKET
      restartPolicy: Never