{{- $externalSecretsDeploy := include "access-backend.externalSecrets.deploy" . | fromYaml }}
{{- if or (not $externalSecretsDeploy) (and $externalSecretsDeploy .Values.externalSecrets.createK8sAccessBackendSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: access-backend-g3auto
stringData:
  {{- $randomPass := printf "%s%s" "gateway:" (randAlphaNum 32)  }}
  base64Authz.txt: {{  $randomPass | quote | b64enc }}
  access-backend.env: |
    DEBUG={{ .Values.debug}}
    SUPER_ADMINS={{ .Values.superAdmins }}
    extra_args={{ .Values.extraArgs }}
    ADMIN_USERS={{ .Values.adminUsers }}
    GH_ORG={{ .Values.gh_org}}
    GH_REPO={{ .Values.gh_repo}}
    GH_FILE={{ .Values.gh_file}}
    GH_KEY={{.Values.gh_key}}
    JWT_ISSUERS={{ .Values.jwt_issuers}}
    REVIEW_REQUESTS_ACCESS={{.Values.review_requests_access}}
    JWT_SIGNING_KEYS={{.Values.jwt_signing_keys}}
    BASE_USERYAML_PATH={{.Values.base_user_yaml_path}}
    ADMIN_EXTRA_POLICIES={{.Values.admin_extra_policies}}
    CASCADE_NEW_ACCESS_TO_USERS_UNDER_THIS_ADMIN={{.Values.cascade_new_access_to_users_under_this_admin}}
    DB_NAMESPACE={{.Values.db_namespace}}
    DENY_USERNAME_PATTERNS={{.Values.deny_username_patterns}}
    ALLOW_ORIGINS={{.Values.allow_origins}}
    DISALLOW_ACCESS_SUBSETTING={{.Values.disallow_access_subsetting}}
    INHERIT_ACCESS_TO_ALL_NEW_DATASETS_TO_THIS_ADMIN={{.Values.inherit_access_to_all_new_datasets_to_this_admin}}
    SKIP_PR: {{.Values.skip_pr}}
    ADMIN_OWNER: {{ .Values.admin_owner }}
{{- end }}