{{- if or (not .Values.global.externalSecrets.deploy) (and .Values.global.externalSecrets.deploy .Values.externalSecrets.createK8sGen3discoveryaiSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: gen3discoveryai-g3auto
stringData:
  {{- $randomPass := printf "%s%s" "gateway:" (randAlphaNum 32)  }}
  base64Authz.txt: {{  $randomPass | quote | b64enc }}
  gen3-discovery-ai.env: |
    DEBUG={{ .Values.debug}}
    GUNICORN_WORKERS={{ .Values.gunicornWorkers}}
---
apiVersion: v1
kind: Secret
metadata:
  name: gen3discoveryai-google-adc
type: Opaque
stringData:
  application_default_credentials.json: {{ .Values.googleAdc | quote }}
{{- end }}