apiVersion: v1
kind: Service
metadata:
  name: "gen3-discovery-ai-service"
  labels:
    {{ include "gen3-discovery-ai.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{ include "gen3-discovery-ai.selectorLabels" . | nindent 4 }}
