# -- (bool) Whether to deploy the data-upload-cron chart.
enabled: true

# Global configuration
global:
  # -- (map) External Secrets settings.
  externalSecrets:
    # -- (bool) Will use ExternalSecret resources to pull secrets from Secrets Manager instead of creating them locally. Be cautious as this will override secrets you have deployed.
    deploy: true

# -- (bool) Whether to suspend the cronjob. Setting this to true will prevent the cronjob from scheduling new jobs, but will not affect already scheduled jobs.
suspendCronjob: false
# -- (string) Cron schedule for the cronjob. This follows standard cron syntax. For example, "0 0 * * *" would run the job every day at midnight.
schedule: "15/* * * * *"
# -- (string) Concurrency policy for the cronjob. This determines how to handle concurrent executions of the job. Valid values are "Allow", "Forbid", and "Replace". "Allow" allows concurrent runs, "Forbid" prevents new runs if the previous run is still active, and "Replace" cancels the currently running job and replaces it with a new one.
concurrencyPolicy: "Forbid"
# -- (int) The number of successful job runs to keep in history. This is used by Kubernetes to determine how many old job objects to retain after they have completed successfully.
successfulJobsHistoryLimit: 3
# -- (int) The number of failed job runs to keep in history. This is used by Kubernetes to determine how many old job objects to retain after they have completed with a failure.
failedJobsHistoryLimit: 1
# -- (int) The number of retries before marking a job as failed. This is used by Kubernetes to determine how many times to retry a job if it fails before giving up and marking it as failed.
backoffLimit: 1
# -- (map) Security context for the pod and containers. This is used to specify security settings such as user ID, group ID, and capabilities for the pod and its containers.
podSecurityContext: {}
# -- (map) Security context for the containers in the pod. This is used to specify security settings such as user ID, group ID, and capabilities for the containers.
securityContext: {}

# -- (map) Environment variables for the data-upload-cron container. These are used to pass configuration settings and secrets to the container at runtime.
env: 
  # -- (string) The name of the S3 bucket to use for storing files. This is used by the data-upload-cron container to determine where to upload files.
  bucket: ""
  # -- (string) The prefix to use for files uploaded to S3. This is used by the data-upload-cron container to determine how to organize files in the S3 bucket.
  prefix: ""
  # -- (string) The URL for the ssjdispatcher service. This is used by the data-upload-cron container to send requests to the ssjdispatcher service.
  dispatcherUrl: "http://ssjdispatcher-service/dispatchJob"
  # -- (string) The URL for the indexd service. This is used by the data-upload-cron container to send requests to the indexd service.
  indexdUrl: "http://indexd-service"
  # -- (string) Whether to send an alert on every resubmit. This is used by the data-upload-cron container to determine whether to send an alert every time a job is resubmitted.
  maxAttemptsBeforeAlert: "10"
  # -- (string) The timeout for requests to the indexd service, in seconds. This is used by the data-upload-cron container to determine how long to wait for a response from the indexd service before timing out.
  indexdTimeout: "30"
  # -- (string) The timeout for requests to the ssjdispatcher service, in seconds. This is used by the data-upload-cron container to determine how long to wait for a response from the ssjdispatcher service before timing out.
  dispatcherTimeout: "30"
  # -- (string) The S3 endpoint URL to use for S3-compatible storage. This is used by the data-upload-cron container to determine the endpoint to use when connecting to S3. If left empty, it will use the default AWS S3 endpoint.
  s3EndpointUrl: ""
  # -- (string) The S3 region to use for S3-compatible storage. This is used by the data-upload-cron container to determine the region to use when connecting to S3. If left empty, it will use the default AWS S3 region.
  s3Region: ""
  # -- (bool) Whether to use path-style URLs for S3. This is used by the data-upload-cron container to determine whether to use path-style URLs (e.g., http://s3.amazonaws.com/bucket/key) or virtual-hosted-style URLs (e.g., http://bucket.s3.amazonaws.com/key) when connecting to S3. This is typically set to true for S3-compatible storage that does not support virtual-hosted-style URLs.
  s3ForcePathStyle: false

awsCredsSecret:
  # -- (string) The name of the Kubernetes secret that contains AWS credentials. This is used by the data-upload-cron container to authenticate with AWS when connecting to S3.
  secretName: ""
  # -- (string) The key in the Kubernetes secret that contains the AWS access key ID. This is used by the data-upload-cron container to authenticate with AWS when connecting to S3.
  accessKey: "aws_access_key_id"
  # -- (string) The key in the Kubernetes secret that contains the AWS secret access key. This is used by the data-upload-cron container to authenticate with AWS when connecting to S3.
  secretKey: "aws_secret_access_key"

# -- (map) ConfigMap keys for tracking the state of the cronjob. These are used by the data-upload-cron container to store and retrieve information about the last run of the cronjob and any pending jobs.
configmaps:
  # -- (map) Keys for tracking the state of the cronjob. This is used by the data-upload-cron container to store and retrieve information about the last run of the cronjob.
  state:
    # -- (string) The name of the ConfigMap to use for tracking the state of the cronjob. This is used by the data-upload-cron container to determine where to store information about the last run of the cronjob.
    name: "current-state"
    # -- (string) The key to use for storing the timestamp of the last run of the cronjob. This is used by the data-upload-cron container to determine when the cronjob was last run.
    lastRunKey: "last_run"
    # -- (string) The initial value for the last run key. This is used by the data-upload-cron container to initialize the last run state.
    initialLastRun: "1970-01-01T00:00:00Z"
  # -- (map) Keys for tracking pending jobs. This is used by the data-upload-cron container to store and retrieve information about any pending jobs that have not yet been completed.
  pending:
    name: "pending-state"
    # -- (string) The name of the ConfigMap to use for tracking pending jobs. This is used by the data-upload-cron container to determine where to store information about pending jobs.
    pendingKey: "pending"
    # -- (string) The initial value for the pending jobs key. This is used by the data-upload-cron container to initialize the pending jobs state.
    initialPending: "{}"

# -- (map) Resource requests and limits for the containers in the pod
resources:
  # -- (map) The amount of resources that the container requests
  requests:
    # -- (string) The amount of CPU requested
    cpu: "2"
    # -- (string) The amount of memory requested
    memory: 512Mi
  # -- (map) The maximum amount of resources that the container is allowed to use
  limits:
    # -- (string) The maximum amount of memory the container can use
    memory: 2Gi

image:
# -- (string) Docker repository.
  repository: quay.io/cdis/data-upload-cron
  # -- (string) Overrides the image tag whose default is the chart appVersion.
  tag: "master"
  # -- (string) Image pull policy.
  pullPolicy: Always

serviceAccount:
  # -- (bool) Specifies whether a service account should be created.
  create: true
  # -- (map) Annotations to add to the service account.
  annotations: {}
  # -- (string) The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

rbac:
  # -- (bool) Whether to create RBAC resources.
  create: true

# -- (map) Configuration for setting up alerts to Slack. This is used by the data-upload-cron container to determine whether to send alerts to Slack and how to authenticate with the Slack API.
slack:
  # -- (bool) Whether to enable Slack alerts.
  enabled: false
  # -- (string) The name of the secret containing the Slack API token.
  secretName: ""
  # -- (string) The key in the secret that contains the Slack API token.
  secretKey: ""
  # -- (string) The URL of the Slack webhook to send alerts to.
  webhook: ""