# Default values for datareplicate.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
enabled: true

suspendCronjob: false

# Global configuration
global:
  # -- (map) External Secrets settings.
  externalSecrets:
    # -- (bool) Will use ExternalSecret resources to pull secrets from Secrets Manager instead of creating them locally. Be cautious as this will override secrets you have deployed.
    deploy: true

# -- (map) external secrets for datareplicate jobs
externalSecrets:
  deploy: true
  googleCredsSecret:
  awsCredsSecret:
  dcfDataserviceSettingsSecret:

schedule: "*/15 * * * *"

suspend: false

slack:
  enabled: false

serviceAccount:
  create: true

rbac:
  create: true

env:
  bucket: 'test'
  dispatcherUrl: "http://ssjdispatcher-service/dispatchJob"
  indexdUrl: "http://indexd-service"

configmaps:
  state:
    name: "current-state"
    lastRunKey: "current.json"
    initialLastRun: {}
  pending:
    name: "pending-state"
    pendingKey: "pending.json"
    initialPending: {}

# -- (map) Resource requests and limits for the containers in the pod
resources:
  # -- (map) The amount of resources that the container requests
  requests:
    # -- (string) The amount of CPU requested
    cpu: "2"
    # -- (string) The amount of memory requested
    memory: 512Mi
  # -- (map) The maximum amount of resources that the container is allowed to use
  limits:
    # -- (string) The maximum amount of memory the container can use
    memory: 2Gi

image:
# -- (string) Docker repository.
  repository: quay.io/cdis/data-upload-cron
  # -- (string) Overrides the image tag whose default is the chart appVersion.
  tag: "master"
