{{- if and (.Values.global.externalSecrets.deploy) (not .Values.externalSecrets.createK8sAuditSecret) }}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: audit-g3auto
spec:
  refreshInterval: 5m
  secretStoreRef:
    name: {{include "common.SecretStore" .}}
    kind: SecretStore
  target:
    name: audit-g3auto
    creationPolicy: Owner
  data:
  - secretKey: audit-service-config.yaml
    remoteRef:
      #name of secret in secrets manager
      key: {{include "audit-g3auto" .}}
{{- end }}
---
{{- if and .Values.global.externalSecrets.deploy (not .Values.global.externalSecrets.dbCreate) }}
{{ include "common.externalSecret.db" . }}
{{- end }}