---
{{ if .Values.global.externalSecrets.deploy }}
{{ if not .Values.externalSecrets.createWtsOidcClientSecret }}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: wts-oidc-client
spec:
  refreshInterval: 5m
  secretStoreRef:
    name: {{include "common.SecretStore" .}}
    kind: SecretStore
  target:
    name: wts-oidc-client
    creationPolicy: Owner
  dataFrom:
  - extract:
      #name of secret in secrets manager
      key: {{ include "wts-oidc-client" . }}
      conversionStrategy: Default
      decodingStrategy: None
{{ end }}
{{ if not .Values.externalSecrets.createK8sWtsSecret }}
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: wts-g3auto
spec:
  refreshInterval: 5m
  secretStoreRef:
    name: {{include "common.SecretStore" .}}
    kind: SecretStore
  target:
    name: wts-g3auto
    creationPolicy: Owner
  data:
  - secretKey: appcreds.json
    remoteRef:
      #name of secret in secrets manager
      key: {{ include "wts-g3auto" . }}
      property: appcreds.json
{{- end }}
{{- if .Values.global.externalSecrets.deploy }}
---
{{ include "common.externalSecret.db" . }}
{{- end }}
{{- end }}