kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  #WTS_BINDING
  name: wts-role-binding-{{ $.Release.Namespace }}
  namespace: {{ $.Release.Namespace }}
subjects:
- kind: ServiceAccount
  name: {{ .Values.roleName }}
  #CURRENT_NAMESPACE
  namespace: {{ $.Release.Namespace }}
roleRef:
  kind: ClusterRole
  name: {{ include "wts.fullname" . }}
  apiGroup: ""
