apiVersion: apps/v1
kind: Deployment
metadata:
  name: sower
  annotations:
    gen3.io/network-ingress: "pidgin"   
  labels:
    {{- include "sower.labels" . | nindent 4 }}
spec:
  selector:
      matchLabels:
        {{- include "sower.selectorLabels" . | nindent 8 }}
  revisionHistoryLimit: 2
  strategy:
    {{- toYaml .Values.strategy | nindent 8 }}  
  template:
    metadata:
      labels:
        netnolimit: "yes"
        public: "yes"
        {{- include "sower.selectorLabels" . | nindent 8 }}
        {{- include "common.extraLabels" . | nindent 8 }}        
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/manifest-sower.yaml") . | sha256sum }}
        {{- $metricsEnabled := .Values.metricsEnabled }}
      {{- if eq $metricsEnabled nil }}
        {{- $metricsEnabled = .Values.global.metricsEnabled }}
      {{- end }}
      {{- if eq $metricsEnabled nil }}
        {{- $metricsEnabled = true }}
      {{- end }}

      {{- if $metricsEnabled }}
        {{- include "common.grafanaAnnotations" . | nindent 8 }}
      {{- end }}
    spec:
      {{- if .Values.global.topologySpread.enabled }}
      {{- include "common.TopologySpread" . | nindent 6 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "sower.serviceAccountName" . }}
      volumes:
        {{- toYaml .Values.volumes | nindent 8 }}
      containers:
        - name: sower
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          volumeMounts:
            {{- toYaml .Values.volumeMounts | nindent 12 }}
          env:
          {{- with .Values.env }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: DICTIONARY_URL
              value: {{ .Values.global.dictionaryUrl | quote }}
            - name: GEN3_HOSTNAME
              value: {{ .Values.global.hostname }}
          ports:
            - name: http
              containerPort: 8000
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /_status
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 60
            timeoutSeconds: 30
          readinessProbe:
            httpGet:
              path: /_status
              port: 8000
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
