{{ if .Values.global.externalSecrets.deploy }}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: pelicanservice-g3auto
spec:
  refreshInterval: 5m
  secretStoreRef:
    name: {{include "common.SecretStore" .}}
    kind: SecretStore
  target:
    name: pelicanservice-g3auto
    creationPolicy: Owner
  data:
  - secretKey: config.json
    remoteRef:
      #name of secret in secrets manager
      key: {{include "pelicanservice-g3auto" .}}
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: sower-jobs-g3auto
spec:
  refreshInterval: 5m
  secretStoreRef:
    name: {{include "common.SecretStore" .}}
    kind: SecretStore
  target:
    name: sower-jobs-g3auto
    creationPolicy: Owner
  data:
  - secretKey: config.json
    remoteRef:
      #name of secret in secrets manager
      key: {{include "sower-jobs-g3auto" .}}
{{- end }}