apiVersion: apps/v1
kind: Deployment
metadata:
  name: orthanc-deployment
  annotations:
  {{- with .Values.podAnnotations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
    {{- include "orthanc.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "orthanc.selectorLabels" . | nindent 6 }}
      public: "yes"
      s3: "yes"
  template:
    metadata:
      labels:
        {{- include "orthanc.selectorLabels" . | nindent 8 }}
        {{- include "common.extraLabels" . | nindent 8 }}
        public: "yes"
        s3: "yes"
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/config-volume-g3auto.yaml") . | sha256sum }}
        {{- $metricsEnabled := .Values.metricsEnabled }}
      {{- if eq $metricsEnabled nil }}
        {{- $metricsEnabled = .Values.global.metricsEnabled }}
      {{- end }}
      {{- if eq $metricsEnabled nil }}
        {{- $metricsEnabled = true }}
      {{- end }}

      {{- if $metricsEnabled }}
        {{- include "common.grafanaAnnotations" . | nindent 8 }}
      {{- end }}
    spec:
      {{- if .Values.global.topologySpread.enabled }}
      {{- include "common.TopologySpread" . | nindent 6 }}
      {{- end }}
      {{- with .Values.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: "orthanc"
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          readinessProbe: 
            httpGet:
              path: /system
              port: 8042
              httpHeaders:
                - name: Authorization
                  value: Basic cHVibGljOmhlbGxv
            initialDelaySeconds: 5
            periodSeconds: 20
            timeoutSeconds: 30
          livenessProbe: 
            httpGet:
              path: /system
              port: 8042
              httpHeaders:
                - name: Authorization
                  value: Basic cHVibGljOmhlbGxv
            initialDelaySeconds: 5
            periodSeconds: 60
            timeoutSeconds: 30
          ports:
            - containerPort: {{ .Values.service.targetPort }}
              name: http
          env:
            - name: PGHOST
              valueFrom:
                secretKeyRef:
                  name: orthanc-dbcreds
                  key: host
                  optional: true 
            - name: PGUSER
              valueFrom:
                secretKeyRef:
                  name: orthanc-dbcreds
                  key: username
                  optional: true 
            - name: PGPASSWORD
              valueFrom:
                secretKeyRef:
                  name: orthanc-dbcreds
                  key: password
                  optional: true
            - name: PGDB
              valueFrom:
                secretKeyRef:
                  name: orthanc-dbcreds
                  key: database
                  optional: true
            - name: DBREADY
              valueFrom:
                secretKeyRef:
                  name: orthanc-dbcreds
                  key: dbcreated
                  optional: true
            - name: DICOM_WEB_PLUGIN_ENABLED
              value: "true"
            - name: TCIA_PLUGIN_ENABLED
              value: "true"
            - name: ORTHANC_EXPLORER_2_ENABLED
              value: "false"
          {{- with .Values.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 10 }}
          {{- end }}