{{ if index .Values "external-secrets" "enabled" }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: external-secrets
  namespace: argocd
spec:
  project: default
  sources:
    - chart: external-secrets
      repoURL: https://charts.external-secrets.io
      targetRevision: {{ index .Values "external-secrets" "targetRevision" }}
      helm:
        releaseName: external-secrets
      {{- if index .Values "external-secrets" "configuration" "enabled" }}
        valueFiles:
          - $values/{{ .Values.cluster }}/cluster-values/external-secrets.yaml
    - repoURL: {{ .Values.configuration.configurationRepo }}
      targetRevision: {{ .Values.configurationRevision }}
      ref: values
      {{- else }}
        values: |
          webhook:
            readinessProbe:
              port: 8087
              address: "127.0.0.1"
            hostNetwork: true
            port: 10252
            metrics:
              listen:
                port: 8082
              service:
                port: 8082
      {{- end }}
  destination:
    server: "https://kubernetes.default.svc"
    namespace: kube-system
  syncPolicy:
    syncOptions:
    - CreateNamespace=false
    automated:
      selfHeal: true
{{ end }}
