{{ if and (index .Values "karpenter-crds" "enabled") (index .Values "karpenter-crds" "jupyter" "enabled") }}
{{- if semverCompare ">=1.0.8" .Values.karpenter.targetRevision }}
apiVersion: karpenter.k8s.aws/v1
{{- else }}
apiVersion: karpenter.k8s.aws/v1beta1
{{- end }}
kind: EC2NodeClass
metadata:
  name: jupyter
spec:
  {{- if semverCompare ">=1.33" .Capabilities.KubeVersion }}
  amiFamily: AL2023
  {{- else }}
  amiFamily: AL2
  {{- end }}
  amiSelectorTerms:
  - name: {{ index .Values "karpenter-crds" "amiSelectorName" }}
    owner: "143731057154"
  blockDeviceMappings:
  - deviceName: /dev/xvda
    ebs:
      deleteOnTermination: true
      encrypted: true
      volumeSize: {{ index .Values "karpenter-crds" "jupyter" "volumeSize" }}
      volumeType: gp3
  metadataOptions:
    httpEndpoint: enabled
    httpProtocolIPv6: disabled
    httpPutResponseHopLimit: 2
    httpTokens: optional
  role: eks_{{ index .Values "karpenter-crds" "selectorTag" }}_workers_role

  securityGroupSelectorTerms:
  - tags:
      karpenter.sh/discovery: {{ index .Values "karpenter-crds" "selectorTag" }}-jupyter

  subnetSelectorTerms:
  - tags:
      karpenter.sh/discovery: {{ index .Values "karpenter-crds" "selectorTag" }}

  tags:
    Environment: {{ .Values.cluster }}
    Name: eks-{{ .Values.cluster }}-karpenter
    karpenter.sh/discovery: {{ index .Values "karpenter-crds" "selectorTag" }}
    purpose: jupyter

  userData: |
    MIME-Version: 1.0
    Content-Type: multipart/mixed; boundary="BOUNDARY"

    --BOUNDARY
    Content-Type: text/x-shellscript; charset="us-ascii"

    #!/bin/bash -x
    echo "$(jq '.registryPullQPS=0' /etc/kubernetes/kubelet/kubelet-config.json)" > /etc/kubernetes/kubelet/kubelet-config.json
    curl https://raw.githubusercontent.com/uc-cdis/cloud-automation/master/files/authorized_keys/ops_team >> /home/ec2-user/.ssh/authorized_keys &
    sysctl -w fs.inotify.max_user_watches=12000 &

    --BOUNDARY--
{{- if semverCompare ">=1.0.8" .Values.karpenter.targetRevision }}
  kubelet:
    evictionHard:
      memory.available: 5%
    evictionSoft:
      memory.available: 10%
    evictionSoftGracePeriod:
      memory.available: 5m
    kubeReserved:
      cpu: 480m
      ephemeral-storage: 3Gi
      memory: 1632Mi
{{- end }}
---
{{- if semverCompare ">=1.0.8" .Values.karpenter.targetRevision }}
apiVersion: karpenter.sh/v1
kind: NodePool
metadata:
  name: jupyter
spec:
  template:
    metadata:
      labels:
        role: jupyter
    spec:
      taints:
        - effect: NoSchedule
          key: role
          value: jupyter
      nodeClassRef:
        group: karpenter.k8s.aws
        kind: EC2NodeClass
        name: jupyter
      expireAfter: 168h
      terminationGracePeriod: 48h
      requirements:
      {{ toYaml (index .Values "karpenter-crds" "jupyter" "requirements") | nindent 6 }}

  disruption:
    consolidateAfter: {{ index .Values "karpenter-crds" "jupyter" "consolidateAfter" }}
    consolidationPolicy: {{ index .Values "karpenter-crds" "jupyter" "consolidationPolicy" }}
    budgets:
    - nodes: 10%

  limits:
    cpu: "1000"
    memory: 1000Gi
{{- else }}
apiVersion: karpenter.sh/v1beta1
kind: NodePool
metadata:
  name: jupyter
spec:
  disruption:
    {{ if eq (index .Values "karpenter-crds" "jupyter" "consolidationPolicy" ) "WhenEmpty" }}
    consolidateAfter: {{ index .Values "karpenter-crds" "jupyter" "consolidateAfter" }}
    {{ end }}
    consolidationPolicy: {{ index .Values "karpenter-crds" "jupyter" "consolidationPolicy" }}
    expireAfter: {{ index .Values "karpenter-crds" "jupyter" "expireAfter" }}
  limits:
    cpu: "1000"
    memory: 1000Gi
  template:
    metadata:
      labels:
        role: jupyter
    spec:
      kubelet:
        evictionHard:
          memory.available: 5%
        evictionSoft:
          memory.available: 10%
        evictionSoftGracePeriod:
          memory.available: 5m
        kubeReserved:
          cpu: 480m
          ephemeral-storage: 3Gi
          memory: 1632Mi
      nodeClassRef:
        apiVersion: karpenter.k8s.aws/v1beta1
        kind: EC2NodeClass
        name: jupyter
      requirements:
      {{ toYaml (index .Values "karpenter-crds" "jupyter" "requirements") | nindent 6 }}
      taints:
      - effect: NoSchedule
        key: role
        value: jupyter
{{- end }}
{{ end }}
