# Delete all expired Fence OIDC clients and optionally post about expired clients on Slack.
# To set up as a daily cronjob: `gen3 job cron fence-delete-expired-clients "0 7 * * *"`
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: fence-delete-expired-clients
spec:
  schedule: {{ .Values.fenceDeleteExpiredClients.schedule | quote }}
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 1
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      backoffLimit: 4
      template:
        metadata:
          labels:
            app: gen3job
        spec:
          volumes:
            - name: yaml-merge
              configMap:
                name: "fence-yaml-merge"
            - name: config-volume
              secret:
                secretName: "fence-config"
          containers:
          - name: fence
            image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
            imagePullPolicy: Always
            env:
                - name: PYTHONPATH
                  value: /var/www/fence
                - name: FENCE_PUBLIC_CONFIG
                  valueFrom:
                    configMapKeyRef:
                      name: manifest-fence
                      key: fence-config-public.yaml
                      optional: true
                - name: slackWebHook
                  value: {{ .Values.fenceDeleteExpiredClients.slack_webhook | quote }}
                {{- toYaml .Values.env | nindent 16 }}
            volumeMounts:
              - name: "config-volume"
                readOnly: true
                mountPath: "/var/www/fence/fence-config-secret.yaml"
                subPath: fence-config.yaml
              - name: "yaml-merge"
                readOnly: true
                mountPath: "/var/www/fence/yaml_merge.py"
                subPath: yaml_merge.py
            command: ["/bin/bash"]
            args:
              - "-c"
              - |
                python /var/www/fence/yaml_merge.py /var/www/fence/fence-config-public.yaml /var/www/fence/fence-config-secret.yaml /var/www/fence/fence-config.yaml
                if [[ "$slackWebHook" =~ ^http ]]; then
                  fence-create client-delete-expired --slack-webhook $slackWebHook --warning-days 7
                else
                  fence-create client-delete-expired
                fi
                exit $?
          restartPolicy: Never