# Delete all expired Fence OIDC clients and optionally post about expired clients on Slack.
# To set up as a daily cronjob: `gen3 job cron fence-delete-expired-clients "0 7 * * *"`
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: fence-delete-expired-clients
spec:
  schedule: {{ .Values.fenceDeleteExpiredClients.schedule | quote }}
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 1
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      backoffLimit: 4
      template:
        metadata:
          labels:
            app: gen3job
        spec:
          securityContext:
            {{- toYaml .Values.podSecurityContext | nindent 12 }}
          volumes:
            {{- toYaml .Values.volumes | nindent 12 }}
          {{- with .Values.imagePullSecrets }}
          imagePullSecrets:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          containers:
          - name: fence
            image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
            imagePullPolicy: Always
            env:
              {{- if .Values.env }}
              {{- toYaml .Values.env | nindent 14 }}
              {{- end }}
              - name: FENCE_PUBLIC_CONFIG
                valueFrom:
                  configMapKeyRef:
                    name: manifest-fence
                    key: fence-config-public.yaml
                    optional: true
              - name: slackWebHook
                valueFrom:
                  secretKeyRef:
                    name: slack-webhook
                    key: slack_webhook
                    optional: true

            volumeMounts:
              {{- toYaml .Values.initVolumeMounts | nindent 14 }}
            resources:
              {{- toYaml .Values.resources | nindent 14 }}
            command: ["/bin/bash"]
            args:
              - "-c"
              - |
                python /var/www/fence/yaml_merge.py  /var/www/fence/fence-config-secret.yaml /var/www/fence/fence-config-public.yaml /var/www/fence/fence-config.yaml
                if [[ "$slackWebHook" =~ ^http ]]; then
                  fence-create client-delete-expired --slack-webhook $slackWebHook --warning-days 7
                else
                  fence-create client-delete-expired
                fi
                exit $?
          restartPolicy: Never
