apiVersion: v1
kind: Secret
metadata:
  name: fence-config
stringData:
  fence-config.yaml: |
    BASE_URL: https://{{ .Values.global.hostname }}/user
    {{- with .Values.FENCE_CONFIG }}
    {{- toYaml . | nindent 4 }}
    {{ end }}
---