apiVersion: apps/v1
kind: Deployment
metadata:
  name: grip-deployment
  labels:
    {{- include "grip.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "grip.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "grip.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "grip.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      volumes:
        - name: mongo-config-volume
          configMap:
            name: grip-values
      initContainers:
        - name: wait-for-mongodb
          image: busybox:1.35
          command:
            - "/bin/sh"
            - "-c"
            - |
              echo "Waiting for MongoDB to be available..."
              until nc -zv mongodb-service 27017; do
                echo "MongoDB is not ready, sleeping..."
                sleep 5
              done
              echo "MongoDB is running"
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          volumeMounts:
          - name: mongo-config-volume
            mountPath: /data/mongo.yml
            subPath: mongoConfig
            readOnly: true
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /graphql/_status
              port: 8201
            initialDelaySeconds: 10
            periodSeconds: 60
            timeoutSeconds: 30
          readinessProbe:
            httpGet:
              path: /graphql/_status
              port: 8201
            initialDelaySeconds: 10
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          command:
            - /app/grip
          args:
            - server
            - -c
            - mongo.yml
            - -w
            - graphql=gen3_writer.so
            - -w
            - reader=grip-graphql-endpoint.so
            - -l
            - reader:config=./config/gen3.js
            - -l
            - reader:graph=CALIPER
          env:
            - name: GOMAXPROCS
              value: "4"
            - name: GOMEMLIMIT
              value: "7000000000"

      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
