apiVersion: v1
kind: Service
metadata:
  name: local-grip
  labels:
    {{- include "grip.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "grip.selectorLabels" . | nindent 4 }}

