# Default values for ohdsi-webapi >>>>>>>>> FOR TESTING LOCALLY !! <<<<<<<<<
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Keep this at 1 since ohdsi-webapi is not well suited for more than 1 instance at a time:
replicaCount: 1

image:
  repository: quay.io/cdis/ohdsi-webapi
  pullPolicy: IfNotPresent
  tag: "2.15.0-DEV"

service:
  # This sets the service type more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types
  type: ClusterIP
  port: 80

nginx:
  # see also ./templates/ohdsi-webapi-reverse-proxy-config.yaml for other nginx config related to this service
  repository: quay.io/cdis/nginx
  tag: master

# Global configuration
global:
  externalSecrets:
    # -- (bool) Will use ExternalSecret resources to pull secrets from Secrets Manager instead of creating them locally. Be cautious as this will override any fence secrets you have deployed.
    deploy: false
  # -- (string) Hostname for the deployment.
  hostname: "host.docker.internal"
  atlasUrl: http://localhost:8889
  postgres:
    # -- (bool) Whether the database should be created.
    dbCreate: true
    # -- (string) Name of external secret. Disabled if empty
    externalSecret: ""
    # -- (map) Master credentials to postgres. This is going to be the default postgres server being used for each service, unless each service specifies their own postgres
    master:
      # -- (string) hostname of postgres server
      host:
      # -- (string) username of superuser in postgres. This is used to create or restore databases
      username: postgres
      # -- (string) password for superuser in postgres. This is used to create or restore databases
      password:
      # -- (string) Port for Postgres.
      port: "5432"

externalSecrets:
  # -- (string) Override flag: will create the Helm "ohdsi-webapi-config" secret even if Secrets Manager is enabled (see global.ExternalSecrets.deploy). This is for when we need to override the global Secrets Manager flag for this service.
  createK8sOhdsiWebApiConfigSecret: true

# Set these ohdsi-atlas DB connection details (if global.externalSecrets.deploy == false above):

# -- (map) Postgres database configuration. If db does not exist in postgres cluster and dbCreate is set to true then these databases will be created for you
postgres:
  # -- (bool) Whether the database should be created. Default to global.postgres.dbCreate
  dbCreate:
  # -- (string) Hostname for postgres server. This is a service override, defaults to global.postgres.host
  host:
  # -- (string) Database name for postgres. This is a service override, defaults to <serviceName>-<releaseName>
  database:
  # -- (string) Username for postgres. This is a service override, defaults to <serviceName>-<releaseName>
  username:
  # -- (string) Port for Postgres.
  port: "5432"
  # -- (string) Password for Postgres. Will be autogenerated if left empty.
  password:
  # -- (string) Will create a Database for the individual service to help with developing it.
  separate: false

# -- (map) Postgresql subchart settings if deployed separately option is set to "true".
# Disable persistence by default so we can spin up and down ephemeral environments
postgresql:
  primary:
    persistence:
      # -- (bool) Option to persist the dbs data.
      enabled: false

# -- (bool) Whether to automatically create a OIDC a client in Fence.
createFenceClientJobEnabled: true

arboristUrl: http://arborist-service # add some local URL...
fenceUrl: http://host.docker.internal
