apiVersion: apps/v1
kind: Deployment
metadata:
  name: sheepdog-deployment
  {{- with .Values.podAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
    {{- include "sheepdog.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "sheepdog.selectorLabels" . | nindent 6 }}
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  {{- with .Values.strategy }}
  strategy:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  template:
    metadata:
      labels:
        # gen3 networkpolicy labels
        netnolimit: 'yes'
        public: 'yes'
        s3: 'yes'
      {{- if .Values.dataDog.enabled }}
        tags.datadoghq.com/service: "sheepdog"
        # TODO: move this to helpers so we can have this populated from a configmap
        tags.datadoghq.com/env: {{ .Values.dataDog.env }}
        tags.datadoghq.com/version: {{ .Values.image.tag | default .Chart.AppVersion }}
      {{- end }}
        {{- include "sheepdog.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      automountServiceAccountToken: {{ .Values.automountServiceAccountToken }}
      volumes:
        - name: config-volume
          secret:
            secretName: "sheepdog-secret"
        - name: creds-volume
          secret:
            secretName: "sheepdog-creds"
        - name: config-helper
          configMap:
            name: config-helper

      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- with .Values.ports}}
          ports:
            {{- toYaml . | nindent 12}}
          {{- end }}
           {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12}}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12}}
          {{- end }}
          # command: ["/bin/bash" ]
          # args: 
          #   - "-c"
          #   - "sleep infinity"
          env: 
            - name: GEN3_UWSGI_TIMEOUT
              value: "600"
            - name: DICTIONARY_URL
              value: {{ .Values.dictionaryUrl }}
            {{- with .Values.indexdUrl }}
            - name: INDEX_CLIENT_HOST
              value: {{ . }}
            {{- end }}
            {{- with .Values.fenceUrl }}
            - name: FENCE_URL
              value: {{ . }}
            {{- end }}
            {{- with .Values.arboristUrl }}
            - name: ARBORIST_URL
              value: {{ . }}
            {{- end }}
            {{- with .Values.authNamespace }}
            - name: AUTH_NAMESPACE
              value: {{ . }}
            {{- end }}
            - name: REQUESTS_CA_BUNDLE
              #
              # override python 'requests' SSL certificate bundle
              # to use system trusted certs
              # which includes our private certificate authority
              #
              value: /etc/ssl/certs/ca-certificates.crt
            - name: GEN3_DEBUG
              value: "True"
            {{- with .Values.ddTraceEnabled }}
            - name: DD_TRACE_ENABLED
              value: {{ . }}
            {{- end }}
            {{- with .Values.ddEnv }}
            - name: DD_ENV
              value: {{ . }}
            {{- end }}
            {{- with .Values.ddService }}
            - name: DD_SERVICE
              value: {{ . }}
            {{- end }}
            {{- with .Values.ddVersion }}
            - name: DD_VERSION
              value: {{ . }}
            {{- end }}
            {{- with .Values.ddLogsInjection }}
            - name: DD_LOGS_INJECTION
              value: {{ . }}
            {{- end }}
            {{- with .Values.ddProfilingEnabled }}
            - name: DD_PROFILING_ENABLED
              value: {{ . }}
            {{- end }}
            {{- with .Values.ddTraceSampleRate }}
            - name: DD_TRACE_SAMPLE_RATE
              value: {{ . }}
            {{- end }}
            {{- with .Values.ddTraceAgentHostname }}
            - name: DD_TRACE_AGENT_HOSTNAME
              value: {{ . }}
            {{- end }}
          {{- with .Values.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 10 }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}