apiVersion: apps/v1
kind: Deployment
metadata:
  name: sheepdog-deployment
  {{- with .Values.podAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
    {{- include "sheepdog.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "sheepdog.selectorLabels" . | nindent 6 }}
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  {{- with .Values.strategy }}
  strategy:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  template:
    metadata:
      labels:
        # gen3 networkpolicy labels
        public: "yes"
        netnolimit: "yes"
        s3: "yes"
        {{- include "sheepdog.selectorLabels" . | nindent 8 }}
        {{- include "common.extraLabels" . | nindent 8 }}
      annotations:
        {{- if .Values.metricsEnabled }}
        {{- include "common.grafanaAnnotations" . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      automountServiceAccountToken: {{ .Values.automountServiceAccountToken }}
      volumes:
        - name: config-volume
          secret:
            secretName: "sheepdog-secret"
        - name: config-helper
          configMap:
            name: config-helper
      initContainers:
        - name: sheepdog-init
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
          - name: DICTIONARY_URL
            value: {{ .Values.dictionaryUrl }}
          - name: PGHOST
            valueFrom:
              secretKeyRef:
                name: sheepdog-dbcreds
                key: host
                optional: false  
          - name: PGUSER
            valueFrom:
              secretKeyRef:
                name: sheepdog-dbcreds
                key: username
                optional: false 
          - name: PGPASSWORD
            valueFrom:
              secretKeyRef:
                name: sheepdog-dbcreds
                key: password
                optional: false
          - name: PGDB
            valueFrom:
              secretKeyRef:
                name: sheepdog-dbcreds
                key: database
                optional: false
          - name: DBREADY
            valueFrom:
              secretKeyRef:
                name: sheepdog-dbcreds
                key: dbcreated
                optional: false
          - name: CONF_HOSTNAME
            value: {{ .Values.global.hostname }}
          command: ["/bin/bash" ]
          args: 
            - "-c"
            # Script always succeeds if it runs (echo exits with 0)  
            - |
              #
              # sheepdog sets up core data model now,
              # but suffers from a race condition doing it ...
              #
              if command -v python &> /dev/null; then
                echo datamodel_postgres_admin create-all -U "${PGUSER}" -P XXXXXXX -H "${PGHOST}" -D "${PGDB}"
                datamodel_postgres_admin create-all -U "${PGUSER}" -P "${PGPASSWORD}" -H "${PGHOST}" -D "${PGDB}"
                echo python /sheepdog/bin/setup_transactionlogs.py --user "${PGUSER}"  --password XXXXX --host "${PGHOST}" --database "${PGDB}"
                python /sheepdog/bin/setup_transactionlogs.py --user "${PGUSER}"  --password "${PGPASSWORD}" --host "${PGHOST}" --database "${PGDB}"
              else
                echo poetry run datamodel_postgres_admin create-all -U "${PGUSER}" -P XXXXXXX -H "${PGHOST}" -D "${PGDB}"
                poetry run datamodel_postgres_admin create-all -U "${PGUSER}" -P "${PGPASSWORD}" -H "${PGHOST}" -D "${PGDB}"
                echo poetry run python /sheepdog/bin/setup_transactionlogs.py --user "${PGUSER}"  --password XXXXX --host "${PGHOST}" --database "${PGDB}"
                poetry run python /sheepdog/bin/setup_transactionlogs.py --user "${PGUSER}"  --password "${PGPASSWORD}" --host "${PGHOST}" --database "${PGDB}"
              fi
      containers:
        - name: sheepdog
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 80
            - containerPort: 443
          livenessProbe:
            httpGet:
              path: /_status?timeout=20
              port: 80
            initialDelaySeconds: 30
            periodSeconds: 60
            timeoutSeconds: 30
          readinessProbe:
            initialDelaySeconds: 30
            httpGet:
              path: /_status?timeout=2
              port: 80
          # command: ["/bin/bash" ]
          # args: 
          #   - "-c"
          #   - "sleep infinity"
          env:
            - name: CONF_HOSTNAME
              value: {{ .Values.global.hostname }}
            - name: FENCE_DB_USER
              valueFrom:
                secretKeyRef:
                  name: fence-dbcreds
                  key: username
                  optional: false
            - name: FENCE_DB_PASS
              valueFrom:
                secretKeyRef:
                  name: fence-dbcreds
                  key: password
                  optional: false
            - name: FENCE_DB_HOST
              valueFrom:
                secretKeyRef:
                  name: fence-dbcreds
                  key: host
                  optional: false
            - name: FENCE_DB_DBNAME
              valueFrom:
                secretKeyRef:
                  name: fence-dbcreds
                  key: database
                  optional: false
            - name: DBREADY_FENCE
              valueFrom:
                secretKeyRef:
                  name: fence-dbcreds
                  key: dbcreated
                  optional: false
            - name: FLASK_SECRET_KEY
              value: "TODO: FIX THIS!!!"
            - name: PGHOST
              valueFrom:
                secretKeyRef:
                  name: sheepdog-dbcreds
                  key: host
                  optional: false  
            - name: PGUSER
              valueFrom:
                secretKeyRef:
                  name: sheepdog-dbcreds
                  key: username
                  optional: false 
            - name: PGPASSWORD
              valueFrom:
                secretKeyRef:
                  name: sheepdog-dbcreds
                  key: password
                  optional: false
            - name: PGDB
              valueFrom:
                secretKeyRef:
                  name: sheepdog-dbcreds
                  key: database
                  optional: false
            - name: DBREADY
              valueFrom:
                secretKeyRef:
                  name: sheepdog-dbcreds
                  key: dbcreated
                  optional: false
            - name: PUBLIC_DATASETS
              valueFrom:
                configMapKeyRef:
                  name: manifest-global
                  key: public_datasets
                  optional: true
            - name: INDEXD_PASS
              valueFrom:
                secretKeyRef:
                  name: indexd-service-creds
                  key: sheepdog
                  optional: false
            - name: GEN3_UWSGI_TIMEOUT
              value: "600"
            - name: DICTIONARY_URL
              value: {{ include "sheepdog.dictionaryUrl" .}}
            {{- with .Values.indexdUrl }}
            - name: INDEX_CLIENT_HOST
              value: {{ . }}
            {{- end }}
            {{- with .Values.fenceUrl }}
            - name: FENCE_URL
              value: {{ . }}
            {{- end }}
            {{- with .Values.arboristUrl }}
            - name: ARBORIST_URL
              value: {{ . }}
            {{- end }}
            {{- with .Values.authNamespace }}
            - name: AUTH_NAMESPACE
              value: {{ . }}
            {{- end }}
            # - name: REQUESTS_CA_BUNDLE
            #   #
            #   # override python 'requests' SSL certificate bundle
            #   # to use system trusted certs
            #   # which includes our private certificate authority
            #   #
            #   value: /etc/ssl/certs/ca-certificates.crt
            - name: GEN3_DEBUG
              value: "True"
          {{- with .Values.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 10 }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}