apiVersion: apps/v1
kind: Deployment
metadata:
  name: arborist-deployment
  labels:
    {{- include "arborist.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "arborist.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
        {{- if .Values.metricsEnabled }}
        {{- include "common.grafanaAnnotations" . | nindent 8 }}
        {{- end }}
      labels:
        authprovider: "yes"
        dbarborist: "yes"
        public: "yes"
        {{- include "arborist.selectorLabels" . | nindent 8 }}
        {{- include "common.extraLabels" . | nindent 8 }}
    spec:
      {{- with .Values.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "arborist.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 30
            periodSeconds: 60
            timeoutSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          command: ["sh"]
          args:
            - "-c"
            - |
              set -e
              # set env vars
              export PGSSLMODE="disable"
              
              # bring the database schema up to the latest version
              /go/src/github.com/uc-cdis/arborist/migrations/latest

              # run arborist
              /go/src/github.com/uc-cdis/arborist/bin/arborist
          env:

            {{- toYaml .Values.env | nindent 12 }}
            - name: PGPASSWORD
              valueFrom:
                secretKeyRef:
                  name: arborist-dbcreds
                  key: password
                  optional: false
            - name: PGUSER
              valueFrom:
                secretKeyRef:
                  name: arborist-dbcreds
                  key: username
                  optional: false
            - name: PGDATABASE
              valueFrom:
                secretKeyRef:
                  name: arborist-dbcreds
                  key: database
                  optional: false
            - name: PGHOST
              valueFrom:
                secretKeyRef:
                  name: arborist-dbcreds
                  key: host
                  optional: false
            - name: PGPORT
              valueFrom:
                secretKeyRef:
                  name: arborist-dbcreds
                  key: port
                  optional: false
            - name: PGSSLMODE
              value: disable
            - name: DBREADY
              valueFrom:
                secretKeyRef:
                  name: arborist-dbcreds
                  key: dbcreated
                  optional: false

          {{- with .Values.volumeMounts }}
          volumeMounts:
            {{- toYaml .Values.volumeMounts | nindent 12 }}  
          {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}