# Default values for funnel.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  aws:
    # -- (string) AWS region for this deployment
    region: us-east-1
    # -- (bool) Set to true if deploying to AWS. Controls ingress annotations.
    enabled: false
    # -- (string) Credentials for AWS stuff.
    awsAccessKeyId:
    # -- (string) Credentials for AWS stuff.
    awsSecretAccessKey:
    externalSecrets:
      # -- (bool) Whether to use External Secrets for aws config.
      enabled: false
      # -- (String) Name of Secrets Manager secret.
      externalSecretAwsCreds:
      # -- (bool) Whether to create the database and Secrets Manager secrets via PushSecret.
      pushSecret: false
  postgres:
    # -- (bool) Whether the database should be created.
    dbCreate: true
    # -- (string) Name of master Postgres secret in Secrets Manager. Disabled if empty
    externalSecret: ""
    # -- (map) Master credentials to postgres. This is going to be the default postgres server being used for each service, unless each service specifies their own postgres
    master:
      # -- (string) hostname of postgres server
      host: "test"
      # -- (string) username of superuser in postgres. This is used to create or restore databases
      username: postgres
      # -- (string) password for superuser in postgres. This is used to create or restore databases
      password:
      # -- (string) Port for Postgres.
      port: "5432"
  environment: default
  clusterName: default
  externalSecrets:
    # -- (bool) Will use ExternalSecret resources to pull secrets from Secrets Manager instead of creating them locally. Be cautious as this will override any gen3-workflow secrets you have deployed.
    deploy: false
    # -- (string) Will deploy a separate External Secret Store for this service.
    separateSecretStore: false
    clusterSecretStoreRef: ""
    pushFunnelOidcClientToExternalSecrets: true
  # -- (string) Hostname for the deployment.
  hostname: ""
  # -- (map) Network policy settings.
  netPolicy:
    # -- (bool) Whether network policies are enabled
    enabled: false
  # -- (map) Karpenter topology spread configuration.
  topologySpread:
    # -- (bool) Whether to enable topology spread constraints for all subcharts that support it.
    enabled: false
    # -- (string) The topology key to use for spreading. Defaults to "topology.kubernetes.io/zone".
    topologyKey: "topology.kubernetes.io/zone"
    # -- (int) The maxSkew to use for topology spread constraints. Defaults to 1.
    maxSkew: 1

metricsEnabled: false

# -- (map) External Secrets settings.
externalSecrets:
  # -- (bool) Whether to create the Funnel OIDC client secret using the oidc job.
  createFunnelOidcClientSecret: true
  # -- (string) Will override the name of the aws secrets manager secret. Default is "funnel-oidc-client".
  funnelOidcClient:
  # -- (string) Name of the secret that will be created in secrets manager
  dbcreds: ""

# -- (map) Secret information for External Secrets.
secrets:
  # -- (str) AWS access key ID. Overrides global key.
  awsAccessKeyId:
  # -- (str) AWS secret access key ID. Overrides global key.
  awsSecretAccessKey:

# -- (map) Postgres database configuration. If db does not exist in postgres cluster and dbCreate is set ot true then these databases will be created for you
postgres:
  # (bool) Whether the database should be restored from s3. Default to global.postgres.dbRestore
  dbRestore: false
  # -- (bool) Whether the database should be created. Default to global.postgres.dbCreate
  dbCreate:
  # -- (string) Hostname for postgres server. This is a service override, defaults to global.postgres.host
  host:
  # -- (string) Database name for postgres. This is a service override, defaults to <serviceName>-<releaseName>
  database:
  # -- (string) Username for postgres. This is a service override, defaults to <serviceName>-<releaseName>
  username:
  # -- (string) Port for Postgres.
  port: "5432"
  # -- (string) Password for Postgres. Will be autogenerated if left empty.
  password:
  # -- (string) Will create a Database for the individual service to help with developing it.
  separate: false

# -- (map) Postgresql subchart settings if deployed separately option is set to "true".
# Disable persistence by default so we can spin up and down ephemeral environments
postgresql:
  primary:
    persistence:
      # -- (bool) Option to persist the dbs data.
      enabled: false

# Values to determine the labels that are used for the deployment, pod, etc.
# -- (string) Valid options are "production" or "dev". If invalid option is set- the value will default to "dev".
release: "production"
# -- (string) Valid options are "true" or "false". If invalid option is set- the value will default to "false".
criticalService: "false"
# -- (string) Label to help organize pods and their use. Any value is valid, but use "_" or "-" to divide words.
partOf: "Workflow_Execution"

# -- (bool) Whether to create a job to generate the OIDC client for Funnel.
oidc_job_enabled: true

funnel:
  # -- (map) Configuration for the Funnel container image.
  image:
    # -- (string) The Docker image repository for the Funnel service.
    repository: quay.io/ohsu-comp-bio/funnel
    # -- (string) When to pull the image. This value should be "Always" to ensure the latest image is used.
    pullPolicy: Always

    # -- (map) Configuration for the Funnel init container.
    initContainers:
      - name: plugin
        # -- (string) The Docker image repository for the Funnel init/plugin container.
        image: quay.io/cdis/funnel-gen3-plugin
        # -- (string) The Docker image tag for the Funnel init/plugin container.
        tag: main-gen3
        # -- (string) When to pull the image. This value should be "Always" to ensure the latest image is used.
        pullPolicy: Always
        # -- (list) Arguments to pass to the init container.
        command:
          - cp
          - /app/build/plugins/authorizer
          - /opt/funnel/plugin-binaries/auth-plugin
        volumeMounts:
          - name: plugin-volume
            mountPath: /opt/funnel/plugin-binaries
      - name: config-updater
        image: quay.io/cdis/awshelper
        tag: master
        env:
          - name: FUNNEL_OIDC_CLIENT_ID
            valueFrom:
              secretKeyRef:
                name: funnel-oidc-client
                key: client_id
                optional: false
          - name: FUNNEL_OIDC_CLIENT_SECRET
            valueFrom:
              secretKeyRef:
                name: funnel-oidc-client
                key: client_secret
                optional: false
          - name: DB_HOST
            valueFrom:
              secretKeyRef:
                name: funnel-dbcreds
                key: host
                optional: false
          - name: DB_USER
            valueFrom:
              secretKeyRef:
                name: funnel-dbcreds
                key: username
                optional: false
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: funnel-dbcreds
                key: password
                optional: false
          - name: DB_DATABASE
            valueFrom:
              secretKeyRef:
                name: funnel-dbcreds
                key: database
                optional: false
        volumeMounts:
          - name: funnel-patched-config-volume
            mountPath: /tmp
          - name: funnel-config-volume
            mountPath: /etc/config/funnel.conf
            subPath: funnel-server.yaml
        command: ["/bin/bash"]
        args:
          - "-c"
          - |
            # Create a funnel-patched.conf since /etc/config/funnel.conf is readonly
            CONFIG=/tmp/funnel-patched.conf
            cp /etc/config/funnel.conf $CONFIG

            namespace=$(cat /var/run/secrets/kubernetes.io/serviceaccount/namespace)
            JOBS_NAMESPACE=workflow-pods-$namespace
            S3_URL=gen3-workflow-service.$namespace.svc.cluster.local
            DB_HOST=$DB_HOST:5432

            # `Kubernetes.JobsNamespace` has to be configured manually because of templating
            # limitations. This ensures it is configured to the value that is hardcoded elsewhere.
            configured=$(yq -r '.Kubernetes.JobsNamespace' "$CONFIG")
            if [[ "$configured" != "$JOBS_NAMESPACE" ]]; then
              echo "ERROR: funnel.Kubernetes.JobsNamespace is set to '$configured' instead of '$JOBS_NAMESPACE'. Please fix the configuration" >&2
              exit 1
            fi

            echo "======= Funnel configuration ======="
            echo "  Kubernetes.JobsNamespace   : $JOBS_NAMESPACE"
            echo "  Plugins.Params.OidcClientId: $FUNNEL_OIDC_CLIENT_ID"
            echo "  Plugins.Params.S3Url       : $S3_URL"
            echo "  Postgres.Host              : $DB_HOST"
            echo "  Postgres.Database          : $DB_DATABASE"
            echo "  Postgres.User              : $DB_USER"
            echo "===================================="

            # Replace placeholders with actual values (in-place)
            sed -i "s|FUNNEL_PLUGIN_OIDC_CLIENT_ID_PLACEHOLDER|${FUNNEL_OIDC_CLIENT_ID}|g" $CONFIG
            sed -i "s|FUNNEL_PLUGIN_OIDC_CLIENT_SECRET_PLACEHOLDER|${FUNNEL_OIDC_CLIENT_SECRET}|g" $CONFIG
            sed -i "s|FUNNEL_PLUGIN_S3URL_PLACEHOLDER|${S3_URL}|g" $CONFIG
            sed -i "s/FUNNEL_POSTGRES_HOST_PLACEHOLDER/${DB_HOST}/g" $CONFIG
            sed -i "s/FUNNEL_POSTGRES_DATABASE_PLACEHOLDER/${DB_DATABASE}/g" $CONFIG
            sed -i "s/FUNNEL_POSTGRES_USER_PLACEHOLDER/${DB_USER}/g" $CONFIG
            sed -i "s/FUNNEL_POSTGRES_PASSWORD_PLACEHOLDER/${DB_PASSWORD}/g" $CONFIG

  volumes:
  - name: funnel-config-volume
    configMap:
      name: funnel-server-config
  - name: funnel-oidc-volume
    secret:
      secretName: "funnel-oidc-client"
      items:
        - key: client_id
          path: client_id
        - key: client_secret
          path: client_secret

  - name: worker-templates-volume
    configMap:
      name: funnel-worker-templates

  - name: plugin-volume
    emptyDir: {}  # Shared volume

  - name: funnel-patched-config-volume
    emptyDir: {}  # Shared volume for config data

  volumeMounts:
    - name: funnel-patched-config-volume
      mountPath: /etc/config/funnel-server.yaml
      subPath: funnel-patched.conf

    - name: "funnel-oidc-volume"
      readOnly: true
      mountPath: "/etc/config/oidc"

    - name: worker-templates-volume
      mountPath: /etc/funnel/templates

    - name: plugin-volume
      mountPath: /opt/funnel/plugin-binaries

  resources:
    requests:
      memory: "2Gi"
      ephemeral_storage: "2Gi"

  Database: postgres
  EventWriters:
    - postgres
    - log
  postgresql:  # default bitnami postgres pod
    enabled: false
  mongodb:  # default mongodb pod
    # This overrides the default mongodb image used by Funnel which doesn't support ARM architecture,
    # use this if you're running it on an ARM chipset machine:
    # image:
    #   registry: docker.io
    #   repository: dlavrenuek/bitnami-mongodb-arm
    #   tag: 6.0.13
    enabled: false
    readinessProbe:
      enabled: true
      initialDelaySeconds: 20
      timeoutSeconds: 10
      periodSeconds: 10
      failureThreshold: 10
  Postgres:
    Host: FUNNEL_POSTGRES_HOST_PLACEHOLDER
    Database: FUNNEL_POSTGRES_DATABASE_PLACEHOLDER
    User: FUNNEL_POSTGRES_USER_PLACEHOLDER
    Password: FUNNEL_POSTGRES_PASSWORD_PLACEHOLDER
  Logger:
    Level: info
  Plugins:
    Path: plugin-binaries/auth-plugin
    Params:
      OidcClientId: FUNNEL_PLUGIN_OIDC_CLIENT_ID_PLACEHOLDER
      OidcClientSecret: FUNNEL_PLUGIN_OIDC_CLIENT_SECRET_PLACEHOLDER
      S3Url: FUNNEL_PLUGIN_S3URL_PLACEHOLDER
