{{ if .Values.global.externalSecrets.deploy }}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: gen3userdatalibrary-g3auto
spec:
  refreshInterval: 5m
  secretStoreRef:
    name: {{include "common.SecretStore" .}}
    kind: SecretStore
  target:
    name: gen3userdatalibrary-g3auto
    creationPolicy: Owner
  data:
  - secretKey: base64Authz.txt
    remoteRef:
      #name of secret in secrets manager
      key: {{include "gen3userdatalibrary-g3auto" .}}
      property: base64Authz.txt
  - secretKey: dbcreds.json
    remoteRef:
      #name of secret in secrets manager
      key: {{include "gen3userdatalibrary-g3auto" .}}
      property: dbcreds.json
  - secretKey: gen3-user-data-library.env
    remoteRef:
      #name of secret in secrets manager
      key: {{include "gen3userdatalibrary-g3auto" .}}
      property: gen3-user-data-library.env
{{- end }}
---
{{- if and .Values.global.externalSecrets.deploy (not .Values.global.externalSecrets.createLocalK8sSecret) }}
{{ include "common.externalSecret.db" . }}
{{- end }}