apiVersion: v2
name: gen3
description: Helm chart to deploy Gen3 Data Commons

# Dependencies
dependencies:
  - name: access-backend
    version: 0.1.8
    repository: "file://../access-backend"
    condition: access-backend.enabled
  - name: ambassador
    version: 0.1.25
    repository: "file://../ambassador"
    condition: ambassador.enabled
  - name: arborist
    version: 0.1.24
    repository: "file://../arborist"
    condition: arborist.enabled
  - name: argo-wrapper
    version: 0.1.19
    repository: "file://../argo-wrapper"
    condition: argo-wrapper.enabled
  - name: audit
    version: 0.1.31
    repository: "file://../audit"
    condition: audit.enabled
  - name: aws-es-proxy
    version: 0.1.30
    repository: "file://../aws-es-proxy"
    condition: aws-es-proxy.enabled
  - name: cedar
    version: 0.1.12
    repository: "file://../cedar"
    condition: cedar.enabled
  - name: cohort-middleware
    version: 0.1.11
    repository: "file://../cohort-middleware"
    condition: cohort-middleware.enabled
  - name: common
    version: 0.1.24
    repository: file://../common
  - name: dashboard
    version: 0.1.8
    repository: file://../dashboard
    condition: dashboard.enabled
  - name: etl
    version: 0.1.15
    repository: file://../etl
    condition: etl.enabled
  - name: frontend-framework
    version: 0.1.13
    repository: "file://../frontend-framework"
    condition: frontend-framework.enabled
  - name: fence
    version: 0.1.56
    repository: "file://../fence"
    condition: fence.enabled
  - name: gen3-user-data-library
    version: 0.1.5
    repository: "file://../gen3-user-data-library"
    condition: gen3-user-data-library.enabled
  - name: gen3-workflow
    version: 0.1.11
    repository: "file://../gen3-workflow"
    condition: gen3-workflow.enabled
  - name: guppy
    version: 0.1.25
    repository: "file://../guppy"
    condition: guppy.enabled
  - name: hatchery
    version: 0.1.28
    repository: "file://../hatchery"
    condition: hatchery.enabled
  - name: indexd
    version: 0.1.34
    repository: "file://../indexd"
    condition: indexd.enabled
  - name: manifestservice
    version: 0.1.33
    repository: "file://../manifestservice"
    condition: manifestservice.enabled
  - name: metadata
    version: 0.1.31
    repository: "file://../metadata"
    condition: metadata.enabled
  - name: peregrine
    version: 0.1.31
    repository: "file://../peregrine"
    condition: peregrine.enabled
  - name: portal
    version: 0.1.46
    repository: "file://../portal"
    condition: portal.enabled
  - name: requestor
    version: 0.1.24
    repository: "file://../requestor"
    condition: requestor.enabled
  - name: revproxy
    version: 0.1.42
    repository: "file://../revproxy"
    condition: revproxy.enabled
  - name: sheepdog
    version: 0.1.29
    repository: "file://../sheepdog"
    condition: sheepdog.enabled
  - name: ssjdispatcher
    version: 0.1.32
    repository: "file://../ssjdispatcher"
    condition: ssjdispatcher.enabled
  - name: sower
    version: 0.1.35
    condition: sower.enabled
    repository: "file://../sower"
  - name: wts
    version: 0.1.30
    repository: "file://../wts"
    condition: wts.enabled
  - name: gen3-network-policies
    version: 0.1.2
    repository: "file://../gen3-network-policies"
    condition: global.netPolicy.enabled
  - name: dicom-server
    version: 0.1.19
    repository: file://../dicom-server
    condition: dicom-server.enabled
  - name: ohif-viewer
    version: 0.1.3
    repository: file://../ohif-viewer
    condition: ohif-viewer.enabled
  - name: orthanc
    version: 0.1.4
    repository: file://../orthanc
    condition: orthanc.enabled
  - name: gen3-analysis
    version: 0.1.1
    repository: file://../gen3-analysis
    condition: gen3-analysis.enabled

  # - name: elasticsearch
  #   version: 7.10.2
  #   repository: "https://helm.elastic.co"
  #   condition: global.dev
  - name: postgresql
    version: 11.9.13
    repository: "https://charts.bitnami.com/bitnami"
    condition: global.dev

  # (optional) NeuVector Kubernetes Security Policy templates to protect Gen3
  #   NeuVector must be installed separately.
  #   Reference: https://open-docs.neuvector.com/basics/overview
  #   Reference: https://github.com/neuvector/neuvector-helm
  # For more information, please use the Gen3 community Slack.
  - name: neuvector
    version: "0.1.2"
    repository: "file://../neuvector"
    condition: neuvector.enabled

# A chart can be either an 'application' or a 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject those utilities and functions into the rendering
# pipeline. Library charts do not define any templates and therefore cannot be deployed.
type: application

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)

version: 0.2.35

# This is the version number of the application being deployed. This version number should be
# incremented each time you make changes to the application. Versions are not expected to
# follow Semantic Versioning. They should reflect the version the application is using.
# It is recommended to use it with quotes.
appVersion: "master"

maintainers:
  - name: ahilt
    email: ahilt@uchicago.edu

  - name: ajoaugustine
    email: ajoa@uchicago.edu

  - name: emalinowski
    email: emalinowski@uchicago.edu

  - name: EliseCastle23
    email: elisemcastle@uchicago.edu

  - name: jawadqur
    email: qureshi@uchicago.edu
