apiVersion: v2
name: gen3
description: Helm chart to deploy Gen3 Data Commons

# Dependancies
dependencies:
- name: ambassador
  version: 0.1.9
  repository: "file://../ambassador"
  condition: ambassador.enabled
- name: arborist
  version: 0.1.9
  repository: "file://../arborist"
  condition: arborist.enabled
- name: argo-wrapper
  version: 0.1.5
  repository: "file://../argo-wrapper"
  condition: argo-wrapper.enabled
- name: audit
  version: 0.1.10
  repository: "file://../audit"
  condition: audit.enabled
- name: aws-es-proxy
  version: 0.1.7
  repository: "file://../aws-es-proxy"
  condition: aws-es-proxy.enabled
- name: common
  version: 0.1.8
  repository: file://../common
- name: etl
  version: 0.1.0
  repository: file://../etl
  condition: etl.enabled
- name: fence
  version: 0.1.14
  repository: "file://../fence"
  condition: fence.enabled
- name: guppy
  version: 0.1.9
  repository: "file://../guppy"
  condition: guppy.enabled
- name: hatchery
  version: 0.1.7
  repository: "file://../hatchery"
  condition: hatchery.enabled
- name: indexd
  version: 0.1.11
  repository: "file://../indexd"
  condition: indexd.enabled
- name: manifestservice
  version: 0.1.11
  repository: "file://../manifestservice"
  condition: manifestservice.enabled
- name: metadata
  version: 0.1.9
  repository: "file://../metadata"
  condition: metadata.enabled
- name: peregrine
  version: 0.1.10
  repository: "file://../peregrine"
  condition: peregrine.enabled
- name: pidgin
  version: 0.1.8
  repository: "file://../pidgin"
  condition: pidgin.enabled
- name: portal
  version: 0.1.8
  repository: "file://../portal"
  condition: portal.enabled
- name: requestor
  version: 0.1.9
  repository: "file://../requestor"
  condition: requestor.enabled
- name: revproxy
  version: 0.1.12
  repository: "file://../revproxy"
  condition: revproxy.enabled
- name: sheepdog
  version: 0.1.11
  repository: "file://../sheepdog"
  condition: sheepdog.enabled
- name: ssjdispatcher
  version: 0.1.7
  repository: "file://../ssjdispatcher"
  condition: ssjdispatcher.enabled
- name: sower
  version: 0.1.7
  condition: sower.enabled
  repository: "file://../sower"
- name: wts
  version: 0.1.11
  repository: "file://../wts"
  condition: wts.enabled


- name: elasticsearch
  version: 7.10.2
  repository: "https://helm.elastic.co"
  condition: global.dev
- name: postgresql
  version: 11.9.13
  repository: "https://charts.bitnami.com/bitnami"
  condition: global.dev

# A chart can be either an 'application' or a 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject those utilities and functions into the rendering
# pipeline. Library charts do not define any templates and therefore cannot be deployed.
type: application

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)
version: 0.1.22

# This is the version number of the application being deployed. This version number should be
# incremented each time you make changes to the application. Versions are not expected to
# follow Semantic Versioning. They should reflect the version the application is using.
# It is recommended to use it with quotes.
appVersion: "master"

maintainers:
  - name: ahilt
    email: ahilt@uchicago.edu

  - name: ajoaugustine
    email: ajoa@uchicago.edu

  - name: emalinowski
    email: emalinowski@uchicago.edu

  - name: EliseCastle23
    email: elisemcastle@uchicago.edu

  - name: jawadqur
    email: qureshi@uchicago.edu
