# Default values for gen3.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# -- (map) Global configuration options.
global:
  # -- (map) AWS configuration
  gcp: true
  tls:
    cert:
    key:
  aws:
    # -- (bool) Set to true if deploying to AWS. Controls ingress annotations.
    enabled: false
    # -- (map) Credentials for AWS
    account:
      # Prep move of these keys here.
      aws_access_key_id:
      aws_secret_access_key:
  # -- (bool) Whether the deployment is for development purposes.
  dev: true
  # -- (map) Postgres database configuration.
  postgres:
    # -- (bool) Whether the database should be created.
    dbCreate: true
    # -- (map) Master credentials to postgres. This is going to be the default postgres server being used for each service, unless each service specifies their own postgres
    master:
      # -- (string) hostname of postgres server
      host:
      # -- (string) username of superuser in postgres. This is used to create or restore databases
      username: postgres
      # -- (string) password for superuser in postgres. This is used to create or restore databases
      password:
      # -- (string) Port for Postgres.
      port: "5432"
  # -- (string) Environment name. This should be the same as vpcname if you're doing an AWS deployment. Currently this is being used to share ALB's if you have multiple namespaces. Might be used other places too.
  environment: default
  # -- (string) Hostname for the deployment.
  hostname: localhost
  # -- (string) ARN of the reverse proxy certificate.
  revproxyArn: arn:aws:acm:us-east-1:123456:certificate
  # -- (string) URL of the data dictionary.
  dictionaryUrl: https://s3.amazonaws.com/dictionary-artifacts/datadictionary/develop/schema.json
  # -- (string) Portal application name.
  portalApp: gitops
  # -- (string) S3 bucket name for Kubernetes manifest files.
  kubeBucket: kube-gen3
  # -- (string) S3 bucket name for log files.
  logsBucket: logs-gen3
  # -- (bool) Whether to sync data from dbGaP.
  syncFromDbgap: false
  # -- (string) Path to the user.yaml file in S3.
  userYamlS3Path: s3://cdis-gen3-users/test/user.yaml
  # -- (bool) Whether public datasets are enabled.
  publicDataSets: true
  # -- (string) Access level for tiers. acceptable values for `tier_access_level` are: `libre`, `regular` and `private`. If omitted, by default common will be treated as `private`
  tierAccessLevel: libre
  # -- (bool) Whether network policies are enabled.
  netPolicy: true
  # -- (int) Number of dispatcher jobs.
  dispatcherJobNum: 10
  # -- (bool) Whether Datadog is enabled.
  ddEnabled: false
  # -- (bool) If the service will be deployed with a Pod Disruption Budget. Note- you need to have more than 2 replicas for the pdb to be deployed.
  pdb: false
  # -- (int) The minimum amount of pods that are available at all times if the PDB is deployed.
  minAvialable: 1
  # -- (bool) Whether to run Fence usersync or not.
  usersync: true
  # -- (string) Slack webhook endpoint used with certain jobs. 
  slack_webhook: none
  # -- (bool) Will echo what files we are seeing on dbgap ftp to Slack.
  slack_send_dbgap: false


tags:
  # controls whether or not to deploy postgres/ elasticsearch as local services.
  dev: false

# Dependancy Charts

# -- (map) Configurations for ambassador chart.
ambassador:
  # -- (bool) Whether to deploy the ambassador subchart.
  enabled: false
  # -- (map) Docker image information.
  image:
    # -- (string) The Docker image repository for the ambassador service.
    repository:
    # -- (string) Overrides the image tag whose default is the chart appVersion.
    tag:

# -- (map) Configurations for arborist chart.
arborist:
  # -- (bool) Whether to deploy the arborist subchart.
  enabled: true
  # -- (map) Docker image information.
  image:
    # -- (string) The Docker image repository for the arborist service.
    repository:
    # -- (string) Overrides the image tag whose default is the chart appVersion.
    tag:

# -- (map) Configurations for argo-wrapper chart.
argo-wrapper:
  # -- (bool) Whether to deploy the argo-wrapper subchart.
  enabled: false
  # -- (map) Docker image information.
  image:
    # -- (string) The Docker image repository for the argo-wrapper service.
    repository:
    # -- (string) Overrides the image tag whose default is the chart appVersion.
    tag:

# -- (map) Configurations for audit chart.
audit:
  # -- (bool) Whether to deploy the audit subchart.
  enabled: false
  # -- (map) Docker image information.
  image:
    # -- (string) The Docker image repository for the audit service.
    repository:
    # -- (string) Overrides the image tag whose default is the chart appVersion.
    tag:

# -- (map) Configurations for aws-es-proxy chart.
aws-es-proxy:
  # -- (bool) Whether to deploy the aws-es-proxy subchart.
  enabled: false

# -- (map) Configurations for fence chart.
fence:
  # -- (bool) Whether to deploy the fence subchart.
  enabled: true
  # -- (map) Docker image information.
  image:
    # -- (string) The Docker image repository for the fence service.
    repository:
    # -- (string) Overrides the image tag whose default is the chart appVersion.
    tag:

# -- (map) Configurations for guppy chart.
guppy:
  # -- (bool) Whether to deploy the guppy subchart.
  enabled: false
  # -- (map) Docker image information.
  image:
    # -- (string) The Docker image repository for the guppy service.
    repository:
    # -- (string) Overrides the image tag whose default is the chart appVersion.
    tag:

# -- (map) Configurations for hatchery chart.
hatchery:
  # -- (bool) Whether to deploy the hatchery subchart.
  enabled: false
  # -- (map) Docker image information.
  image:
    # -- (string) The Docker image repository for the hatchery service.
    repository:
    # -- (string) Overrides the image tag whose default is the chart appVersion.
    tag:

# -- (map) Configurations for indexd chart.
indexd:
  # -- (bool) Whether to deploy the indexd subchart.
  enabled: true
  # -- (map) Docker image information.
  image:
    # -- (string) The Docker image repository for the indexd service.
    repository:
    # -- (string) Overrides the image tag whose default is the chart appVersion.
    tag:

# -- (map) Configurations for manifest service chart.
manifestservice:
  # -- (bool) Whether to deploy the manifest service subchart.
  enabled: false
  # -- (map) Docker image information.
  image:
    # -- (string) The Docker image repository for the manifest service service.
    repository:
    # -- (string) Overrides the image tag whose default is the chart appVersion.
    tag:

# -- (map) Configurations for metadata chart.
metadata:
  # -- (bool) Whether to deploy the metadata subchart.
  enabled: false
  # -- (map) Docker image information.
  image:
    # -- (string) The Docker image repository for the metadata service.
    repository:
    # -- (string) Overrides the image tag whose default is the chart appVersion.
    tag:

# -- (map) Configurations for peregrine chart.
peregrine:
  # -- (bool) Whether to deploy the peregrine subchart.
  enabled: false
  # -- (map) Docker image information.
  image:
    # -- (string) The Docker image repository for the peregrine service.
    repository:
    # -- (string) Overrides the image tag whose default is the chart appVersion.
    tag:

# -- (map) Configurations for pidgin chart.
pidgin:
  # -- (bool) Whether to deploy the pidgin subchart.
  enabled: false
  # -- (map) Docker image information.
  image:
    # -- (string) The Docker image repository for the pidgin service.
    repository:
    # -- (string) Overrides the image tag whose default is the chart appVersion.
    tag:

# -- (map) Configurations for portal chart.
portal:
  # -- (bool) Whether to deploy the portal subchart.
  enabled: false
  # -- (map) Docker image information.
  image:
    # -- (string) The Docker image repository for the portal service.
    repository:
    # -- (string) Overrides the image tag whose default is the chart appVersion.
    tag:

# -- (map) Configurations for requestor chart.
requestor:
  # -- (bool) Whether to deploy the requestor subchart.
  enabled: false
  # -- (map) Docker image information.
  image:
    # -- (string) The Docker image repository for the requestor service.
    repository:
    # -- (string) Overrides the image tag whose default is the chart appVersion.
    tag:

# -- (map) Configurations for revproxy chart.
revproxy:
  # -- (bool) Whether to deploy the revproxy subchart.
  enabled: false
  # -- (map) Docker image information.
  image:
    # -- (string) The Docker image repository for the revproxy service.
    repository:
    # -- (string) Overrides the image tag whose default is the chart appVersion.
    tag:

# -- (map) Configurations for sheepdog chart.
sheepdog:
  # -- (bool) Whether to deploy the sheepdog subchart.
  enabled: false
  # -- (map) Docker image information.
  image:
    # -- (string) The Docker image repository for the sheepdog service.
    repository:
    # -- (string) Overrides the image tag whose default is the chart appVersion.
    tag:

# -- (map) Configurations for ssjdispatcher chart.
ssjdispatcher:
  # -- (bool) Whether to deploy the ssjdispatcher subchart.
  enabled: false
  # -- (map) Docker image information.
  image:
    # -- (string) The Docker image repository for the ssjdispatcher service.
    repository:
    # -- (string) Overrides the image tag whose default is the chart appVersion.
    tag:

# -- (map) Configurations for wts chart.
wts:
  # -- (bool) Whether to deploy the wts subchart.
  enabled: false
  # -- (map) Docker image information.
  image:
    # -- (string) The Docker image repository for the wts service.
    repository:
    # -- (string) Overrides the image tag whose default is the chart appVersion.
    tag:

# -- (map) AWS credentials to access the db restore job S3 bucket
secrets:
  # -- (string) AWS access key.
  awsAccessKeyId: test
  # -- (string) AWS secret access key.
  awsSecretAccessKey: test

# -- (map) To configure postgresql subchart
# Disable persistence by default so we can spin up and down ephemeral environments
postgresql:
  primary:
    persistence:
      # -- (bool) Option to persist the dbs data.
      enabled: false
