apiVersion: apps/v1
kind: Deployment
metadata:
  name: ssjdispatcher
  labels:
    {{- include "ssjdispatcher.labels" . | nindent 4 }}
    {{- if .Values.global.ddEnabled }}
    {{- include "common.datadogLabels" . | nindent 4 }}
    {{- end }}
spec:
  selector:
      matchLabels:
        {{- include "ssjdispatcher.selectorLabels" . | nindent 8 }}
  revisionHistoryLimit: 2
  strategy:
    {{- toYaml .Values.strategy | nindent 8 }}  
  template:
    metadata:
      labels:
        {{- include "ssjdispatcher.selectorLabels" . | nindent 8 }}
        netnolimit: "yes"
        public: "yes"
        {{- if .Values.global.ddEnabled }}
        {{- include "common.datadogLabels" . | nindent 8 }}
        {{- end }}
    spec:
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      automountServiceAccountToken: {{ .Values.automountServiceAccountToken}}
      serviceAccountName: {{ include "ssjdispatcher.serviceAccountName" . }}
      volumes:
        {{- toYaml .Values.volumes | nindent 8 }}
      containers:
        - name: ssjdispatcher
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          volumeMounts:
            {{- toYaml .Values.volumeMounts | nindent 12 }}
          env:
            {{- if .Values.global.ddEnabled }}
            {{- include "common.datadogEnvVar" . | nindent 12 }}
            {{- end }}
            {{- with .Values.awsRegion  }}
            - name: AWS_REGION
              value: {{ . }}
            {{- end }}
            {{- with .Values.awsStsRegionalEndpoints  }}
            - name: AWS_STS_REGIONAL_ENDPOINTS
              value: {{ . }}
            {{- end }}
            {{- with .Values.gen3Namespace  }}
            - name: GEN3_NAMESPACE
              value: {{ . }}
            {{- end }}
            - name: JOB_IMAGES
              valueFrom:
                configMapKeyRef:
                  name: manifest-ssjdispatcher
                  key: job_images
          ports:
            - name: http
              containerPort: 8000
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /_status
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 60
            timeoutSeconds: 30
          readinessProbe:
            httpGet:
              path: /_status
              port: 8000
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
