{{- if or (not .Values.global.externalSecrets.deploy) (and .Values.global.externalSecrets.deploy .Values.externalSecrets.createK8sSsjdispatcherSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: ssjdispatcher-creds
type: Opaque
stringData:
  credentials.json: |-
    {
      {{- if and .Values.ssjcreds.awsAccessKeyId .Values.ssjcreds.awsSecretAccessKey }}
      "AWS": {
        "region": {{ .Values.ssjcreds.awsRegion | quote }},
        "aws_access_key_id": {{ .Values.ssjcreds.awsAccessKeyId | quote }},
        "aws_secret_access_key": {{ .Values.ssjcreds.awsSecretAccessKey | quote }},
      }
      {{- end }}
      "SQS": {
        "url": {{ .Values.ssjcreds.sqsUrl | quote }}
      },
      "JOBS": [
        {
          "name": {{ .Values.ssjcreds.jobName | quote }},
          "pattern": {{ .Values.ssjcreds.jobPattern | quote }},
          "imageConfig": {
            "url": {{ .Values.ssjcreds.jobUrl | quote }},
            "username": {{ .Values.ssjcreds.jobUser | quote }},
            "password": {{ .Values.ssjcreds.jobPassword | quote }},
            "metadataService": {
              "url": {{ .Values.ssjcreds.metadataserviceUrl | quote }},
              "username": {{ .Values.ssjcreds.metadataserviceUsername | quote }},
              "password": {{ .Values.ssjcreds.metadataservicePassword | quote }}
            }
          },
          "RequestCPU": {{ .Values.ssjcreds.jobRequestCpu | quote }},
          "RequestMem": {{ .Values.ssjcreds.jobRequestMem | quote }}
        }
      ]
    }
{{- end }}