# Default values for gen3workflow.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  # -- (map) AWS configuration
  aws:
    # -- (bool) Set to true if deploying to AWS. Controls ingress annotations.
    enabled: false
    # -- (string) AWS region for this deployment
    region: us-east-1
    # -- (string) Credentials for AWS stuff.
    awsAccessKeyId:
    # -- (string) Credentials for AWS stuff.
    awsSecretAccessKey:
    externalSecrets:
      # -- (bool) Whether to use External Secrets for aws config.
      enabled: false
      # -- (String) Name of Secrets Manager secret.
      externalSecretAwsCreds:
  crossplane:
    # -- (bool) Whether Crossplane is being used to manage AWS resources.
    enabled: false
    # -- (string) AWS Account ID where resources will be created.
    accountId: ""
    # -- (string) OIDC provider URL for the EKS cluster.
    oidcProviderUrl: ""
  # -- (bool) Whether the deployment is for development purposes.
  dev: true
  environment: default
  # -- (string) Kubernetes cluster name.
  clusterName: default
  # -- (map) External Secrets settings.
  externalSecrets:
    # -- (bool) Will use ExternalSecret resources to pull secrets from Secrets Manager instead of creating them locally. Be cautious as this will override any gen3-workflow secrets you have deployed.
    deploy: false
    # -- (string) Will deploy a separate External Secret Store for this service.
    separateSecretStore: false
    clusterSecretStoreRef: ""
  # -- (string) Hostname for the deployment.
  hostname: ""
  # -- (map) Network policy settings.
  netPolicy:
    # -- (bool) Whether network policies are enabled
    enabled: false
  # -- (map) Karpenter topology spread configuration.
  topologySpread:
    # -- (bool) Whether to enable topology spread constraints for all subcharts that support it.
    enabled: false
    # -- (string) The topology key to use for spreading. Defaults to "topology.kubernetes.io/zone".
    topologyKey: "topology.kubernetes.io/zone"
    # -- (int) The maxSkew to use for topology spread constraints. Defaults to 1.
    maxSkew: 1

# -- (bool) Whether Metrics are enabled.
metricsEnabled: false

# -- (map) External Secrets settings.
externalSecrets:
  # -- (string) Will create the Helm "gen3workflow-g3auto" secret even if Secrets Manager is enabled. This is helpful if you are wanting to use External Secrets for some, but not all secrets.
  createK8sGen3WorkflowSecret: true
  # -- (string) Will override the name of the aws secrets manager secret. Default is "gen3workflow-g3auto"
  gen3workflowG3auto: ""

# -- (map) Secret information for External Secrets.
secrets:
  # -- (str) AWS access key ID. Overrides global key.
  awsAccessKeyId:
  # -- (str) AWS secret access key ID. Overrides global key.
  awsSecretAccessKey:

# -- (int) Number of desired replicas
replicaCount: 1

# -- (map) Rolling update deployment strategy
strategy:
  type: RollingUpdate
  rollingUpdate:
    # -- (int) Number of additional replicas to add during rollout.
    maxSurge: 1
    # -- (int) Maximum amount of pods that can be unavailable during the update.
    maxUnavailable: 0


# -- (bool) Automount the default service account token
automountServiceAccountToken: false

# -- (map) Docker image information.
image:
  # -- (string) The Docker image repository for the gen3workflow service
  repository: quay.io/cdis/gen3-workflow
  # -- (string) When to pull the image. This value should be "Always" to ensure the latest image is used.
  pullPolicy: Always
  # -- (string) Overrides the image tag whose default is the chart appVersion.
  tag: "master"

# -- (list) Docker image pull secrets.
imagePullSecrets: []

# -- (string) Override the name of the chart. This can be used to provide a unique name for a chart
nameOverride: ""

# -- (string) Override the full name of the chart, which is used as the name of resources created by the chart
fullnameOverride: ""

# -- (map) Service account to use or create.
serviceAccount:
  # Specifies whether a service account should be created
  # -- (bool) Whether to create a service account
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  # -- (string) The name of the service account
  name: "gen3-workflow-sa"

# -- (map) Annotations to add to the pod
podAnnotations: {}

# -- (map) Security context for the pod
podSecurityContext: {}

# -- (map) Security context for the containers in the pod
securityContext:
  {}

  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

# -- (map) Configuration for the service
service:
  # -- (string) Type of service. Valid values are "ClusterIP", "NodePort", "LoadBalancer", "ExternalName".
  type: ClusterIP
  # -- (int) Port on which the service is exposed
  port: 80

# -- (map) Configuration for network policies created by this chart. Only relevant if "global.netPolicy.enabled" is set to true
netPolicy:
  # -- (array) List of app labels that require ingress to this service
  ingressApps:
    - funnel
  # -- (array) List of apps that this app requires egress to
  egressApps:
    - funnel

# -- (map) Resource requests and limits for the containers in the pod
resources:
  {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

# -- (map) Configuration for autoscaling the number of replicas
autoscaling:
  # -- (bool) Whether autoscaling is enabled or not
  enabled: false
  # -- (int) The minimum number of replicas to scale down to
  minReplicas: 1
  # -- (int) The maximum number of replicas to scale up to
  maxReplicas: 4
  # -- (int) The target CPU utilization percentage for autoscaling
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

# -- (map) Node Selector for the pods
nodeSelector: {}

# -- (list) Tolerations for the pods
tolerations: []

# -- (map) Affinity to use for the deployment.
affinity:
  podAntiAffinity:
    # -- (map) Option for scheduling to be required or preferred.
    preferredDuringSchedulingIgnoredDuringExecution:
      # -- (int) Weight value for preferred scheduling.
      - weight: 25
        podAffinityTerm:
          labelSelector:
            matchExpressions:
              # -- (list) Label key for match expression.
              - key: app
                # -- (string) Operation type for the match expression.
                operator: In
                # -- (list) Value for the match expression key.
                values:
                  - gen3-workflow
          # -- (string) Value for topology key label.
          topologyKey: "kubernetes.io/hostname"
  nodeAffinity:
    # -- (map) Option for scheduling to be required or preferred.
    preferredDuringSchedulingIgnoredDuringExecution:
      # -- (int) Weight value for preferred scheduling.
      - weight: 100
        preference:
          # -- (list) Label key for match expression.
          matchExpressions:
          - key: karpenter.sh/capacity-type
            # -- (string) Operation type for the match expression.
            operator: In
            # -- (list) Value for the match expression key.
            values:
            - spot
      # -- (int) Weight value for preferred scheduling.
      - weight: 99
        preference:
          # -- (list) Label key for match expression.
          matchExpressions:
          - key: eks.amazonaws.com/capacityType
            # -- (string) Operation type for the match expression.
            operator: In
            # -- (list) Value for the match expression key.
            values:
            - SPOT

# -- (list) Environment variables to pass to the container
env:
  - name: DEBUG
    value: "false"
  - name: ARBORIST_URL
    valueFrom:
      configMapKeyRef:
        name: manifest-global
        key: arborist_url
        optional: true

# -- (list) Volumes to attach to the container.
volumes:
  - name: config-volume
    secret:
      secretName: "gen3workflow-g3auto"

# -- (list) Volumes to mount to the container.
volumeMounts:
  - name: "config-volume"
    readOnly: true
    mountPath: "/src/gen3-workflow-config.yaml"
    subPath: "gen3-workflow-config.yaml"
  # Added an additional volume mount for new images using the /<app-name> directory, while retaining the 'src' mount for backward compatibility.
  # TODO: remove later
  - name: "config-volume"
    readOnly: true
    mountPath: "/gen3-workflow/gen3-workflow-config.yaml"
    subPath: "gen3-workflow-config.yaml"

# -- (list) Volumes to mount to the init container.
initVolumeMounts: []

# -- (list) Volumes to attach to the init container.
initEnv: {}


# Values to determine the labels that are used for the deployment, pod, etc.
# -- (string) Valid options are "production" or "dev". If invalid option is set- the value will default to "dev".
release: "production"
# -- (string) Valid options are "true" or "false". If invalid option is set- the value will default to "false".
criticalService: "false"
# -- (string) Label to help organize pods and their use. Any value is valid, but use "_" or "-" to divide words.
partOf: "Workflow_Execution"
# -- (map) Will completely override the selectorLabels defined in the common chart's _label_setup.tpl
selectorLabels:
# -- (map) Will completely override the commonLabels defined in the common chart's _label_setup.tpl
commonLabels:
# -- (map) Will completely override the extraLabels defined in the common chart's _label_setup.tpl
extraLabels:
  dbgen3workflow: "yes"
  # for revproxy authz
  public: "yes"
  # for network policy
  netnolimit: "yes"

gen3WorkflowConfig:
  # -- (string) Override hostname where the workflow service runs. If empty, gen3-workflow falls back to values.global.hostname
  hostname: ""
  # -- (bool) Enables debug mode for the application.
  debug: false
  # -- (bool) Enables verbose logging specifically for httpx requests.
  httpxDebug: false
  # -- (string) URL prefix used for serving OpenAPI documentation.
  docsUrlPrefix: /gen3workflow
  # -- (string) Custom Arborist URL. Ignored if already set via environment variable.
  arboristUrl: ""
  # -- (bool) Enables mock authentication, bypassing Arborist. Use only for development.
  mockAuth: false
  # -- (string) AWS region used for creating user S3 buckets.
  userBucketsRegion: us-east-1
  # -- (int) Number of days after which workflow-generated S3 objects are deleted.
  s3ObjectsExpirationDays: 30
  # -- (string) AWS Access Key ID used to make S3 requests on behalf of users.
  #    Leave empty to use credentials from an existing STS session.
  s3AccessKeyId: ""
  # -- (string) AWS Secret Access Key used to make S3 requests on behalf of users.
  #    Leave empty to use credentials from an existing STS session.
  s3SecretAccessKey: ""
  # -- (bool) Enables KMS encryption for S3 uploads.
  kmsEncryptionEnabled: true
  # -- (string) TES server URL to which workflow tasks are forwarded.
  tesServerUrl: http://funnel:8000
  # -- (list) Whitelist of container image patterns allowed for workflow tasks.
  #    Supports wildcards `*` and `{username}` placeholders.
  taskImageWhitelist: []
  # -- (bool) Enables Prometheus metrics for the workflow service.
  enablePrometheusMetrics: false
  # -- (string) Filesystem directory used for Prometheus multi-process metrics collection.
  prometheusMultiprocDir: /var/tmp/prometheus_metrics
