apiVersion: karpenter.sh/v1beta1
kind: NodePool
metadata:
  name: jupyter
spec:
  template:
    metadata:
      labels:
        role: jupyter
    spec:
      nodeClassRef:
        apiVersion: karpenter.k8s.aws/v1beta1
        kind: EC2NodeClass
        name: jupyter
      taints:
        - key: role
          value: jupyter
          effect: NoSchedule

      requirements:
        - key: karpenter.sh/capacity-type
          operator: In
          values: ["on-demand"]
        - key: kubernetes.io/arch
          operator: In
          values:
          - amd64
        - key: karpenter.k8s.aws/instance-category
          operator: In
          values:
          - c
          - m
          - r
          - t

      kubelet:
        kubeReserved:
          cpu: 480m
          memory: 1632Mi
          ephemeral-storage: 3Gi
        evictionHard:
          memory.available: 5%
        evictionSoft:
          memory.available: 10%
        evictionSoftGracePeriod:
          memory.available: 5m
  disruption:
    consolidationPolicy: WhenEmpty
    consolidateAfter: 30s
    # Cycle nodes weekly
    expireAfter: 168h
    # Don't Allow more than 50% of nodes to be disrupted at once
    #budgets:
    #- nodes: 50%
    ## On Weekdays during business hours(UTC), don't do any deprovisioning.
    #- schedule: "0 14 * * mon-fri"
    #  duration: 8h
    #  nodes: "0"
  limits:
    cpu: "1000"
    memory: 1000Gi
---
apiVersion: karpenter.sh/v1beta1
kind: NodePool
metadata:
  name: default-on-demand
spec:
  template:
    metadata:
        labels:
            role: default
    spec:
      nodeClassRef:
        apiVersion: karpenter.k8s.aws/v1beta1
        kind: EC2NodeClass
        name: default
      requirements:
        - key: karpenter.sh/capacity-type
          operator: In
          values: ["on-demand"]
        - key: capacity-spread
          operator: In
          values:
          - "1"        
        - key: kubernetes.io/arch
          operator: In
          values:
          - amd64
        - key: karpenter.k8s.aws/instance-category
          operator: In
          values:
          - c
          - m
          - r
          - t

      kubelet:
        kubeReserved:
          cpu: 480m
          memory: 1632Mi
          ephemeral-storage: 3Gi
        evictionHard:
          memory.available: 5%
        evictionSoft:
          memory.available: 10%
        evictionSoftGracePeriod:
          memory.available: 5m

  disruption:
    consolidationPolicy: WhenEmpty
    consolidateAfter: 30s
    # Cycle nodes weekly
    expireAfter: 168h
    # Don't Allow more than 50% of nodes to be disrupted at once
    #budgets:
    #- nodes: 50%
    ## On Weekdays during business hours(UTC), don't do any deprovisioning.
    #- schedule: "0 14 * * mon-fri"
    #  duration: 8h
    #  nodes: "0"
  limits:
    cpu: "1000"
    memory: 1000Gi
---
apiVersion: karpenter.sh/v1beta1
kind: NodePool
metadata:
  name: default
spec:
  template:
    metadata:
        labels:
            role: default
    spec:
      nodeClassRef:
        apiVersion: karpenter.k8s.aws/v1beta1
        kind: EC2NodeClass
        name: default
      requirements:
        - key: karpenter.sh/capacity-type
          operator: In
          values: ["spot"]
        - key: capacity-spread
          operator: In
          values:
          - "2"
          - "3"
          - "4"
          - "5"          
        - key: kubernetes.io/arch
          operator: In
          values:
          - amd64
        - key: karpenter.k8s.aws/instance-category
          operator: In
          values:
          - c
          - m
          - r
          - t

      kubelet:
        kubeReserved:
          cpu: 480m
          memory: 1632Mi
          ephemeral-storage: 3Gi
        evictionHard:
          memory.available: 5%
        evictionSoft:
          memory.available: 10%
        evictionSoftGracePeriod:
          memory.available: 5m

  disruption:
    consolidationPolicy: WhenEmpty
    consolidateAfter: 30s
    # Cycle nodes weekly
    expireAfter: 168h
    # Don't Allow more than 50% of nodes to be disrupted at once
    #budgets:
    #- nodes: 50%
    ## On Weekdays during business hours(UTC), don't do any deprovisioning.
    #- schedule: "0 14 * * mon-fri"
    #  duration: 8h
    #  nodes: "0"
  limits:
    cpu: "1000"
    memory: 1000Gi
