{{- if not .Values.mountpointCacheEnabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: portal-deployment
  labels:
    {{- include "portal.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "portal.selectorLabels" . | nindent 6 }}
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  strategy:
    {{- toYaml .Values.strategy | nindent 8 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
        {{- if coalesce .Values.metricsEnabled .Values.global.metricsEnabled true }}
        {{- include "common.grafanaAnnotations" . | nindent 8 }}
        {{- end }}
      labels:
        public: "yes"
        {{- include "portal.selectorLabels" . | nindent 8 }}
        {{- include "common.extraLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "portal.serviceAccountName" . }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      automountServiceAccountToken: {{ .Values.automountServiceAccountToken}}
      volumes:
      {{- if .Values.customConfig.enabled }}
      - name: config-volume
        emptyDir: {}
      {{- else }}
      - name: config-volume
        secret:
          secretName: "portal-config"
      - name: sponsor-img-volume
        secret:
          secretName: "portal-sponsor-config"
      - name: privacy-policy
        configMap:
          name: "privacy-policy"
          optional: true
      {{- end }}
      - name: extra-images-config
        configMap:
          name: portal-extra-images
          optional: true
      - name: extra-images
        emptyDir: {}
      initContainers:
      {{- if .Values.extraImages }}
        - name: init
          # image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          image: "quay.io/prometheus/busybox:latest"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          volumeMounts:
          - name: extra-images-config
            mountPath: /data-portal/custom/config.txt
            subPath: config.txt
          - name: extra-images
            mountPath: /data-portal/custom/images
          command:
          - sh
          - -c
          - | 
            cd /data-portal/custom/images/;
            cat /data-portal/custom/config.txt;
            xargs -a /data-portal/custom/config.txt -I {} wget {}
      {{- end }}
      {{- if .Values.customConfig.enabled }}
        - name: config-puller
          image: alpine/git
          env:
            - name: CONFIG_DIR
              value: {{ .Values.customConfig.dir }}
            - name: GIT_REPO
              value: {{ .Values.customConfig.repo  }}
            - name: GIT_BRANCH
              value: {{ .Values.customConfig.branch }}
          command:
            - /bin/sh
            - -c
            - |
              mkdir -p /tmp/repo
              cd /tmp/repo
              # Clone only the specific branch with minimal history and sparse checkout
              git clone \
                --depth 1 \
                --single-branch \
                --branch ${GIT_BRANCH} \
                --filter=blob:none \
                --sparse \
                ${GIT_REPO} custom
              cd custom

              git sparse-checkout set {{ .Values.customConfig.dir }}
              cd {{ .Values.customConfig.dir }}
              ls
              echo 'cp -r * /gen3/config'
              cp -r * /gen3/config
              echo 'ls /gen3/config'
              ls /gen3/config
          volumeMounts:
            - name: config-volume
              mountPath: /gen3/config
          {{- end }}
      containers:
        - name: portal
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          # livenessProbe:
          #   httpGet:
          #     path: /
          #     port: 80
          #   initialDelaySeconds: 60
          #   periodSeconds: 30
          #   timeoutSeconds: 30
          #   failureThreshold: 30
          readinessProbe:
            httpGet:
              {{- if eq "gen3ff" .Values.global.frontendRoot }}
              path: /portal
              {{- else }}
              path: /
              {{- end }}
              port: 80
            initialDelaySeconds: 30
            periodSeconds: 60
            timeoutSeconds: 60
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          ports:
            - containerPort: 80
            - containerPort: 443
          # command:
          #   - /bin/bash
          #   - ./dockerStart.sh
          env:
            - name: HOSTNAME
              value: revproxy-service
            # disable npm 7's brand new update notifier to prevent Portal from stuck at starting up
            # see https://github.com/npm/cli/issues/3163
            - name: NPM_CONFIG_UPDATE_NOTIFIER
              value: "false"
            - name: NODE_ENV
              value: "dev"
            - name: DICTIONARY_URL
              value: {{ .Values.global.dictionaryUrl }}
            - name: APP
              value: {{ .Values.global.portalApp | quote }}
            {{- if .Values.gitops.gen3Bundle }}
            - name: GEN3_BUNDLE
              value: {{ .Values.gitops.gen3Bundle | quote }}
            {{- end }}
            - name: LOGOUT_INACTIVE_USERS
              value: {{ .Values.global.logoutInactiveUsers | quote }}
            - name: WORKSPACE_TIMEOUT_IN_MINUTES
              value: {{ .Values.global.workspaceTimeoutInMinutes | quote }}
            - name: TIER_ACCESS_LEVEL
              value: {{ .Values.global.tierAccessLevel | quote }}
            - name: TIER_ACCESS_LIMIT
              value: {{ .Values.global.tierAccessLimit | quote }}
            {{- if .Values.global.fenceURL }}
            - name: FENCE_URL
              value: {{ .Values.global.fenceURL | quote }}
            {{- end }}
            {{- if .Values.global.indexdURL }}
            - name: INDEXD_URL
              value: {{ .Values.global.indexdURL | quote }}
            {{- end }}
            {{- if .Values.global.workspaceURL }}
            - name: WORKSPACE_URL
              value: {{ .Values.global.workspaceURL | quote }}
            {{- end }}
            {{- if .Values.global.manifestServiceURL }}
            - name: MANIFEST_SERVICE_URL
              value: {{ .Values.global.manifestServiceURL | quote }}
            {{- end }}
            {{- if .Values.global.wtsURL }}
            - name: WTS_URL
              value: {{ .Values.global.wtsURL | quote }}
            {{- end }}
            {{- if .Values.global.privacyPolicyURL }}
            - name: PRIVACY_POLICY_URL
              value: {{ .Values.global.privacyPolicyURL | quote }}
            {{- end }}
            {{- if .Values.global.mapboxToken }}
            - name: MAPBOX_API_TOKEN
              # Optional token for mapbox api
              valueFrom:
                configMapKeyRef:
                  name: global
                  key: mapbox_token
                  optional: true
            {{- end }}
            {{- if .Values.datadogApplicationId }}
            - name: DATADOG_APPLICATION_ID
              value: {{ .Values.datadogApplicationId | quote }}
            {{- else }}
            - name: DATADOG_APPLICATION_ID
              valueFrom:
                secretKeyRef:
                  name: portal-datadog-config
                  key: datadog_application_id
                  optional: true
            {{- end }}
            {{- if .Values.datadogClientToken }}
            - name: DATADOG_CLIENT_TOKEN
              value: {{ .Values.datadogClientToken | quote }}
            {{- else }}
            - name: DATADOG_CLIENT_TOKEN
              valueFrom:
                secretKeyRef:
                  name: portal-datadog-config
                  key: datadog_client_token
                  optional: true
            {{- end }}
            {{- if eq "gen3ff" .Values.global.frontendRoot }}
            - name: BASENAME
              value: /portal
            {{- end }}
            {{- if .Values.global.dataUploadBucket }}
              # S3 bucket name for data upload, for setting up CSP
            - name: DATA_UPLOAD_BUCKET
              value: {{ .Values.global.dataUploadBucket }}
            {{- end }}
            {{- with .Values.gearboxS3Bucket  }}
            - name: GEARBOX_S3_BUCKET
              value: {{ . }}
            {{- end }}
          volumeMounts:
            {{- if .Values.extraImages  }}
            - name: extra-images
              mountPath: /data-portal/custom/images
            {{- end }}
            {{- if .Values.customConfig.enabled }}
            - name: config-volume
              mountPath: /gen3/config/gitops.json
              subPath: gitops.json
            - name: config-volume
              mountPath: /data-portal/custom/
            {{-  else }}
            - name: "config-volume"
              mountPath: "/data-portal/data/config/pcdc.json"
              subPath: "gitops.json"
            - name: "config-volume"
              mountPath: "/data-portal/custom/logo/gitops-logo.png"
              subPath: "gitops-logo.png"
            - name: "config-volume"
              mountPath: "/data-portal/custom/createdby/gitops.png"
              subPath: "gitops-createdby.png"
            - name: "config-volume"
              mountPath: "/data-portal/custom/favicon/gitops-favicon.ico"
              subPath: "gitops-favicon.ico"
            - name: "config-volume"
              mountPath: "/data-portal/custom/css/gitops.css"
              subPath: "gitops.css"
            - name: "sponsor-img-volume"
              mountPath: "/data-portal/custom/sponsors/gitops-sponsors"
            - name: "privacy-policy"
              readOnly: true
              mountPath: "/data-portal/custom/privacy_policy.md"
              subPath: "privacy_policy.md"
            {{- end }}
{{- end }}
