{{- if and .Values.portalWebpackBuild.enabled .Values.portalWebpackBuild.s3csi.enabled }}
{{- $ns := .Release.Namespace }}
{{- $pvName := default "webpack-pv" .Values.portalWebpackBuild.s3csi.pvName }}
{{- $pvcName := default "webpack-pvc" .Values.portalWebpackBuild.s3csi.pvcName }}

{{- if .Values.portalWebpackBuild.s3csi.createPV }}
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ $pvName | quote }}
  annotations:
    "helm.sh/resource-policy": keep
spec:
  capacity:
    storage: 1Gi
  accessModes: ["ReadWriteMany"]
  storageClassName: ""
  claimRef:
    namespace: {{ $ns | quote }}
    name: {{ $pvcName | quote }}
  {{- with .Values.portalWebpackBuild.s3csi.mountOptions }}
  mountOptions:
  {{- toYaml . | nindent 2 }}
  {{- end }}
  csi:
    driver: s3.csi.aws.com
    volumeHandle: {{ required "portalWebpackBuild.s3csi.volumeHandle is required" .Values.portalWebpackBuild.s3csi.volumeHandle | quote }}
    volumeAttributes:
      bucketName: {{ required "portalWebpackBuild.s3csi.bucketName is required" .Values.portalWebpackBuild.s3csi.bucketName | quote }}
      authenticationSource: pod
      cache: emptyDir
      cacheEmptyDirSizeLimit: {{ default "500Mi" .Values.portalWebpackBuild.s3csi.cache.emptyDirSizeLimit | quote }}
---
{{- end }}

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ $pvcName | quote }}
  namespace: {{ $ns | quote }}
spec:
  accessModes: ["ReadWriteMany"]
  storageClassName: ""
  resources:
    requests:
      storage: 1Gi
  {{- if .Values.portalWebpackBuild.s3csi.createPV }}
  volumeName: {{ $pvName | quote }}
  {{- end }}
{{- end }}
