{{- if and (.Values.portalBuild.s3csi.enabled) (.Values.portalBuild.enabled) -}}
apiVersion: v1
kind: PersistentVolume
metadata:
  name: portal-pv-{{ .Release.Name }}
spec:
  capacity:
    storage: 1200Gi # ignored, required
  accessModes:
    - ReadWriteMany # supported options: ReadWriteMany / ReadOnlyMany
  storageClassName: "" # Required for static provisioning
  claimRef: # To ensure no other PVCs can claim this PV
    namespace: {{ .Release.Namespace }}
    name: portal-pvc-{{ .Release.Name }} # Name of your PVC
  {{- with .Values.portalBuild.s3csi.mountOptions }}
  mountOptions:
  {{- toYaml . | nindent 2 }}
  {{- end }}
  csi:
    driver: s3.csi.aws.com # required
    volumeHandle: portal-volume-{{ .Release.Name }}-{{ .Release.Namespace }} # Must be unique
    volumeAttributes:
      bucketName: {{ .Values.mountpointCacheBucketName }} # Name of your S3 bucket
      authenticationSource: pod
      cache: emptyDir
      cacheEmptyDirSizeLimit: {{ default "500Mi" .Values.portalBuild.s3csi.cache.emptyDirSizeLimit | quote }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: portal-pvc-{{ .Release.Name }}
spec:
  accessModes:
    - ReadWriteMany # Supported options: ReadWriteMany / ReadOnlyMany
  storageClassName: "" # Required for static provisioning
  resources:
    requests:
      storage: 1200Gi # Ignored, required
  volumeName: portal-pv-{{ .Release.Name }} # Name of your PV
{{- end }}
