apiVersion: v1
kind: Service
metadata:
  name: portal-service
  labels:
    {{- include "portal.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 80
      protocol: TCP
      name: http
  selector:
    {{- include "portal.selectorLabels" . | nindent 4 }}
