apiVersion: v1
kind: ConfigMap
metadata:
  name: revproxy-nginx-subconf
data:
{{- range $path, $bytes := .Files.Glob "gen3.nginx.conf/*.conf" }}
  {{ ($a := split "/" $path)._1 }}: |
  {{- $bytes | toString | nindent 4 }}
{{- end}}
{{- if eq "gen3ff" .Values.global.frontendRoot }}
  {{ "frontend-framework-service.conf" }}: |
  {{- .Files.Get "gen3.nginx.conf/gen3ff-as-root/frontend-framework-service.conf" | nindent 4}}
  {{ "portal-service.conf" }}: |
  {{- .Files.Get "gen3.nginx.conf/gen3ff-as-root/portal-service.conf" | nindent 4}}
{{- else }}
  {{ "frontend-framework-service.conf" }}: |
  {{- .Files.Get "gen3.nginx.conf/portal-as-root/frontend-framework-service.conf"| nindent 4}}
  {{ "portal-service.conf" }}: |
  {{- .Files.Get "gen3.nginx.conf/portal-as-root/portal-service.conf" | nindent 4}}
{{- end }}
{{- if .Values.privateIndexdEnabled }}
  {{ "indexd-service.conf" }}: |
  {{- .Files.Get "gen3.nginx.conf/indexd-private/indexd-service.conf" | nindent 4}}
{{- else }}
  {{ "indexd-service.conf" }}: |
  {{- .Files.Get "gen3.nginx.conf/indexd/indexd-service.conf" | nindent 4}}
{{- end }}
{{- range .Values.extraServices }}
  {{ printf "%s-service.conf" .name }}: |
    location {{ .path }}/ {
        if ($csrf_check !~ ^ok-\S.+$) {
          return 403 "failed csrf check";
        }

        set $proxy_service "{{ .name }}";
        set $upstream http://{{ .serviceName }}$des_domain;
        rewrite ^{{ .path }}/(.*) /$1 break;
        proxy_pass $upstream;
        proxy_redirect http://$host/ https://$host{{ .path }}/;
    }
{{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: revproxy-nginx-conf
data:
{{- range $path, $bytes := .Files.Glob "nginx/*" }}
  {{ ($a := split "/" $path)._1 }}: |
  {{- $bytes | toString | nindent 4 }}
{{- end}}
