# Default values for gearbox.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Global configuration
global:
  # -- (map) External Secrets settings.
  externalSecrets:
    # -- (bool) Will use ExternalSecret resources to pull secrets from Secrets Manager instead of creating them locally. Be cautious as this will override secrets you have deployed.
    deploy: false
    # -- (bool) Will create the databases and store the creds in Kubernetes Secrets even if externalSecrets is deployed. Useful if you want to use ExternalSecrets for other secrets besides db secrets.
    createLocalK8sSecret: false
    # -- (string) Will deploy a separate External Secret Store for this service.
    separateSecretStore: false
    # -- (string) Will use a manually deployed clusterSecretStore if defined.
    clusterSecretStoreRef: ""

  # -- (map) AWS configuration
  aws:
    # -- (bool) Set to true if deploying to AWS. Controls ingress annotations.
    enabled: false
    # -- (string) Credentials for AWS stuff.
    awsAccessKeyId:
    # -- (string) Credentials for AWS stuff.
    awsSecretAccessKey:
    externalSecrets:
      # -- (bool) Whether to use External Secrets for aws config.
      enabled: false
      # -- (String) Name of Secrets Manager secret.
      externalSecretAwsCreds:
    # -- (map) Local secret setting if using a pre-exising secret.
    useLocalSecret:
      # -- (bool) Set to true if you would like to use a secret that is already running on your cluster.
      enabled: false
      # -- (string) Name of the local secret.
      localSecretName:
  # -- (string) Environment name. This should be the same as vpcname if you're doing an AWS deployment. Currently this is being used to share ALB's if you have multiple namespaces. Might be used other places too.
  environment: default
  # -- (bool) If the service will be deployed with a Pod Disruption Budget. Note- you need to have more than 2 replicas for the pdb to be deployed.
  pdb: false
  # -- (int) The minimum amount of pods that are available at all times if the PDB is deployed.
  minAvailable: 1
  # -- (map) External Secrets settings.
  externalSecrets:
    # -- (bool) Will use ExternalSecret resources to pull secrets from Secrets Manager instead of creating them locally. Be cautious as this will override any gearbox secrets you have deployed.
    deploy: false
    # -- (string) Will deploy a separate External Secret Store for this service.
    separateSecretStore: false
  # -- (map) Kubernetes configuration
  crossplane:
    # -- (bool) Set to true if deploying to AWS and want to use crossplane for AWS resources.
    enabled: false
    # -- (string) The name of the crossplane provider config.
    providerConfigName: provider-aws
    # -- (string) OIDC provider URL. This is used for authentication of roles/service accounts.
    oidcProviderUrl: oidc.eks.us-east-1.amazonaws.com/id/12345678901234567890
    # -- (string) The account ID of the AWS account.
    accountId: 123456789012
    s3:
      # -- (string) The kms key id for the s3 bucket.
      kmsKeyId:
      # -- (bool) Whether to use s3 bucket versioning.
      versioningEnabled: false
  #  -- (map) This section is for setting up autoscaling more information can be found here: https://kubernetes.io/docs/concepts/workloads/autoscaling/
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 10
    averageCPUValue: 500m
    averageMemoryValue: 500Mi
  # -- (map) Karpenter topology spread configuration.
  topologySpread:
    # -- (bool) Whether to enable topology spread constraints for all subcharts that support it.
    enabled: false
    # -- (string) The topology key to use for spreading. Defaults to "topology.kubernetes.io/zone".
    topologyKey: "topology.kubernetes.io/zone"
    # -- (int) The maxSkew to use for topology spread constraints. Defaults to 1.
    maxSkew: 1

  # -- (map) Controls network policy settings
  netPolicy:
    enabled: false

  postgres:
    # -- (bool) Whether the database should be created.
    dbCreate: true
    # -- (string) Name of external secret. Disabled if empty
    externalSecret: ""
    # -- (map) Master credentials to postgres. This is going to be the default postgres server being used for each service, unless each service specifies their own postgres
    master:
      # -- (string) hostname of postgres server
      host:
      # -- (string) username of superuser in postgres. This is used to create or restore databases
      username: postgres
      # -- (string) password for superuser in postgres. This is used to create or restore databases
      password:
      # -- (string) Port for Postgres.
      port: "5432"

# -- (map) Postgres database configuration. If db does not exist in postgres cluster and dbCreate is set ot true then these databases will be created for you
postgres:
  # (bool) Whether the database should be restored from s3. Default to global.postgres.dbRestore
  dbRestore: false
  # -- (bool) Whether the database should be created. Default to global.postgres.dbCreate
  dbCreate:
  # -- (string) Hostname for postgres server. This is a service override, defaults to global.postgres.host
  host:
  # -- (string) Database name for postgres. This is a service override, defaults to <serviceName>-<releaseName>
  database:
  # -- (string) Username for postgres. This is a service override, defaults to <serviceName>-<releaseName>
  username:
  # -- (string) Port for Postgres.
  port: "5432"
  # -- (string) Password for Postgres. Will be autogenerated if left empty.
  password:
  # -- (string) Will create a Database for the individual service to help with developing it.
  separate: false

# -- (map) Postgresql subchart settings if deployed separately option is set to "true".
# Disable persistence by default so we can spin up and down ephemeral environments
postgresql:
  primary:
    persistence:
      # -- (bool) Option to persist the dbs data.
      enabled: false

#  -- (map) This section is for setting up autoscaling more information can be found here: https://kubernetes.io/docs/concepts/workloads/autoscaling/
autoscaling: {}

# -- (bool) Whether Metrics are enabled.
metricsEnabled:

# -- (map) External Secrets settings.
externalSecrets:
  # -- (string) Will create the Helm "gearbox-g3auto" secret even if Secrets Manager is enabled. This is helpful if you are wanting to use External Secrets for some, but not all secrets.
  createK8sgearboxSecret: false
  # -- (string) Will override the name of the aws secrets manager secret. Default is "gearbox-g3auto"
  gearboxG3auto:
# -- (map) Secret information for External Secrets.
secrets:
  # -- (str) AWS access key ID. Overrides global key.
  awsAccessKeyId:
  # -- (str) AWS secret access key ID. Overrides global key.
  awsSecretAccessKey:

# -- (int) Number of old revisions to retain
revisionHistoryLimit: 2

# -- (int) Number of replicas for the deployment.
replicaCount: 1

# -- (map) Docker image information.
image:
  # -- (string) Docker repository.
  repository: quay.io/cdis/gearbox
  # -- (string) Docker pull policy.
  pullPolicy: Always
  # -- (string) Overrides the image tag whose default is the chart appVersion.
  tag: ""

# -- (map) Kubernetes service information.
service:
  # -- (string) Type of service. Valid values are "ClusterIP", "NodePort", "LoadBalancer", "ExternalName".
  type: ClusterIP
  # -- (int) The port number that the service exposes.
  port: 80
  targetPort: 80

# -- (map) Service account to use or create.
serviceAccount:
  # -- (bool) Specifies whether a service account should be created.
  create: true
  # -- (map) Annotations to add to the service account.
  annotations: {}
  # -- (string) The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

# -- (map) Rolling update deployment strategy
strategy:
  type: RollingUpdate
  rollingUpdate:
    # -- (int) Number of additional replicas to add during rollout.
    maxSurge: 1
    # -- (int) Maximum amount of pods that can be unavailable during the update.
    maxUnavailable: 0

# -- (map) Affinity to use for the deployment.
affinity:
  podAntiAffinity:
    # -- (map) Option for scheduling to be required or preferred.
    preferredDuringSchedulingIgnoredDuringExecution:
      # -- (int) Weight value for preferred scheduling.
      - weight: 100
        podAffinityTerm:
          labelSelector:
            matchExpressions:
              # -- (list) Label key for match expression.
              - key: app
                # -- (string) Operation type for the match expression.
                operator: In
                # -- (list) Value for the match expression key.
                values:
                  - gearbox
          # -- (string) Value for topology key label.
          topologyKey: "kubernetes.io/hostname"

# -- (bool) Automount the default service account token
automountServiceAccountToken: false

# -- (list) Volumes to attach to the container.
volumes:
  - name: config-volume
    secret:
      secretName: "gearbox-g3auto"
  - name: gearbox-middleware-jwt-keys
    secret:
      secretName: "gearbox-middleware-jwt-keys"
      items:
        - key: jwt_public_key.pem
          path: jwt_public_key.pem
      optional: false
# -- (int) Grace period that applies to the total time it takes for both the PreStop hook to execute and for the Container to stop normally.
terminationGracePeriodSeconds: 50

# -- (list) Environment variables to pass to the container
env:
  - name: GEN3_DEBUG
    value: "False"
  - name: DB_DATABASE
    valueFrom:
      secretKeyRef:
        name: gearbox-dbcreds
        key: database
        optional: false
  - name: DB_HOST
    valueFrom:
      secretKeyRef:
        name: gearbox-dbcreds
        key: host
        optional: false
  - name: DB_USER
    valueFrom:
      secretKeyRef:
        name: gearbox-dbcreds
        key: username
        optional: false
  - name: ADMIN_LOGINS
    valueFrom:
      secretKeyRef:
        name: gearbox-g3auto
        key: base64Authz.txt
        optional: true
  - name: DB_PASSWORD
    valueFrom:
      secretKeyRef:
        name: gearbox-dbcreds
        key: password
        optional: false
  - name: DBREADY
    valueFrom:
      secretKeyRef:
        name: gearbox-dbcreds
        key: dbcreated
        optional: false

# -- (list) Volumes to mount to the container.
volumeMounts:
  - name: "gearbox-middleware-jwt-keys"
    readOnly: true
    mountPath: "/gearbox/src/gearbox/keys/jwt_public_key.pem"
    subPath: jwt_public_key.pem
  - name: config-volume
    readOnly: true
    mountPath: /gearbox/.env
    subPath: gearbox.env

initVolumeMounts:
  - name: config-volume
    readOnly: true
    mountPath: /gearbox/.env
    subPath: gearbox.env

# -- (map) Resource requests and limits for the containers in the pod
resources:
  # -- (map) The amount of resources that the container requests
  requests:
    # -- (string) The amount of memory requested
    memory: 12Mi
  # -- (map) The maximum amount of resources that the container is allowed to use
  limits:
    # -- (string) The maximum amount of memory the container can use
    memory: 512Mi

# -- (map) Values for gearbox secret. If the variable you want to change is not listed here it can be added to
gearboxG3auto:
  hostname: "localhost"
  # -- (string) AWS access key.
  awsaccesskey: ""
  # -- (string) AWS secret access key.
  awssecretkey: ""
  # -- (string) region for AWS.
  awsRegion: "us-east-1"
  # -- (bool) Whether to set gearbox backend into testing mode.
  testing: False
  # -- (bool) Whether to run in debug mode.
  debug: False
  # -- (bool) Whether to allow for phi.
  enablePhi: False
  # -- (string) use a public dummy S3 bucket for testing presigned urls
  dummyS3: True
  # -- (string) accepted issuers in fence tokens.
  allowedIssuers: "http://fence-service/,https://localhost/user"
  # -- (string) url for fence.
  userApi: "http://fence-service/"
  # -- (string) whether to use the userApi value when validating tokens.
  forceIssuer: True
  # -- (string) public key path for service to service requests with gearbox.
  gearboxMiddlewarePublicKeyPath: "/gearbox/src/gearbox/keys/jwt_public_key.pem"

# Values to determine the labels that are used for the deployment, pod, etc.
# -- (string) Valid options are "production" or "dev". If invalid option is set- the value will default to "dev".
release: "production"
# -- (string) Valid options are "true" or "false". If invalid option is set- the value will default to "false".
criticalService: "true"
# -- (string) Label to help organize pods and their use. Any value is valid, but use "_" or "-" to divide words.
partOf: "Workspace-tab"
# -- (map) Will completely override the selectorLabels defined in the common chart's _label_setup.tpl
selectorLabels:
# -- (map) Will completely override the commonLabels defined in the common chart's _label_setup.tpl
commonLabels:

# -- (map) Security context for the pod
podSecurityContext:
  {}
  # fsGroup: 2000

# -- (map) Security context for the containers in the pod
securityContext:
  {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000
