name: Lint and Test Charts

on: pull_request

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.10.0

      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          check-latest: true

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.6.1

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --config .github/ct.yaml)
          if [[ -n "$changed" ]]; then
            echo "changed=true >> $GITHUB_OUTPUT"
          fi

      - name: Run chart-testing (lint)
        run: ct lint --config .github/ct.yaml

      - name: Helm deps
        run: |
          helm dependency build ./helm/gen3

      - name: Set up Kubeconform
        id: setup-kubeconform
        uses: bmuschko/setup-kubeconform@v1
        with:
          kubeconform-version: '0.6.1'

      - name: Print Kubeconform installation path
        env:
          KUBECONFORM_INSTALLATION_PATH: ${{ steps.setup-kubeconform.outputs.installation-path }}
        run: |
            echo "Kubeconform installed..."
            echo "Installation path: ${KUBECONFORM_INSTALLATION_PATH}"
        shell: bash
  
      - name: Helm deps
        run: |
          helm template gen3 ./helm/gen3 -f ./.github/workflows/lint_values/values.yaml | kubeconform --summary --strict


      # - name: helm-check
      #   uses: igabaydulin/helm-check-action@0.1.4
      #   env:
      #     CHART_LOCATION: ./helm/gen3
      #     CHART_VALUES: ./.github/workflows/lint_values/values.yaml



  # TODO: add back in when we have tests
  # deploy-and-test-chart:
  #   name: Deploy and Test Chart
  #   timeout-minutes: 20
  #   runs-on: ubuntu-latest
  #   steps:

  #     - name: Checkout
  #       uses: actions/checkout@v2
  #       with:
  #         fetch-depth: 0

  #     - name: Set up Helm
  #       uses: azure/setup-helm@v3

  #     - name: Set up chart-testing
  #       uses: helm/chart-testing-action@v2.6.1


  #     - name: Create kind cluster
  #       uses: helm/kind-action@v1.8.0
      

  #     - name: Run chart install + testing
  #       run: ct install --charts ./helm/gen3 --config .github/ct.yaml
