name: Lint and Test Charts

on: pull_request

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.10.0

      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          check-latest: true

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.6.1

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --config .github/ct.yaml)
          if [[ -n "$changed" ]]; then
            echo "changed=true >> $GITHUB_OUTPUT"
          fi

      - name: Run chart-testing (lint)
        run: ct lint --config .github/ct.yaml

      - name: Helm deps
        run: |
          helm dependency build ./helm/gen3

      - name: Set up Kubeconform
        id: setup-kubeconform
        uses: bmuschko/setup-kubeconform@v1
        with:
          kubeconform-version: '0.6.1'

      - name: Print Kubeconform installation path
        env:
          KUBECONFORM_INSTALLATION_PATH: ${{ steps.setup-kubeconform.outputs.installation-path }}
        run: |
            echo "Kubeconform installed..."
            echo "Installation path: ${KUBECONFORM_INSTALLATION_PATH}"
        shell: bash
      
      # - name: Kubeconform
      #   run: |
      #     #!/usr/bin/env bash
      #     set -euo pipefail

      #     is_library() {
      #       local chart_dir="$1"
      #       if command -v yq >/dev/null 2>&1; then
      #         [[ "$(yq -r '.type // ""' "$chart_dir/Chart.yaml" 2>/dev/null)" == "library" ]]
      #       else
      #         grep -Eq '^[[:space:]]*type:[[:space:]]*library[[:space:]]*$$' "$chart_dir/Chart.yaml"
      #       fi
      #     }

      #     while IFS= read -r chart; do
      #       if is_library "$chart"; then
      #         echo ">>> Skipping library chart: $chart"
      #         continue
      #       fi

      #       echo "=== Validating chart: $chart ==="
      #       helm dep up "$chart" >/dev/null
      #       helm template "$chart" --include-crds \
      #       | kubeconform --summary -ignore-missing-schemas
      #       echo
      #     done < <(find helm -type f -name Chart.yaml -print0 | xargs -0 -n1 dirname | sort)


      - name: Kubeconform Parrallel
        run: |
          export -f is_library
          is_library() {
            local chart_dir="$1"
            if command -v yq >/dev/null 2>&1; then
              [[ "$(yq -r '.type // ""' "$chart_dir/Chart.yaml" 2>/dev/null)" == "library" ]]
            else
              grep -Eq '^[[:space:]]*type:[[:space:]]*library[[:space:]]*$$' "$chart_dir/Chart.yaml"
            fi
          }

          find helm -type f -name Chart.yaml -print0 \
          | xargs -0 -n1 dirname \
          | sort \
          | parallel --halt now,fail=1 '
            chart={}
            if is_library "$chart"; then
              echo ">>> Skipping library chart: $chart"
              exit 0
            fi

            echo "=== Validating: $chart ==="
            helm dep up "$chart" >/dev/null
            helm template "$chart" --include-crds \
            | kubeconform --summary -ignore-missing-schemas
            echo
          '


      # - name: Kubeconform
      #   run: |
      #     helm template gen3 ./helm/gen3 -f ./.github/workflows/lint_values/values.yaml | kubeconform --summary -ignore-missing-schemas



  # TODO: add back in when we have tests
  # deploy-and-test-chart:
  #   name: Deploy and Test Chart
  #   timeout-minutes: 20
  #   runs-on: ubuntu-latest
  #   steps:

  #     - name: Checkout
  #       uses: actions/checkout@v2
  #       with:
  #         fetch-depth: 0

  #     - name: Set up Helm
  #       uses: azure/setup-helm@v3

  #     - name: Set up chart-testing
  #       uses: helm/chart-testing-action@v2.6.1


  #     - name: Create kind cluster
  #       uses: helm/kind-action@v1.8.0
      

  #     - name: Run chart install + testing
  #       run: ct install --charts ./helm/gen3 --config .github/ct.yaml
