apiVersion: apps/v1
kind: Deployment
metadata:
  name: aws-es-proxy-deployment
  annotations:
  {{- with .Values.podAnnotations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
    {{- include "aws-es-proxy.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "aws-es-proxy.selectorLabels" . | nindent 6 }}
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  {{- with .Values.strategy }}
  strategy:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  template:
    metadata:
      labels:
        {{- include "aws-es-proxy.selectorLabels" . | nindent 8 }}
        {{- include "common.extraLabels" . | nindent 8 }}
        netvpc: "yes"
    annotations:
      {{- if .Values.metricsEnabled }}
      {{- include "common.grafanaAnnotations" . | nindent 8 }}
      {{- end }}
    spec:
      automountServiceAccountToken: {{ .Values.automountServiceAccountToken }}
      volumes:
        - name: credentials
          secret:
            secretName: {{.Chart.Name}}-aws-config
      containers:
        - name: "esproxy"
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- with .Values.ports}}
          ports:
            {{- toYaml . | nindent 12}}
          {{- end }}
          env:
            - name: ES_ENDPOINT
              value: {{ .Values.esEndpoint }}
          {{- with .Values.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 10 }}
          {{- end }}
          command: ["/bin/sh"]
          # NOTE- NEED TO RUN `gen3 kube-setup-aws-es-proxy` TO POPULATE ES_ENDPOINT - ugh!
          # NOTE- `gen3 roll aws-es-proxy` WILL NOT WORK!
          args:
            - "-c"
            - |
              if [ -f /aws-es-proxy ];
              then
                # 1.3 needs this PR: https://github.com/uc-cdis/aws-es-proxy/pull/2
                # aws-es-proxy 1.0+ is prone to throw ES timeout error from client
                # customize timeout value to compensate this, note the -timeout option only works for 1.2+
                BINARY="/aws-es-proxy -timeout 180"
              elif [ -f /usr/local/bin/aws-es-proxy ];
              then
                # 0.9
                BINARY=/usr/local/bin/aws-es-proxy
              elif [ -f /go/src/github.com/abutaha/aws-es-proxy/aws-es-proxy ];
              then
                # 0.8
                BINARY=/go/src/github.com/abutaha/aws-es-proxy/aws-es-proxy
              fi
              ${BINARY} -endpoint "https://$ES_ENDPOINT" -verbose -listen ":9200"
          resources:
            {{- toYaml .Values.resources | nindent 12 }}