apiVersion: v1
kind: Service
metadata:
  name: elasticsearch
  labels:
    {{- include "aws-es-proxy.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
      protocol: TCP
      name: https
  selector:
    {{- include "aws-es-proxy.selectorLabels" . | nindent 4 }}
