apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "aws-es-proxy.serviceAccountName" . }}
  labels:
    {{- include "aws-es-proxy.labels" . | nindent 4 }}
  annotations:
    {{- if .Values.global.aws.enabled }}
    eks.amazonaws.com/role-arn: {{default .Values.global.aws.awEsProxyRoleArn (eval "arn:aws:iam::{{ .Values.global.aws.account }}:role/{{ .Values.global.aws.awsEsProxyRole }}")}}
    {{- else }}
    {{- with .Values.serviceAccount.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- end }}
