apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "aws-es-proxy.serviceAccountName" . }}
  labels:
    {{- include "aws-es-proxy.labels" . | nindent 4 }}
  annotations:
  {{- if and .Values.global.crossplane .Values.global.aws.enabled }}
  eks.amazonaws.com/role-arn: "{{ .Values.global.environment }}-{{ include "aws-es-proxy.serviceAccountName" . }}"
  {{- else if .Values.global.aws.enabled }}
  eks.amazonaws.com/role-arn: "{{ default (tpl "arn:aws:iam::{{ .Values.global.aws.account }}:role/{{ .Values.global.aws.awsEsProxyRole }}" .) .Values.global.aws.awsEsProxyRoleArn }}"
  {{- else }}
  {{- with .Values.serviceAccount.annotations }}
{{ toYaml . | nindent 4 }}
  {{- end }}
  {{- end }}