{{- if .Values.enabled -}}
{{- $existing := lookup "v1" "ConfigMap" .Release.Namespace $cmName -}}
{{- if not $existing }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "dataUploadCron.stateConfigMapName" . }}
  labels:
    {{- include "dataUploadCron.labels" . | nindent 4 }}
data:
  {{ .Values.configmaps.state.lastRunKey }}: {{ .Values.configmaps.state.initialLastRun | quote }}
{{- end }}
{{- end }}
---
{{ if .Values.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "dataUploadCron.pendingConfigMapName" . }}
  labels:
    {{- include "dataUploadCron.labels" . | nindent 4 }}
data:
  {{ .Values.configmaps.pending.pendingKey }}: {{ .Values.configmaps.pending.initialPending | quote }}
{{- end -}}
